Repository ServiceNow/azimuth: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, frontend types, flake8, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
        - id: check-yaml
          exclude: docs
        - id: end-of-file-fixer
          types: [ python ]
        - id: trailing-whitespace
        - id: pretty-format-json
          args: [--autofix, --no-sort-keys]
          exclude: webapp
  - repo: local
    hooks:
      - id: black
        name: black
        language: system
        entry: poetry run black
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types_or: [ python, pyi ]
  - repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
        - id: autoflake
          args:
            - --expand-star-imports
            - --ignore-init-module-imports
            - --in-place
            - --remove-all-unused-imports
            - --remove-duplicate-keys
            - --remove-unused-variables
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: bash -c 'cd webapp && yarn prettier --write .'
        files: webapp
  - repo: local
    hooks:
      - id: frontend types
        name: Regenerate frontend types
        language: system
        entry: bash -c 'cd webapp && yarn types'
        files: azimuth
  - repo: local
    hooks:
      - id: flake8
        name: flake8
        language: system
        entry: poetry run flake8
        types: [ python ]
  - repo: https://github.com/pycqa/isort
    rev: 5.8.0
    hooks:
      - id: isort
        name: isort
        args: [ "--profile", "black", "--skip", "__init__.py", "--filter-files" ]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        language: system
        verbose: true
        entry: bash -c 'poetry run mypy "azimuth" || true' --
        files: azimuth
        pass_filenames: false

Move model-contract in ModelContractConfig and remove from artifact_path (#402)
  azimuth/config.py
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Deployed 7126b82 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Fix back end when updating the config (#395)
  azimuth/modules/model_contracts/text_classification.py
  azimuth/utils/logs.py
  tests/conftest.py
  tests/test_modules/test_model_contracts/test_text_classification.py
  tests/test_routers/admin/test_admin.py
Due: frontend types, flake8, mypy

Deployed e45358b to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Add default config to config page UI (#396)
  webapp/src/pages/Settings.tsx
  webapp/src/services/api.ts
Due: prettier

Deployed 5cca244 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Indent so that the next commit is clearer
  webapp/src/pages/Settings.tsx
Due: prettier

Fix config number fields
  webapp/src/pages/Settings.tsx
Due: prettier

Adapt dataset warnings so it works with one dataset split (#390)
  azimuth/modules/dataset_analysis/dataset_warnings.py
  azimuth/plots/dataset_warnings.py
  azimuth/routers/v1/dataset_warnings.py
  tests/test_modules/test_dataset_analysis/test_dataset_warnings.py
  tests/test_routers/test_dataset_warnings.py
  tests/utils.py
  webapp/src/pages/Dashboard.tsx
Due: prettier, frontend types, flake8, mypy

Deployed 33add7b to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Add a config scope for MetricsPerFilterModule (#399)
  azimuth/config.py
  azimuth/modules/model_performance/metrics.py
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Deployed 80bd5ab to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Disable apply button while changes are being applied
  webapp/src/pages/Settings.tsx
Due: prettier

add review comments to invalidate all tags
  webapp/src/services/api.ts
Due: prettier

Fix config number fields (#404)
  webapp/src/pages/Settings.tsx
Due: prettier

Deployed a8215e3 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Support empty list for pipelines
  azimuth/utils/project.py
  config/development/clinc_dummy/conf_no_model.json
Due: frontend types, flake8, mypy

Disable apply button while changes are being applied (#405)
  webapp/src/pages/Settings.tsx
Due: prettier

Deployed e289fe2 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Support empty list of pipelines in front end
  webapp/src/pages/Settings.tsx
  webapp/src/services/api.ts
Due: prettier

Add "Status" service API tag to trigger start up task on config update (#397)
  webapp/src/services/api.ts
Due: prettier

Add status completion message to statuscheck component
  webapp/src/components/PipelineCheck.tsx
  webapp/src/components/StatusCheck.tsx
Due: prettier

Add start-up task completion message
  webapp/src/components/PipelineCheck.tsx
Due: prettier

removed unused immport at pipelinecheck and modified design when startup tasks are finished
  webapp/src/components/PipelineCheck.tsx
  webapp/src/components/StatusCheck.tsx
Due: prettier

Moved code inside typography
  webapp/src/components/StatusCheck.tsx
Due: prettier

Improve router test
  tests/test_routers/admin/test_admin.py
Due: flake8

Add start-up task completion message before the application is loaded (#403)
  webapp/src/components/StatusCheck.tsx
Due: prettier

Update tests/test_routers/admin/test_admin.py
  tests/test_routers/admin/test_admin.py
Due: flake8

Improve router test (#407)
  tests/test_routers/admin/test_admin.py
Due: flake8

Deployed 837ea5c to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Adapt based on comments
  azimuth/config.py
  azimuth/utils/project.py
Due: frontend types, flake8, mypy

Inherit behavioral test config from AzimuthBaseSettings
  azimuth/config.py
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Fix column name in dataset warnings
  azimuth/modules/dataset_analysis/dataset_warnings.py
Due: frontend types, flake8, mypy

Inherit behavioral test config from AzimuthBaseSettings (#409)
  azimuth/config.py
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Fix column name in dataset warnings (#410)
  azimuth/modules/dataset_analysis/dataset_warnings.py
Due: frontend types, flake8, mypy

Deployed abfa7c1 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Deployed a3a4e1a to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Apply suggestions from code review
  azimuth/config.py
Due: frontend types, flake8, mypy
