Repository ServiceNow/azimuth: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, frontend types, flake8, mypy

prettier:
  name: prettier
  language: system
  entry: bash -c 'cd webapp && yarn prettier --write .'

frontend types:
  name: Regenerate frontend types
  language: system
  entry: bash -c 'cd webapp && yarn types'

flake8:
  name: flake8
  language: system
  entry: poetry run flake8

mypy:
  name: mypy
  language: system
  verbose: true
  entry: bash -c 'poetry run mypy "azimuth" || true' --
  pass_filenames: false

Handle validation errors and internal errors like `HTTPException`s
  azimuth/app.py
  tests/test_routers/test_export.py
  tests/test_routers/test_model_performance/test_confidence_histogram.py
  tests/test_routers/test_utterances.py
Due: frontend types, flake8, mypy

Adjust OpenAPI spec (and generated types)
  azimuth/app.py
  webapp/src/types/api.ts
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Support dataset-only smart tag analysis (#478)
  CHANGELOG.md
  webapp/src/components/Controls/FilterDistribution.tsx
  webapp/src/components/SmartTagsTable.tsx
  webapp/src/pages/Dashboard.tsx
  webapp/src/pages/SmartTags.tsx
  webapp/src/utils/helpers.ts
Due: prettier

Deployed 9986fad to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Beef up comments
  azimuth/app.py
Due: frontend types, flake8, mypy

Changed confirm to alert
  webapp/src/pages/Settings.tsx
Due: prettier

Prompt display on modal close
  webapp/src/pages/Settings.tsx
Due: prettier

Add dialog to config UI
  webapp/src/components/PageHeader.tsx
  webapp/src/pages/Settings.tsx
Due: prettier

conflict resolved, cosmetic refinement, title and close icon made sticky
  webapp/src/pages/Settings.tsx
Due: prettier

remove disableEsckey, onclose on Dialog
  webapp/src/components/PageHeader.tsx
Due: prettier

simplified conditions on closing modal
  webapp/src/App.tsx
  webapp/src/pages/Settings.tsx
Due: prettier

change XIcon to close, remove onclose reason, add disableEscKey
  webapp/src/components/PageHeader.tsx
  webapp/src/pages/Settings.tsx
Due: prettier

Add modal to config, close modal on discard, disable esc, backdrop click
  webapp/src/App.tsx
  webapp/src/components/PageHeader.tsx
  webapp/src/pages/Settings.tsx
Due: prettier

Review comments - CSS clean up, removal of tooltip, change of param - onclose
  webapp/src/components/PageHeader.tsx
  webapp/src/pages/Settings.tsx
Due: prettier

Remove default value properties, space cleanup
  webapp/src/components/PageHeader.tsx
  webapp/src/pages/Settings.tsx
Due: prettier

disable fields, buttons while updating, name change for button, close modal after apply
  webapp/src/pages/Settings.tsx
Due: prettier

send onclose function to child component to close modal
  webapp/src/components/PageHeader.tsx
  webapp/src/pages/Settings.tsx
Due: prettier

Add confusion matrix interaction
  docs/docs/user-guide/exploration-space/confusion-matrix.md
Due: none

Add outcome per threshold enhancements
  docs/docs/_static/images/dashboard/post-processing-analysis.png
  docs/docs/user-guide/post-processing-analysis.md
Due: none

Add dataset warnings enhancements
  docs/docs/_static/images/dataset-warnings/dataset-warnings-4.png
  docs/docs/user-guide/dataset-warnings.md
Due: none

Add smart tag analysis enhancements
  docs/docs/user-guide/smart-tag-analysis.md
Due: none

Document required splits and csv helper function
  docs/docs/reference/custom-objects/dataset.md
Due: none

Document settings page changes
  docs/docs/_static/images/settings.png
  docs/docs/user-guide/settings.md
Due: none

Document proposed actions and persistent_id
  docs/docs/_static/images/exploration-space/import-export.png
  docs/docs/_static/images/exploration-space/utterance-table.png
  docs/docs/reference/configuration/project.md
  docs/docs/user-guide/exploration-space/index.md
  docs/docs/user-guide/exploration-space/utterance-table.md
Due: none

Update release notes
  CHANGELOG.md
  docs/docs/getting-started/changelog.md
Due: none

Update release in pyproject
  pyproject.toml
Due: none

Fix outcome per threshold plot overflow
  webapp/src/components/ThresholdPlot.tsx
Due: prettier

Make config validation errors human readable
  azimuth/routers/config.py
Due: frontend types, flake8, mypy

Caps change for button, add unwrap and then to close the modal
  webapp/src/pages/Settings.tsx
Due: prettier

Revert closing on discard
  webapp/src/pages/Settings.tsx
Due: prettier

Disable `Apply` button if there is nothing to apply
  webapp/src/pages/Settings.tsx
Due: prettier

Make section title case uniform
  webapp/src/pages/Settings.tsx
Due: prettier

Fix outcome per threshold plot overflow (#485)
  webapp/src/components/ThresholdPlot.tsx
Due: prettier

Set `Dialog` `fullWidth` so it always takes the full `md` width
  webapp/src/components/PageHeader.tsx
Due: prettier

Move config to a modal (#437)
  webapp/src/App.tsx
  webapp/src/components/PageHeader.tsx
  webapp/src/pages/Settings.tsx
Due: prettier

Deployed 9f49174 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Apply suggestions from code review
  docs/docs/user-guide/exploration-space/confusion-matrix.md
  docs/docs/user-guide/exploration-space/index.md
  docs/docs/user-guide/exploration-space/utterance-table.md
  docs/docs/user-guide/settings.md
Due: none

Path conditions:
  prettier: any of: webapp
  frontend types: any of: azimuth
  flake8: any of: \.py$
  mypy: any of: azimuth
