Repository ServiceNow/azimuth: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, frontend types, flake8, mypy

prettier:
  name: prettier
  language: system
  entry: bash -c 'cd webapp && yarn prettier --write .'

frontend types:
  name: Regenerate frontend types
  language: system
  entry: bash -c 'cd webapp && yarn types'

flake8:
  name: flake8
  language: system
  entry: poetry run flake8

mypy:
  name: mypy
  language: system
  verbose: true
  entry: bash -c 'poetry run mypy "azimuth" || true' --
  pass_filenames: false

Save modules metadata
  README.md
  azimuth/modules/base_classes/caching.py
  azimuth/modules/base_classes/dask_module.py
  azimuth/modules/base_classes/module.py
  azimuth/types/general/module_options.py
  tests/test_modules/test_caching.py
Due: frontend types, flake8, mypy

Change based on review
  azimuth/modules/base_classes/caching.py
  azimuth/modules/base_classes/dask_module.py
  azimuth/modules/base_classes/module.py
  azimuth/modules/model_contracts/hf_text_classification.py
  azimuth/types/__init__.py
  azimuth/types/general/module_arguments.py
  azimuth/utils/ml/saliency.py
  tests/test_modules/test_caching.py
  tests/test_modules/test_model_contracts/test_hf_text_classification.py
Due: frontend types, flake8, mypy

Use `mktemp` to store the OpenAPI spec
  webapp/package.json
Due: prettier

Save modules' effective args in cache (#352)
  README.md
  azimuth/modules/base_classes/caching.py
  azimuth/modules/base_classes/dask_module.py
  azimuth/modules/base_classes/module.py
  azimuth/modules/model_contracts/hf_text_classification.py
  azimuth/types/__init__.py
  azimuth/types/general/module_arguments.py
  azimuth/utils/ml/saliency.py
  tests/test_modules/test_caching.py
  tests/test_modules/test_model_contracts/test_hf_text_classification.py
Due: frontend types, flake8, mypy

Deployed 4dd88aa to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Use `mktemp` to store the OpenAPI spec (#364)
  webapp/package.json
Due: prettier

Deployed fe49454 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Move time attribute so it does not need to be defined for new expirable modules
  azimuth/modules/README.md
  azimuth/modules/base_classes/aggregation_module.py
  azimuth/modules/base_classes/dask_module.py
Due: frontend types, flake8, mypy

Add new metric scope
  azimuth/config.py
  azimuth/modules/model_performance/metrics.py
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Fix scope of outcome count because it is an expirable module
  azimuth/modules/model_performance/outcome_count.py
Due: frontend types, flake8, mypy

Remove from metrics per filter values that are not used
  azimuth/modules/model_performance/metrics.py
  azimuth/types/model_performance.py
  tests/test_modules/test_model_performance/test_metrics.py
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Fix class overlap
  webapp/src/components/ClassOverlapTable.tsx
Due: prettier

Select available dataset by default for behavioral testing preview
  webapp/src/components/Analysis/PerturbationTestingPreview.tsx
  webapp/src/components/Analysis/PreviewToggle.tsx
Due: prettier

Select available dataset by default for exploration space
  webapp/src/pages/Dashboard.tsx
Due: prettier

Better manage loading `datasetInfo`
  webapp/src/components/ClassOverlapTable.tsx
  webapp/src/pages/Dashboard.tsx
Due: prettier

Manage `PreviewCard` default content height in the component
  webapp/src/components/Analysis/PreviewCard.tsx
  webapp/src/pages/Dashboard.tsx
Due: prettier

Add dataset split in URL for smart tag analysis page
  webapp/src/App.tsx
  webapp/src/components/Analysis/SmartTagsPreviewCard.tsx
  webapp/src/components/PageHeader.tsx
  webapp/src/components/SmartTagsTable.tsx
  webapp/src/pages/Dashboard.tsx
  webapp/src/pages/SmartTags.tsx
Due: prettier

Add dataset split in URL for pipeline performance page
  webapp/src/App.tsx
  webapp/src/components/Analysis/PerformanceAnalysisPreviewCard.tsx
  webapp/src/components/Metrics/PerformanceAnalysis.tsx
  webapp/src/components/Metrics/PerformanceAnalysisTable.tsx
  webapp/src/components/PageHeader.tsx
  webapp/src/pages/Dashboard.tsx
  webapp/src/pages/PerformanceAnalysis.tsx
Due: prettier

Polish error messages
  webapp/src/services/api.ts
Due: prettier

Add better support for csv files
  azimuth/modules/dataset_analysis/syntax_tagging.py
  azimuth_shr/loading_resources.py
  tests/test_loading_resources.py
Due: frontend types, flake8, mypy

Test `Description`
  webapp/src/components/AccordionLayout.test.tsx
  webapp/src/components/Description.test.tsx
Due: prettier

Add dataset split in URL for class overlap page
  webapp/src/App.tsx
  webapp/src/components/PageHeader.tsx
  webapp/src/pages/ClassOverlap.tsx
  webapp/src/pages/Dashboard.tsx
Due: prettier

Refactor into a generic component `WithDatasetSplitNameState`
  webapp/src/components/Analysis/PerformanceAnalysisPreviewCard.tsx
  webapp/src/components/Analysis/SmartTagsPreviewCard.tsx
  webapp/src/components/WithDatasetSplitNameState.tsx
  webapp/src/pages/Dashboard.tsx
Due: prettier

Revert "Manage `PreviewCard` default content height in the component"
  webapp/src/components/Analysis/PreviewCard.tsx
  webapp/src/pages/Dashboard.tsx
Due: prettier

Support no evaluation set (#365)
  webapp/src/App.tsx
  webapp/src/components/Analysis/PerturbationTestingPreview.tsx
  webapp/src/components/Analysis/PreviewToggle.tsx
  webapp/src/components/ClassOverlapTable.tsx
  webapp/src/components/Metrics/PerformanceAnalysis.tsx
  webapp/src/components/Metrics/PerformanceAnalysisTable.tsx
  webapp/src/components/PageHeader.tsx
  webapp/src/components/SmartTagsTable.tsx
  webapp/src/components/WithDatasetSplitNameState.tsx
  webapp/src/pages/ClassOverlap.tsx
  webapp/src/pages/Dashboard.tsx
  webapp/src/pages/PerformanceAnalysis.tsx
  webapp/src/pages/SmartTags.tsx
  webapp/src/services/api.ts
Due: prettier

Test `Description` (#369)
  webapp/src/components/AccordionLayout.test.tsx
  webapp/src/components/Description.test.tsx
Due: prettier

Resolve ignored mypy error
  azimuth/routers/v1/utterances.py
  azimuth/types/model_performance.py
Due: frontend types, flake8, mypy

Fix reference in the doc
  docs/docs/reference/configuration/analyses/dataset_warnings.md
  docs/docs/reference/configuration/index.md
Due: none

Change based on review
  azimuth/types/model_performance.py
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Fix config scopes (#351)
  azimuth/config.py
  azimuth/modules/README.md
  azimuth/modules/base_classes/aggregation_module.py
  azimuth/modules/base_classes/dask_module.py
  azimuth/modules/model_performance/metrics.py
  azimuth/modules/model_performance/outcome_count.py
  azimuth/routers/v1/utterances.py
  azimuth/types/model_performance.py
  tests/test_modules/test_model_performance/test_metrics.py
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Deployed 0f903d1 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Fix reference in the doc (#371)
  docs/docs/reference/configuration/analyses/dataset_warnings.md
  docs/docs/reference/configuration/index.md
Due: none

added null check for formgroup if no pipeline
  webapp/src/pages/Settings.tsx
Due: prettier

improved null check before displaying fields for not required fields
  webapp/src/pages/Settings.tsx
Due: prettier

Refactor syntax analysis and get rid of tokenizer
  azimuth/config.py
  azimuth/dataset_split_manager.py
  azimuth/modules/dataset_analysis/dataset_warnings.py
  azimuth/modules/dataset_analysis/syntax_tagging.py
  azimuth/plots/dataset_warnings.py
  azimuth/types/general/dataset.py
  docs/docs/reference/configuration/analyses/dataset_warnings.md
  docs/docs/reference/configuration/analyses/syntax.md
  tests/test_modules/test_dataset_analysis/test_dataset_warnings.py
  tests/test_modules/test_dataset_analysis/test_syntax_tagging.py
  tests/test_routers/admin/test_admin.py
  tests/test_routers/test_dataset_warnings.py
  tests/utils.py
  webapp/src/pages/Settings.tsx
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Replace "simple" emojis shortcodes
  docs/docs/about-us.md
  docs/docs/reference/configuration/analyses/behavioral_testing.md
  docs/docs/reference/configuration/analyses/dataset_warnings.md
  docs/docs/reference/configuration/analyses/similarity.md
  docs/docs/reference/configuration/analyses/syntax.md
  docs/docs/reference/configuration/common.md
  docs/docs/reference/configuration/index.md
  docs/docs/reference/configuration/model_contract.md
  docs/docs/reference/configuration/project.md
  docs/docs/user-guide/exploration-space/utterance-details.md
  docs/docs/user-guide/index.md
Due: none

Fix nullable generated types
  azimuth/config.py
  webapp/src/pages/Settings.tsx
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Clean up remaining `env`s that have the default name
  azimuth/config.py
Due: frontend types, flake8, mypy

Path conditions:
  prettier: any of: webapp
  frontend types: any of: azimuth
  flake8: any of: \.py$
  mypy: any of: azimuth
