Repository ServiceNow/azimuth: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, frontend types, flake8, mypy

prettier:
  name: prettier
  language: system
  entry: bash -c 'cd webapp && yarn prettier --write .'

frontend types:
  name: Regenerate frontend types
  language: system
  entry: bash -c 'cd webapp && yarn types'

flake8:
  name: flake8
  language: system
  entry: poetry run flake8

mypy:
  name: mypy
  language: system
  verbose: true
  entry: bash -c 'poetry run mypy "azimuth" || true' --
  pass_filenames: false

Rename Perturbation to Behavioral
  webapp/src/pages/Settings.tsx
Due: prettier

Add all missing analyses config fields (#426)
  webapp/src/pages/Settings.tsx
Due: prettier

Deployed 328cb2b to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Refactor add_tags method (#423)
  azimuth/dataset_split_manager.py
  azimuth/modules/dataset_analysis/syntax_tagging.py
  azimuth/modules/model_performance/outcome_count.py
  azimuth/modules/perturbation_testing/perturbation_testing.py
  azimuth/routers/v1/model_performance/utterance_count.py
  azimuth/types/tag.py
  azimuth/utils/dataset_operations.py
Due: frontend types, flake8, mypy

Deployed f6ca140 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Convert persistent_id to row_idx
  azimuth/dataset_split_manager.py
  tests/test_dataset_manager.py
Due: frontend types, flake8, mypy

Add route to export proposed actions
  azimuth/dataset_split_manager.py
  azimuth/routers/v1/export.py
  tests/test_dataset_manager.py
  tests/test_routers/test_export.py
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Adapt based on comments
  azimuth/dataset_split_manager.py
  azimuth/routers/v1/export.py
  tests/test_dataset_manager.py
Due: frontend types, flake8, mypy

Refactor get_tags method
  azimuth/dataset_split_manager.py
  azimuth/modules/model_performance/outcome_count.py
  azimuth/routers/v1/tags.py
  azimuth/routers/v1/utterances.py
  tests/test_dataset_manager.py
Due: frontend types, flake8, mypy

Export proposed actions (#408)
  azimuth/dataset_split_manager.py
  azimuth/routers/v1/export.py
  tests/test_dataset_manager.py
  tests/test_routers/test_export.py
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Deployed 31315c5 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Compute syntax smart tags for utterances with multiple sentences
  azimuth/config.py
  azimuth/modules/dataset_analysis/syntax_tagging.py
  azimuth/types/tag.py
  docs/docs/key-concepts/index.md
  docs/docs/key-concepts/smart-tags.md
  docs/docs/key-concepts/syntax-analysis.md
  docs/docs/reference/configuration/analyses/syntax.md
  docs/docs/user-guide/exploration-space/utterance-details.md
  tests/test_modules/test_dataset_analysis/test_syntax_tagging.py
  tests/test_routers/admin/test_admin.py
  tests/test_utils/test_dataset_filtering.py
  webapp/src/mocks/api/mockMetricsAPI.ts
  webapp/src/pages/Settings.tsx
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Apply suggestions from code review
  azimuth/dataset_split_manager.py
Due: frontend types, flake8, mypy

Refactor dataset manager (#427)
  azimuth/dataset_split_manager.py
  azimuth/modules/model_performance/outcome_count.py
  azimuth/routers/v1/tags.py
  azimuth/routers/v1/utterances.py
  tests/test_dataset_manager.py
Due: frontend types, flake8, mypy

Add route to import proposed actions
  azimuth/app.py
  azimuth/routers/v1/tags.py
  azimuth/routers/v1/utterances.py
  azimuth/types/tag.py
  azimuth/types/utterance.py
  tests/test_routers/test_export.py
  tests/test_routers/test_tags.py
  tests/test_routers/test_utterances.py
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Adapt based on comments
  tests/test_modules/test_dataset_analysis/test_syntax_tagging.py
Due: flake8

Compute syntax smart tags for utterances with multiple sentences. (#435)
  azimuth/config.py
  azimuth/modules/dataset_analysis/syntax_tagging.py
  azimuth/types/tag.py
  docs/docs/key-concepts/index.md
  docs/docs/key-concepts/smart-tags.md
  docs/docs/key-concepts/syntax-analysis.md
  docs/docs/reference/configuration/analyses/syntax.md
  docs/docs/user-guide/exploration-space/utterance-details.md
  tests/test_modules/test_dataset_analysis/test_syntax_tagging.py
  tests/test_routers/admin/test_admin.py
  tests/test_utils/test_dataset_filtering.py
  webapp/src/mocks/api/mockMetricsAPI.ts
  webapp/src/pages/Settings.tsx
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Deployed e3a9026 to main with MkDocs 1.4.2 and mike 1.1.2
  main/key-concepts/index.html
  main/key-concepts/smart-tags/index.html
  main/key-concepts/syntax-analysis/index.html
  main/reference/configuration/analyses/syntax/index.html
  main/search/search_index.json
  main/sitemap.xml.gz
  main/user-guide/exploration-space/utterance-details/index.html
Due: none

Adapt front end to new route
  webapp/src/components/Analysis/UtterancesTable.tsx
  webapp/src/components/Analysis/UtterancesTableFooter.tsx
  webapp/src/components/Utterance/UtteranceDataAction.tsx
  webapp/src/pages/UtteranceDetail.tsx
  webapp/src/services/api.ts
  webapp/src/types/api.ts
Due: prettier

Add missing invalidations on data action update
  webapp/src/services/api.ts
Due: prettier

Deployed ddbd791 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Clean up unnecessary casts
  azimuth/config.py
  azimuth/routers/v1/utterances.py
Due: frontend types, flake8, mypy

Update tests/test_routers/test_utterances.py
  tests/test_routers/test_utterances.py
Due: flake8

Adapt based on comments
  azimuth/routers/v1/utterances.py
Due: frontend types, flake8, mypy

Fix test
  tests/test_routers/test_utterances.py
Due: flake8

Adapt route to add proposed actions (#429)
  azimuth/app.py
  azimuth/config.py
  azimuth/routers/v1/tags.py
  azimuth/routers/v1/utterances.py
  azimuth/types/tag.py
  azimuth/types/utterance.py
  tests/test_routers/test_export.py
  tests/test_routers/test_tags.py
  tests/test_routers/test_utterances.py
  webapp/src/components/Analysis/UtterancesTable.tsx
  webapp/src/components/Analysis/UtterancesTableFooter.tsx
  webapp/src/components/Utterance/UtteranceDataAction.tsx
  webapp/src/pages/UtteranceDetail.tsx
  webapp/src/services/api.ts
  webapp/src/types/api.ts
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Deployed 8af558f to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

labelId and inputlabel id changed to same values
  webapp/src/pages/Settings.tsx
Due: prettier

Use resulting config instead partial config
  webapp/src/pages/Settings.tsx
Due: prettier

Fix useEffect dependency error
  webapp/src/pages/Settings.tsx
Due: prettier

Preserve null values in merge
  webapp/src/pages/Settings.tsx
Due: prettier

removed not-necessry null coalescing operator check, add language in defaultAPI query
  webapp/src/pages/Settings.tsx
Due: prettier

Display warning message next to language field
  webapp/src/pages/Settings.tsx
Due: prettier

Add impacted fields for language, Add fixedwidth classname, CSS improvement, Enforce type for supportedLanguage
  webapp/src/pages/Settings.tsx
Due: prettier

Call default_config api on language change
  webapp/src/pages/Settings.tsx
  webapp/src/types/api.ts
Due: prettier

display name change to language
  webapp/src/pages/Settings.tsx
Due: prettier

Add supported language field
  webapp/src/pages/Settings.tsx
Due: prettier

assigning defaultconfig in toggleselection
  webapp/src/pages/Settings.tsx
Due: prettier

removed not-necessary null coalescing check
  webapp/src/pages/Settings.tsx
Due: prettier

Path conditions:
  prettier: any of: webapp
  frontend types: any of: azimuth
  flake8: any of: \.py$
  mypy: any of: azimuth
