Repository ServiceNow/azimuth: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, frontend types, flake8, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
        - id: check-yaml
          exclude: docs
        - id: end-of-file-fixer
          types: [ python ]
        - id: trailing-whitespace
        - id: pretty-format-json
          args: [--autofix, --no-sort-keys]
          exclude: webapp
  - repo: local
    hooks:
      - id: black
        name: black
        language: system
        entry: poetry run black
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types_or: [ python, pyi ]
  - repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
        - id: autoflake
          args:
            - --expand-star-imports
            - --ignore-init-module-imports
            - --in-place
            - --remove-all-unused-imports
            - --remove-duplicate-keys
            - --remove-unused-variables
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: bash -c 'cd webapp && yarn prettier --write .'
        files: webapp
  - repo: local
    hooks:
      - id: frontend types
        name: Regenerate frontend types
        language: system
        entry: bash -c 'cd webapp && yarn types'
        files: azimuth
  - repo: local
    hooks:
      - id: flake8
        name: flake8
        language: system
        entry: poetry run flake8
        types: [ python ]
  - repo: https://github.com/pycqa/isort
    rev: 5.8.0
    hooks:
      - id: isort
        name: isort
        args: [ "--profile", "black", "--skip", "__init__.py", "--filter-files" ]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        language: system
        verbose: true
        entry: bash -c 'poetry run mypy "azimuth" || true' --
        files: azimuth
        pass_filenames: false

Support empty list for pipelines (#406)
  azimuth/config.py
  config/development/clinc_dummy/conf_no_model.json
  webapp/src/pages/Settings.tsx
  webapp/src/services/api.ts
Due: prettier, frontend types, flake8, mypy

Deployed 14ff9a1 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Add a message while config is updated
  webapp/src/pages/Settings.tsx
Due: prettier

Review comments - modified the message
  webapp/src/pages/Settings.tsx
Due: prettier

Review comments - displayed message next to apply button
  webapp/src/pages/Settings.tsx
Due: prettier

Add required_mod_options
  azimuth/modules/README.md
  azimuth/modules/base_classes/aggregation_module.py
  azimuth/modules/base_classes/indexable_module.py
  azimuth/modules/base_classes/module.py
  azimuth/modules/model_performance/confidence_binning.py
  azimuth/modules/model_performance/metrics.py
  azimuth/modules/model_performance/outcome_count.py
  azimuth/modules/model_performance/outcomes.py
  azimuth/modules/perturbation_testing/perturbation_testing.py
  azimuth/modules/perturbation_testing/perturbation_testing_summary.py
  azimuth/modules/utilities/validation.py
  azimuth/modules/word_analysis/tokens_to_words.py
  azimuth/routers/v1/custom_utterances.py
  tests/test_modules/test_module.py
  tests/test_modules/test_word_analysis/test_tokens_to_words.py
  tests/test_task_manager.py
Due: frontend types, flake8, mypy

Add ternary operator and modify styling
  webapp/src/pages/Settings.tsx
Due: prettier

Add a message while config is updated (#412)
  webapp/src/pages/Settings.tsx
Due: prettier

Deployed 2a005ed to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Apply suggestions from code review
  azimuth/modules/base_classes/module.py
Due: frontend types, flake8, mypy

Fix tests
  tests/test_modules/test_model_contracts/test_file_based_text_classification.py
  tests/test_modules/test_model_contracts/test_hf_text_classification.py
  tests/test_modules/test_model_contracts/test_text_classification.py
Due: flake8

Add required_mod_options (#413)
  azimuth/modules/README.md
  azimuth/modules/base_classes/aggregation_module.py
  azimuth/modules/base_classes/indexable_module.py
  azimuth/modules/base_classes/module.py
  azimuth/modules/model_performance/confidence_binning.py
  azimuth/modules/model_performance/metrics.py
  azimuth/modules/model_performance/outcome_count.py
  azimuth/modules/model_performance/outcomes.py
  azimuth/modules/perturbation_testing/perturbation_testing.py
  azimuth/modules/perturbation_testing/perturbation_testing_summary.py
  azimuth/modules/utilities/validation.py
  azimuth/modules/word_analysis/tokens_to_words.py
  azimuth/routers/v1/custom_utterances.py
  tests/test_modules/test_model_contracts/test_file_based_text_classification.py
  tests/test_modules/test_model_contracts/test_hf_text_classification.py
  tests/test_modules/test_model_contracts/test_text_classification.py
  tests/test_modules/test_module.py
  tests/test_modules/test_word_analysis/test_tokens_to_words.py
  tests/test_task_manager.py
Due: frontend types, flake8, mypy

Deployed 7c91dc6 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Add missing similarity fields
  webapp/src/pages/Settings.tsx
Due: prettier

Add missing syntax fields of config page
  webapp/src/pages/Settings.tsx
Due: prettier

Rename allowed_mod_options
  azimuth/modules/README.md
  azimuth/modules/base_classes/aggregation_module.py
  azimuth/modules/base_classes/indexable_module.py
  azimuth/modules/base_classes/module.py
  azimuth/modules/dataset_analysis/dataset_warnings.py
  azimuth/modules/model_contracts/custom_classification.py
  azimuth/modules/model_contracts/hf_text_classification.py
  azimuth/modules/model_performance/confidence_binning.py
  azimuth/modules/model_performance/confusion_matrix.py
  azimuth/modules/model_performance/outcome_count.py
  azimuth/modules/model_performance/outcomes.py
  azimuth/modules/perturbation_testing/perturbation_testing.py
  azimuth/modules/utilities/validation.py
  azimuth/modules/word_analysis/tokens_to_words.py
  azimuth/modules/word_analysis/top_words.py
Due: frontend types, flake8, mypy

Fix flaky test
  tests/test_modules/test_model_contracts/test_hf_text_classification.py
Due: flake8

Rename allowed_mod_options (#416)
  azimuth/modules/README.md
  azimuth/modules/base_classes/aggregation_module.py
  azimuth/modules/base_classes/indexable_module.py
  azimuth/modules/base_classes/module.py
  azimuth/modules/dataset_analysis/dataset_warnings.py
  azimuth/modules/model_contracts/custom_classification.py
  azimuth/modules/model_contracts/hf_text_classification.py
  azimuth/modules/model_performance/confidence_binning.py
  azimuth/modules/model_performance/confusion_matrix.py
  azimuth/modules/model_performance/outcome_count.py
  azimuth/modules/model_performance/outcomes.py
  azimuth/modules/perturbation_testing/perturbation_testing.py
  azimuth/modules/utilities/validation.py
  azimuth/modules/word_analysis/tokens_to_words.py
  azimuth/modules/word_analysis/top_words.py
Due: frontend types, flake8, mypy

Deployed 86cc07a to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Fix dashboard scroll
  webapp/src/pages/Dashboard.tsx
Due: prettier

Clean up
  webapp/src/components/SmartTagsTable.tsx
Due: prettier

Fix dashboard scroll (#419)
  webapp/src/components/SmartTagsTable.tsx
  webapp/src/pages/Dashboard.tsx
Due: prettier

Update index.md
  docs/docs/index.md
Due: none

Deployed f292249 to main with MkDocs 1.4.2 and mike 1.1.2
  main/index.html
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Adapt based on comments
  tests/test_modules/test_model_contracts/test_hf_text_classification.py
Due: flake8

Refactor flaky test (#417)
  tests/test_modules/test_model_contracts/test_hf_text_classification.py
Due: flake8

Deployed 964cbe4 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Refactor add_tags method
  azimuth/dataset_split_manager.py
  azimuth/modules/dataset_analysis/syntax_tagging.py
  azimuth/modules/model_performance/outcome_count.py
  azimuth/modules/perturbation_testing/perturbation_testing.py
  azimuth/routers/v1/model_performance/utterance_count.py
  azimuth/types/tag.py
  azimuth/utils/dataset_operations.py
Due: frontend types, flake8, mypy

Fix flaky test (#422)
  tests/test_modules/test_model_contracts/test_hf_text_classification.py
Due: flake8

Deployed 4e85c64 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Deployed 2ccd776 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Typo correction for BehavioralTesting function
  webapp/src/pages/Settings.tsx
Due: prettier

Add behavioral testing fields
  webapp/src/pages/Settings.tsx
  webapp/src/types/api.ts
Due: prettier

Reuse `displayKeywordArguments`
  webapp/src/pages/Settings.tsx
Due: prettier

Loop over a predefined list of fields
  webapp/src/pages/Settings.tsx
  webapp/src/types/api.ts
Due: prettier

Simplify add missing behavioral testing fields (#425)
  webapp/src/pages/Settings.tsx
  webapp/src/types/api.ts
Due: prettier

Add all missing analyses config fields
  webapp/src/pages/Settings.tsx
Due: prettier
