Repository ServiceNow/azimuth: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, frontend types, flake8, mypy

prettier:
  name: prettier
  language: system
  entry: bash -c 'cd webapp && yarn prettier --write .'

frontend types:
  name: Regenerate frontend types
  language: system
  entry: bash -c 'cd webapp && yarn types'

flake8:
  name: flake8
  language: system
  entry: poetry run flake8

mypy:
  name: mypy
  language: system
  verbose: true
  entry: bash -c 'poetry run mypy "azimuth" || true' --
  pass_filenames: false

Create an API route to get the config history
  azimuth/config.py
  azimuth/routers/config.py
  tests/test_config.py
  tests/test_routers/test_config.py
  tests/test_routers/test_utterances.py
  tests/utils.py
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Clean up `AliasModel`'s `dict()` and `no_alias_dict()` methods
  azimuth/config.py
  azimuth/modules/base_classes/caching.py
  azimuth/modules/base_classes/module.py
  azimuth/types/general/alias_model.py
Due: frontend types, flake8, mypy

Fix test
  tests/test_modules/test_model_contracts/test_model_contract_module.py
  tests/test_performance.py
Due: flake8

Fix perturbation testing summary
  azimuth/routers/export.py
  tests/test_routers/test_export.py
Due: frontend types, flake8, mypy

Deployed 943f3e8 to main with MkDocs 1.4.3 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Add camelCase aliases to config
  azimuth/types/general/alias_model.py
  azimuth/utils/openapi.py
  tests/test_config.py
  tests/test_routers/test_config.py
  webapp/src/components/Analysis/UtterancesTable.tsx
  webapp/src/components/UtteranceDetails.tsx
  webapp/src/mocks/api/mockConfigAPI.ts
  webapp/src/pages/Settings.tsx
  webapp/src/services/api.ts
  webapp/src/types/generated/generatedTypes.ts
  webapp/src/utils/const.ts
Due: prettier, frontend types, flake8, mypy

Silent warnings about env
  azimuth/config.py
  docs/docs/getting-started/c-run.md
Due: frontend types, flake8, mypy

Test that environment variables don't affect the config history
  tests/test_config.py
Due: flake8

Clean up aliases (#563)
  azimuth/config.py
  azimuth/modules/base_classes/caching.py
  azimuth/modules/base_classes/dask_module.py
  azimuth/modules/base_classes/module.py
  azimuth/routers/export.py
  azimuth/types/general/alias_model.py
  tests/test_modules/test_model_contracts/test_model_contract_module.py
  tests/test_modules/test_model_contracts/test_text_classification.py
  tests/test_performance.py
  tests/test_routers/conftest.py
  tests/test_routers/test_export.py
Due: frontend types, flake8, mypy

Deployed 1090093 to main with MkDocs 1.4.3 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Support null dataset (#558)
  CHANGELOG.md
  azimuth/app.py
  azimuth/config.py
  azimuth/routers/app.py
  azimuth/routers/config.py
  azimuth/startup.py
  azimuth/types/app.py
  azimuth/utils/object_loader.py
  azimuth/utils/project.py
  tests/test_routers/test_app.py
  tests/test_routers/test_config.py
  webapp/src/App.tsx
  webapp/src/components/AccordionLayout.tsx
  webapp/src/components/Controls/Controls.tsx
  webapp/src/components/PageHeader.tsx
  webapp/src/components/Settings/NumberField.tsx
  webapp/src/components/Settings/StringField.tsx
  webapp/src/mocks/api/mockDatasetInfoAPI.ts
  webapp/src/pages/Dashboard.tsx
  webapp/src/pages/Settings.tsx
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Deployed 1f87749 to main with MkDocs 1.4.3 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

New component for autocomplete, typing for postprocessorclassname, CSS improvement
  webapp/src/components/Settings/AutocompleteStringField.tsx
  webapp/src/pages/Settings.tsx
  webapp/src/types/api.ts
Due: prettier

Add and delete pipeline section
  webapp/src/pages/Settings.tsx
Due: prettier

Review comments - Divider and formgroup CSS improvement, default values on pipelinepostprocessor addition
  webapp/src/pages/Settings.tsx
Due: prettier

postprocessor update on class_name modification, disable delete on postprocessor is null
  webapp/src/pages/Settings.tsx
Due: prettier

Autoselect, disableclearable for autocomplete field, removing unecessary formcontrol
  webapp/src/components/Settings/AutocompleteStringField.tsx
  webapp/src/pages/Settings.tsx
Due: prettier

Fix delete position
  webapp/src/pages/Settings.tsx
Due: prettier

Delete button position aligned with pipeline section
  webapp/src/pages/Settings.tsx
Due: prettier

Custom metrics - add,update,delete
  webapp/src/components/Settings/AutocompleteStringField.tsx
  webapp/src/pages/Settings.tsx
  webapp/src/types/api.ts
Due: prettier

metrics validation, new accordian section
  webapp/src/components/Settings/AutocompleteStringField.tsx
  webapp/src/pages/Settings.tsx
Due: prettier

added margin for delete button
  webapp/src/pages/Settings.tsx
Due: prettier

Fix autoSelect
  webapp/src/components/Settings/AutocompleteStringField.tsx
Due: prettier

Add validation for empty field
  webapp/src/components/Settings/AutocompleteStringField.tsx
  webapp/src/components/Settings/StringField.tsx
Due: prettier

Fix re-enabling post-processors on a new pipeline
  webapp/src/pages/Settings.tsx
Due: prettier

Add autoFocus to `class_name`
  webapp/src/components/Settings/AutocompleteStringField.tsx
  webapp/src/pages/Settings.tsx
Due: prettier

Add current input value to options
  webapp/src/components/Settings/AutocompleteStringField.tsx
Due: prettier

Create EditableArray reusable component
  webapp/src/components/Settings/EditableArray.tsx
  webapp/src/components/Settings/utils.ts
  webapp/src/pages/Settings.tsx
Due: prettier

Unindent (kept separate to make previous commit clearer)
  webapp/src/pages/Settings.tsx
Due: prettier

Fix showing original post-processor when `null`ed `postprocessors`
  webapp/src/pages/Settings.tsx
Due: prettier

Fix bug with class names containing "temperature" or "threshold"
  webapp/src/pages/Settings.tsx
Due: prettier

Pass `array` to `renderItem`
  webapp/src/components/Settings/EditableArray.tsx
  webapp/src/pages/Settings.tsx
Due: prettier

Support adding/removing pipelines/post-processors (#561)
  webapp/src/components/Settings/AutocompleteStringField.tsx
  webapp/src/components/Settings/EditableArray.tsx
  webapp/src/components/Settings/StringField.tsx
  webapp/src/components/Settings/utils.ts
  webapp/src/pages/Settings.tsx
  webapp/src/types/api.ts
Due: prettier

Support custom metrics
  CHANGELOG.md
  webapp/src/pages/Settings.tsx
  webapp/src/types/api.ts
Due: prettier

Move `CustomObjectFields` to its own file
  webapp/src/components/Settings/CustomObjectFields.tsx
  webapp/src/pages/Settings.tsx
Due: prettier

Fix pages assuming config is loaded
  webapp/src/components/PipelineCheck.tsx
Due: prettier

Memoize `resultingConfig` since a `useEffect` depends on it
  webapp/src/pages/Settings.tsx
Due: prettier

Create reusable component `CustomObjectFields`
  webapp/src/pages/Settings.tsx
  webapp/src/types/api.ts
Due: prettier

Path conditions:
  prettier: any of: webapp
  frontend types: any of: azimuth
  flake8: any of: \.py$
  mypy: any of: azimuth
