Repository ServiceNow/azimuth: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, frontend types, flake8, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
        - id: check-yaml
          exclude: docs
        - id: end-of-file-fixer
          types: [ python ]
        - id: trailing-whitespace
        - id: pretty-format-json
          args: [--autofix, --no-sort-keys]
          exclude: webapp
  - repo: local
    hooks:
      - id: black
        name: black
        language: system
        entry: poetry run black
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types_or: [ python, pyi ]
  - repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
        - id: autoflake
          args:
            - --expand-star-imports
            - --ignore-init-module-imports
            - --in-place
            - --remove-all-unused-imports
            - --remove-duplicate-keys
            - --remove-unused-variables
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: bash -c 'cd webapp && yarn prettier --write .'
        files: webapp
  - repo: local
    hooks:
      - id: frontend types
        name: Regenerate frontend types
        language: system
        entry: bash -c 'cd webapp && yarn types'
        files: azimuth
  - repo: local
    hooks:
      - id: flake8
        name: flake8
        language: system
        entry: poetry run flake8
        types: [ python ]
  - repo: https://github.com/pycqa/isort
    rev: 5.8.0
    hooks:
      - id: isort
        name: isort
        args: [ "--profile", "black", "--skip", "__init__.py", "--filter-files" ]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        language: system
        verbose: true
        entry: bash -c 'poetry run mypy "azimuth" || true' --
        files: azimuth
        pass_filenames: false

Stop adding `artifact_path` to `local_configs`
  makefiles/Makefile.local
Due: none

Log changes
  CHANGELOG.md
Due: none

Load config history (#472)
  .app_env
  CHANGELOG.md
  Dockerfile
  azimuth/app.py
  azimuth/app_loader.py
  azimuth/config.py
  azimuth/routers/config.py
  azimuth/utils/project.py
  docker-compose.yml
  docs/docs/development/launching.md
  docs/docs/getting-started/c-run.md
  docs/docs/reference/configuration/common.md
  makefiles/Makefile.local
  tests/test_routers/conftest.py
  tests/test_routers/test_config.py
  tests/test_routers/test_utterances.py
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Deployed 6cfd784 to main with MkDocs 1.4.2 and mike 1.1.2
  main/development/launching/index.html
  main/getting-started/c-run/index.html
  main/reference/configuration/common/index.html
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Deployed fb29c66 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Read, parse CSV data, update DataAction
  webapp/src/components/Analysis/UtterancesTable.tsx
Due: prettier

Add import button
  webapp/src/components/Analysis/UtterancesTable.tsx
Due: prettier

Review comments - change dialog to toast, remove unused css, logic simplified, linear error display
  webapp/src/components/Analysis/UtterancesTable.tsx
Due: prettier

Code clean up - remove console log statements
  webapp/src/components/Analysis/UtterancesTable.tsx
Due: prettier

Code clean up, display modal if no records or headers in CSV
  webapp/src/components/Analysis/UtterancesTable.tsx
Due: prettier

Add linear condition for error message scenarios
  webapp/src/components/Analysis/UtterancesTable.tsx
Due: prettier

Patch utterance dataaction if persistentId exist in utterance
  webapp/src/services/api.ts
Due: prettier

Update dataAction to send array of utterancePatch
  webapp/src/components/Analysis/UtterancesTable.tsx
  webapp/src/components/Utterance/UtteranceDataAction.tsx
  webapp/src/services/api.ts
Due: prettier

Code review suggestions added and code simplified
  webapp/src/components/Analysis/UtterancesTable.tsx
Due: prettier

Review comments - Assert headers, fix issue with mutation fetch
  webapp/src/components/Analysis/UtterancesTable.tsx
  webapp/src/components/Utterance/UtteranceDataAction.tsx
  webapp/src/services/api.ts
Due: prettier

Assert the order of CSV headers, Review comments to simplify the updateDateAction
  webapp/src/components/Analysis/UtterancesTable.tsx
  webapp/src/components/Utterance/UtteranceDataAction.tsx
  webapp/src/services/api.ts
Due: prettier

Equality check, fileonload return, use trimEnd instead of slice last row
  webapp/src/components/Analysis/UtterancesTable.tsx
  webapp/src/components/Utterance/UtteranceDataAction.tsx
  webapp/src/services/api.ts
Due: prettier

Deployed 1fe845f to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Update tensorflow to 2.11.0
  poetry.lock
  pyproject.toml
Due: none

Update poetry to 1.4.0
  Dockerfile
  poetry.lock
Due: none

Update tensorflow to 2.11.0 (#476)
  Dockerfile
  poetry.lock
  pyproject.toml
Due: none

Deployed 9b2f402 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Update CITATION.cff
  CITATION.cff
Due: none

Deployed 5fe33c5 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Clean up unnecessary checks for `transpose`
  webapp/src/components/SmartTagsTable.tsx
Due: prettier

Create a component for plot bars
  webapp/src/components/SmartTagsTable.tsx
Due: prettier

Fix missing outcome in literal type
  webapp/src/components/SmartTagsTable.tsx
Due: prettier

Fix singular/plural verb to be
  webapp/src/components/SmartTagsTable.tsx
Due: prettier

Replace grid `columnGap` with some `paddingX`
  webapp/src/components/SmartTagsTable.tsx
Due: prettier

Rename variables
  webapp/src/components/SmartTagsTable.tsx
Due: prettier

Support dataset-only smart tag analysis
  webapp/src/components/SmartTagsTable.tsx
  webapp/src/pages/Dashboard.tsx
  webapp/src/pages/SmartTags.tsx
  webapp/src/utils/helpers.ts
Due: prettier

Add es-lint to skip warning for not using strict equality
  webapp/src/services/api.ts
Due: prettier

Ignore not found persistent ids
  webapp/src/components/Analysis/UtterancesTable.tsx
  webapp/src/services/api.ts
  webapp/src/utils/api.ts
Due: prettier

Add comment
  webapp/src/services/api.ts
Due: prettier

Revert unnecessary change of blank line
  webapp/src/components/Analysis/UtterancesTable.tsx
Due: prettier

Import proposed actions to utterance table (#465)
  webapp/src/components/Analysis/UtterancesTable.tsx
  webapp/src/components/Utterance/UtteranceDataAction.tsx
  webapp/src/services/api.ts
  webapp/src/utils/api.ts
Due: prettier

Deployed 5811d4d to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Change filter distribution bars color to blue
  webapp/src/components/Controls/FilterDistribution.tsx
Due: prettier

Revert Dashboard order
  webapp/src/pages/Dashboard.tsx
Due: prettier
