Repository ServiceNow/azimuth: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, frontend types, flake8, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
        - id: check-yaml
          exclude: docs
        - id: end-of-file-fixer
          types: [ python ]
        - id: trailing-whitespace
        - id: pretty-format-json
          args: [--autofix, --no-sort-keys]
          exclude: webapp
  - repo: local
    hooks:
      - id: black
        name: black
        language: system
        entry: poetry run black
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types_or: [ python, pyi ]
  - repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
        - id: autoflake
          args:
            - --expand-star-imports
            - --ignore-init-module-imports
            - --in-place
            - --remove-all-unused-imports
            - --remove-duplicate-keys
            - --remove-unused-variables
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: bash -c 'cd webapp && yarn prettier --write .'
        files: webapp
  - repo: local
    hooks:
      - id: frontend types
        name: Regenerate frontend types
        language: system
        entry: bash -c 'cd webapp && yarn types'
        files: azimuth
  - repo: local
    hooks:
      - id: flake8
        name: flake8
        language: system
        entry: poetry run flake8
        types: [ python ]
  - repo: https://github.com/pycqa/isort
    rev: 5.8.0
    hooks:
      - id: isort
        name: isort
        args: [ "--profile", "black", "--skip", "__init__.py", "--filter-files" ]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        language: system
        verbose: true
        entry: bash -c 'poetry run mypy "azimuth" || true' --
        files: azimuth
        pass_filenames: false

Review comments - config settings page
  webapp/src/components/AccordionLayout.test.tsx
  webapp/src/components/AccordionLayout.tsx
  webapp/src/components/Description.test.tsx
  webapp/src/pages/Settings.tsx
Due: prettier

added discard functionality
  webapp/src/pages/Settings.tsx
Due: prettier

code clean up
  webapp/src/pages/Settings.tsx
Due: prettier

rever the merge attribute to JS syntax
  webapp/src/pages/Settings.tsx
Due: prettier

latest design review work
  webapp/src/components/AccordionLayout.tsx
  webapp/src/pages/Settings.tsx
  webapp/src/styles/theme.tsx
Due: prettier

added function to kwargs/args
  webapp/src/pages/Settings.tsx
Due: prettier

design changes added
  webapp/src/components/AccordionLayout.test.tsx
  webapp/src/components/AccordionLayout.tsx
  webapp/src/pages/Settings.tsx
Due: prettier

Font size and type changed with other feedback on design
  webapp/src/App.tsx
  webapp/src/pages/Settings.tsx
Due: prettier

changes after review comments and some general code cleanup
  webapp/src/components/AccordionLayout.test.tsx
  webapp/src/components/Description.test.tsx
  webapp/src/pages/Settings.tsx
Due: prettier

added flexwrap to move the flex item to new line
  webapp/src/components/AccordionLayout.tsx
  webapp/src/pages/Settings.tsx
Due: prettier

added array to ignore display of fields in analyses customization
  webapp/src/pages/Settings.tsx
Due: prettier

width changed for analyses customization section
  webapp/src/pages/Settings.tsx
Due: prettier

applied suggestion and applied JS concept instead lodash
  webapp/src/pages/Settings.tsx
  webapp/src/styles/theme.tsx
Due: prettier

used JS spread syntax for _.assign
  webapp/src/pages/Settings.tsx
Due: prettier

removed sortBy from looping object entries
  webapp/src/pages/Settings.tsx
Due: prettier

moved toggle section checkbox to upper function
  webapp/src/pages/Settings.tsx
Due: prettier

Remove `as`
  webapp/src/pages/Settings.tsx
  webapp/src/types/models.ts
Due: prettier

no message
  webapp/src/types/models.ts
Due: prettier

Update README.md
  README.md
Due: none

Update README.md (#337)
  README.md
Due: none

Deployed 6dc68c7 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Clean up test utterances
  tests/test_routers/test_utterances.py
Due: flake8

Test sort without postprocessing
  tests/test_routers/test_utterances.py
Due: flake8

Fix sort without postprocessing
  CHANGELOG.md
  azimuth/routers/v1/utterances.py
Due: frontend types, flake8, mypy

Remove `as` with more precise typing (#336)
  webapp/src/pages/Settings.tsx
  webapp/src/types/models.ts
Due: prettier

pulled some rebase and changed order of imports
  webapp/src/pages/Settings.tsx
Due: prettier

Polish comment
  azimuth/routers/v1/utterances.py
Due: frontend types, flake8, mypy

Reuse `is_sorted()`
  tests/test_routers/test_utterances.py
Due: flake8

Create constant `UTTERANCE_COUNT
  tests/test_routers/test_utterances.py
Due: flake8

Fix sort by confidence or prediction without postprocessing (#327)
  CHANGELOG.md
  azimuth/routers/v1/utterances.py
  tests/test_routers/test_utterances.py
Due: frontend types, flake8, mypy

Deployed 23a9a70 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Fix crash on Safari
  CHANGELOG.md
  webapp/src/utils/format.ts
Due: prettier

Fix typo
  CHANGELOG.md
  webapp/src/utils/format.ts
Due: prettier

Clean up test
  webapp/src/utils/format.test.ts
Due: prettier

Fix crash on Safari (#339)
  CHANGELOG.md
  webapp/src/utils/format.test.ts
  webapp/src/utils/format.ts
Due: prettier

Deployed 8c1007e to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Address review comments
  webapp/src/components/AccordionLayout.tsx
  webapp/src/pages/ClassOverlap.tsx
  webapp/src/pages/Dashboard.tsx
  webapp/src/pages/Settings.tsx
  webapp/src/types/api.ts
Due: prettier

Fix page footer changing size
  webapp/src/pages/Settings.tsx
Due: prettier

Change based on review
  tests/test_loading_resources.py
  tests/test_modules/test_dataset_analysis/test_dataset_warnings.py
Due: flake8
