Repository ServiceNow/azimuth: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, frontend types, flake8, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
        - id: check-yaml
          exclude: docs
        - id: end-of-file-fixer
          types: [ python ]
        - id: trailing-whitespace
        - id: pretty-format-json
          args: [--autofix, --no-sort-keys]
          exclude: webapp
  - repo: local
    hooks:
      - id: black
        name: black
        language: system
        entry: poetry run black
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types_or: [ python, pyi ]
  - repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
        - id: autoflake
          args:
            - --expand-star-imports
            - --ignore-init-module-imports
            - --in-place
            - --remove-all-unused-imports
            - --remove-duplicate-keys
            - --remove-unused-variables
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: bash -c 'cd webapp && yarn prettier --write .'
        files: webapp
  - repo: local
    hooks:
      - id: frontend types
        name: Regenerate frontend types
        language: system
        entry: bash -c 'cd webapp && yarn types'
        files: azimuth
  - repo: local
    hooks:
      - id: flake8
        name: flake8
        language: system
        entry: poetry run flake8
        types: [ python ]
  - repo: https://github.com/pycqa/isort
    rev: 5.8.0
    hooks:
      - id: isort
        name: isort
        args: [ "--profile", "black", "--skip", "__init__.py", "--filter-files" ]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        language: system
        verbose: true
        entry: bash -c 'poetry run mypy "azimuth" || true' --
        files: azimuth
        pass_filenames: false

Clean up invalid `s: 1`
  webapp/src/pages/Settings.tsx
Due: prettier

Remove prediction from dep for class overlap
  azimuth/startup.py
Due: frontend types, flake8, mypy

Add new start-up tasks
  azimuth/startup.py
  tests/test_startup.py
Due: frontend types, flake8, mypy

Fix issue with modules with DatasetSplitName.all
  azimuth/startup.py
  tests/test_startup.py
Due: frontend types, flake8, mypy

Fix Pipelines section title bigger than other sections
  webapp/src/pages/Settings.tsx
Due: prettier

Fix section titles capitalization
  webapp/src/pages/Settings.tsx
Due: prettier

Update number pickers min/max/step
  webapp/src/pages/Settings.tsx
Due: prettier

Clean up
  webapp/src/pages/Settings.tsx
Due: prettier

Fix neighbors tagging when no train
  azimuth/modules/dataset_analysis/similarity_analysis.py
  tests/test_modules/test_dataset_analysis/test_similarity_analysis.py
Due: frontend types, flake8, mypy

Change based on review
  azimuth/startup.py
Due: frontend types, flake8, mypy

Fix custom_metrics_info route
  azimuth/routers/v1/app.py
Due: frontend types, flake8, mypy

Fix class overlap with no train
  webapp/src/pages/Dashboard.tsx
Due: prettier

Fix test
  tests/test_modules/test_dataset_analysis/test_similarity_analysis.py
Due: flake8

Refactor
  webapp/src/components/AccordionLayout.tsx
  webapp/src/pages/Settings.tsx
Due: prettier

Clean up the last `useTheme()` (#341)
  webapp/src/components/TopWords/TopWords.tsx
Due: prettier

Update @xmldom/xmldom (#356)
  webapp/yarn.lock
Due: prettier

Deployed 1a15833 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Update azimuth/startup.py
  azimuth/startup.py
Due: frontend types, flake8, mypy

Add new fields in config page (#282)
  webapp/src/App.tsx
  webapp/src/components/AccordionLayout.test.tsx
  webapp/src/components/AccordionLayout.tsx
  webapp/src/components/Analysis/UtterancesTable.tsx
  webapp/src/components/Controls/Controls.tsx
  webapp/src/components/DatasetWarnings/DatasetDistribution.tsx
  webapp/src/components/Description.test.tsx
  webapp/src/components/Description.tsx
  webapp/src/pages/ClassOverlap.tsx
  webapp/src/pages/Dashboard.tsx
  webapp/src/pages/Exploration.tsx
  webapp/src/pages/PerformanceAnalysis.tsx
  webapp/src/pages/PerturbationTestingSummary.tsx
  webapp/src/pages/Settings.tsx
  webapp/src/pages/SmartTags.tsx
  webapp/src/pages/Threshold.tsx
  webapp/src/pages/UtteranceDetail.tsx
  webapp/src/types/api.ts
  webapp/src/types/models.ts
Due: prettier

Deployed 00478e9 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Log changes
  CHANGELOG.md
Due: none

Deployed 733339c to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Add new start-up tasks (#332)
  azimuth/startup.py
  tests/test_startup.py
Due: frontend types, flake8, mypy

Deployed cadd235 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Fix app when no training set (#357)
  azimuth/modules/dataset_analysis/similarity_analysis.py
  azimuth/routers/v1/app.py
  tests/test_modules/test_dataset_analysis/test_similarity_analysis.py
  webapp/src/pages/Dashboard.tsx
Due: prettier, frontend types, flake8, mypy

Deployed 448af9a to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Deployed cdad7f3 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Deployed bc0f070 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Add new config with eval only
  azimuth_shr/loading_resources.py
  config/development/clinc_dummy/conf_no_eval.json
Due: frontend types, flake8, mypy

Hide threshold comparison when no eval
  webapp/src/pages/Dashboard.tsx
Due: prettier

Fix start-up
  azimuth/app.py
  azimuth/utils/project.py
Due: frontend types, flake8, mypy

Adapt similarity analysis module so it can work with train only
  azimuth/modules/dataset_analysis/similarity_analysis.py
  tests/conftest.py
  tests/test_loading_resources.py
  tests/test_modules/test_dataset_analysis/test_similarity_analysis.py
  tests/utils.py
Due: frontend types, flake8, mypy

Fix generic routes
  azimuth/routers/v1/app.py
Due: frontend types, flake8, mypy

Test perturbation testing with train only
  tests/test_modules/test_perturbation_testing/test_perturbation_testing_summary.py
Due: flake8

Fix class overlap routes and front end
  azimuth/app.py
  azimuth/routers/v1/app.py
  azimuth/routers/v1/class_overlap.py
  webapp/src/components/ClassOverlapTable.tsx
  webapp/src/pages/ClassOverlap.tsx
  webapp/src/pages/Dashboard.tsx
  webapp/src/services/api.ts
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Adapt start up test
  tests/conftest.py
  tests/test_startup.py
Due: flake8

Resolve deprecation warning
  azimuth/__init__.py
Due: frontend types, flake8, mypy

Fix router tests
  tests/test_routers/test_class_analysis.py
Due: flake8
