Repository ServiceNow/azimuth: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, frontend types, flake8, mypy

prettier:
  name: prettier
  language: system
  entry: bash -c 'cd webapp && yarn prettier --write .'

frontend types:
  name: Regenerate frontend types
  language: system
  entry: bash -c 'cd webapp && yarn types'

flake8:
  name: flake8
  language: system
  entry: poetry run flake8

mypy:
  name: mypy
  language: system
  verbose: true
  entry: bash -c 'poetry run mypy "azimuth" || true' --
  pass_filenames: false

Fix nullable generated types (#376)
  azimuth/config.py
  azimuth/types/tag.py
  docs/docs/reference/configuration/analyses/index.md
  docs/docs/reference/configuration/model_contract.md
  docs/docs/reference/configuration/project.md
  docs/docs/reference/custom-objects/index.md
  tests/test_routers/admin/test_admin.py
  tests/test_routers/test_tags.py
  tests/test_routers/test_utterances.py
  tests/utils.py
  webapp/src/pages/Settings.tsx
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Improve config page display when values are null (#374)
  azimuth/config.py
  azimuth/types/tag.py
  docs/docs/reference/configuration/analyses/index.md
  docs/docs/reference/configuration/model_contract.md
  docs/docs/reference/configuration/project.md
  docs/docs/reference/custom-objects/index.md
  tests/test_routers/admin/test_admin.py
  tests/test_routers/test_tags.py
  tests/test_routers/test_utterances.py
  tests/utils.py
  webapp/src/pages/Settings.tsx
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Save config in cache when starting the app and when modifying config
  CHANGELOG.md
  azimuth/app.py
  azimuth/routers/v1/admin.py
  azimuth/utils/project.py
  poetry.lock
  pyproject.toml
  tests/test_config.py
  tests/test_startup.py
Due: frontend types, flake8, mypy

Change based on review
  azimuth/app.py
  azimuth/routers/v1/admin.py
  azimuth/utils/project.py
  tests/test_config.py
  tests/test_startup.py
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Clean make commands to delete test cache
  makefiles/Makefile.local
  makefiles/Makefile.test
Due: none

Move jsonl file to the cache parent folder so it works accross all projects
  azimuth/utils/project.py
  tests/test_config.py
Due: frontend types, flake8, mypy

Save config only when validation modules successfully ran
  azimuth/app.py
  azimuth/utils/project.py
  tests/test_config.py
  tests/test_routers/admin/test_admin.py
Due: frontend types, flake8, mypy

Change based on review
  tests/test_config.py
  tests/test_routers/admin/test_admin.py
Due: flake8

added units to number fields
  webapp/src/pages/Settings.tsx
Due: prettier

added units as discussed
  webapp/src/pages/Settings.tsx
Due: prettier

formatted % unit fields and added undefined check for number fields
  webapp/src/pages/Settings.tsx
Due: prettier

reverting the percentage for temperature and threshold
  webapp/src/pages/Settings.tsx
Due: prettier

added percentage to temperature and threshold
  webapp/src/pages/Settings.tsx
Due: prettier

removed null check for value and conditionally apply percentage
  webapp/src/pages/Settings.tsx
Due: prettier

Update azimuth/utils/project.py
  azimuth/utils/project.py
Due: frontend types, flake8, mypy

One configuration object to rule them all
  webapp/src/pages/Settings.tsx
Due: prettier

Create a `NumberField` component
  webapp/src/pages/Settings.tsx
Due: prettier

Move utility functions outside `Settings`
  webapp/src/pages/Settings.tsx
Due: prettier

Add temperature to CLINC Dummy multi pipelines
  config/development/clinc_dummy/conf_multipipeline.json
Due: none

Refactor config units (#378)
  config/development/clinc_dummy/conf_multipipeline.json
  webapp/src/pages/Settings.tsx
Due: prettier

Rename jsonl file
  azimuth/utils/project.py
  tests/test_config.py
  tests/test_routers/admin/test_admin.py
Due: frontend types, flake8, mypy

Save config in cache when starting the app and when modifying config (#349)
  CHANGELOG.md
  azimuth/app.py
  azimuth/routers/v1/admin.py
  azimuth/utils/project.py
  makefiles/Makefile.local
  makefiles/Makefile.test
  poetry.lock
  pyproject.toml
  tests/test_config.py
  tests/test_routers/admin/test_admin.py
  tests/test_startup.py
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Deployed bfa253a to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Overwrite undesired basic HTML input validation tooltips
  webapp/src/pages/ClassOverlap.tsx
  webapp/src/pages/Settings.tsx
Due: prettier

Revise units
  webapp/src/pages/Settings.tsx
Due: prettier

Add units to config fields (#370)
  config/development/clinc_dummy/conf_multipipeline.json
  webapp/src/pages/ClassOverlap.tsx
  webapp/src/pages/Settings.tsx
Due: prettier

Deployed 17877f9 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Refactor syntactic warnings
  azimuth/modules/dataset_analysis/dataset_warnings.py
  azimuth/plots/dataset_warnings.py
  azimuth/types/dataset_warnings.py
  azimuth/utils/plots.py
  tests/test_routers/test_dataset_warnings.py
Due: frontend types, flake8, mypy

Fix Utterance Details page collapsing with extra long utterances
  CHANGELOG.md
  webapp/src/components/FadeOutScrollY.tsx
  webapp/src/pages/UtteranceDetail.tsx
Due: prettier

Address first pass of comments
  azimuth/modules/dataset_analysis/dataset_warnings.py
  azimuth/plots/dataset_warnings.py
  azimuth/utils/plots.py
Due: frontend types, flake8, mypy

Rename variables with agg
  azimuth/modules/dataset_analysis/dataset_warnings.py
  azimuth/plots/dataset_warnings.py
Due: frontend types, flake8, mypy

Address remaining comments of first pass
  azimuth/modules/dataset_analysis/dataset_warnings.py
Due: frontend types, flake8, mypy

Move properties to a constant instead of a custom component
  webapp/src/components/FadeOutScrollY.tsx
  webapp/src/pages/UtteranceDetail.tsx
  webapp/src/utils/const.ts
Due: prettier

Update citation and badges
  CITATION.cff
  README.md
Due: none

Fix Utterance Details page collapsing with extra long utterances (#381)
  CHANGELOG.md
  webapp/src/pages/UtteranceDetail.tsx
  webapp/src/utils/const.ts
Due: prettier

Address last comments
  azimuth/modules/dataset_analysis/dataset_warnings.py
  azimuth/plots/dataset_warnings.py
Due: frontend types, flake8, mypy

Deployed a72b721 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Fix issue with at_least_one_distribution
  azimuth/plots/dataset_warnings.py
Due: frontend types, flake8, mypy

Update citation and badges (#382)
  CITATION.cff
  README.md
Due: none

Path conditions:
  prettier: any of: webapp
  frontend types: any of: azimuth
  flake8: any of: \.py$
  mypy: any of: azimuth
