Repository ServiceNow/azimuth: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, frontend types, flake8, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
        - id: check-yaml
          exclude: docs
        - id: end-of-file-fixer
          types: [ python ]
        - id: trailing-whitespace
        - id: pretty-format-json
          args: [--autofix, --no-sort-keys]
          exclude: webapp
  - repo: local
    hooks:
      - id: black
        name: black
        language: system
        entry: poetry run black
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types_or: [ python, pyi ]
  - repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
        - id: autoflake
          args:
            - --expand-star-imports
            - --ignore-init-module-imports
            - --in-place
            - --remove-all-unused-imports
            - --remove-duplicate-keys
            - --remove-unused-variables
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: bash -c 'cd webapp && yarn prettier --write .'
        files: webapp
  - repo: local
    hooks:
      - id: frontend types
        name: Regenerate frontend types
        language: system
        entry: bash -c 'cd webapp && yarn types'
        files: azimuth
  - repo: local
    hooks:
      - id: flake8
        name: flake8
        language: system
        entry: poetry run flake8
        types: [ python ]
  - repo: https://github.com/pycqa/isort
    rev: 5.8.0
    hooks:
      - id: isort
        name: isort
        args: [ "--profile", "black", "--skip", "__init__.py", "--filter-files" ]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        language: system
        verbose: true
        entry: bash -c 'poetry run mypy "azimuth" || true' --
        files: azimuth
        pass_filenames: false

Use paper instead of hardcoding border color
  webapp/src/pages/Settings.tsx
Due: prettier

Bump certifi
  poetry.lock
Due: none

Update section description
  webapp/src/pages/Settings.tsx
Due: prettier

Fix bug on main
  tests/test_dataset_manager.py
Due: flake8

Clean up the last `useTheme()`
  webapp/src/components/TopWords/TopWords.tsx
Due: prettier

Update datasets (#309)
  azimuth/__init__.py
  azimuth/routers/v1/utterances.py
  poetry.lock
  pyproject.toml
  tests/test_dataset_manager.py
  tests/test_loading_resources.py
  tests/test_modules/test_dataset_analysis/test_dataset_warnings.py
  tests/utils.py
Due: frontend types, flake8, mypy

Deployed 7afbd5c to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Fix webapp crash when no pipeline (#333)
  CHANGELOG.md
  webapp/src/components/Metrics/PerformanceAnalysisTable.tsx
  webapp/src/components/PageHeader.tsx
Due: prettier

Update README.md (#337)
  README.md
Due: none

Remove warnings from GitHub actions (#326)
  .github/workflows/docker_cd.yml
  .github/workflows/docs_cd.yml
  .github/workflows/webapp_ci.yml
Due: prettier

Improve-class-overlap-images (#329)
  docs/docs/_static/images/class-overlap/class-overlap-plot.png
  docs/docs/_static/images/class-overlap/class-overlap-table.png
  docs/docs/_static/images/key-concepts/class-overlap-plot.png
  docs/docs/_static/images/key-concepts/class-overlap-table.png
  docs/docs/user-guide/class-overlap.md
  docs/docs/user-guide/index.md
Due: none

Fix similar and perturbed long utterances (#330)
  CHANGELOG.md
  webapp/src/components/Utterance/PerturbedUtterances.tsx
  webapp/src/components/Utterance/SimilarUtterances.tsx
Due: prettier

Fix crash on Safari (#339)
  CHANGELOG.md
  webapp/src/utils/format.test.ts
  webapp/src/utils/format.ts
Due: prettier

Fix sort by confidence or prediction without postprocessing (#327)
  CHANGELOG.md
  azimuth/routers/v1/utterances.py
  tests/test_routers/test_utterances.py
Due: frontend types, flake8, mypy

Log changes for 2.5.2
  CHANGELOG.md
  docs/docs/getting-started/changelog.md
  pyproject.toml
Due: none

Clean up regular expression
  webapp/src/utils/format.ts
Due: prettier

Log changes for 2.5.2 (#342)
  CHANGELOG.md
  docs/docs/getting-started/changelog.md
  pyproject.toml
  webapp/src/utils/format.ts
Due: prettier

Deployed d775e38 to main with MkDocs 1.4.2 and mike 1.1.2
  main/getting-started/changelog/index.html
  main/search/search_index.json
  main/sitemap.xml.gz
Due: none

Deployed 407bcda to v2.5 with MkDocs 1.4.2 and mike 1.1.2
  v2.5/_static/images/class-overlap/class-overlap-plot.png
  v2.5/_static/images/class-overlap/class-overlap-table.png
  v2.5/_static/images/key-concepts/class-overlap-plot.png
  v2.5/_static/images/key-concepts/class-overlap-table.png
  v2.5/getting-started/changelog/index.html
  v2.5/search/search_index.json
  v2.5/sitemap.xml
  v2.5/sitemap.xml.gz
  v2.5/user-guide/class-overlap/index.html
  v2.5/user-guide/index.html
Due: none

Update README.md
  README.md
Due: none

Add exclude_from_cache flag
  azimuth/config.py
Due: frontend types, flake8, mypy

Fix options_to_consider
  azimuth/modules/base_classes/module.py
Due: frontend types, flake8, mypy

Update README.md (#343)
  README.md
Due: none

Deployed 1855ac1 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Exclude desired fields from cache hash
  azimuth/modules/base_classes/module.py
  azimuth/utils/exclude_fields_with_extra.py
  tests/test_utils/test_exclude_from_cache.py
Due: frontend types, flake8, mypy

Fix fields of type `Any` and `Union`
  azimuth/utils/exclude_fields_with_extra.py
Due: frontend types, flake8, mypy

Deployed cae3bb0 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Deployed 39235e2 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Deployed b675f9a to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Deployed fe407ab to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Deployed 19c7175 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Deployed 11e0611 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Update @xmldom/xmldom
  webapp/yarn.lock
Due: prettier

Exclude fields by value instead of `type_`
  azimuth/modules/base_classes/module.py
  azimuth/utils/dataset_operations.py
  azimuth/utils/exclude_fields_with_extra.py
  tests/test_utils/test_exclude_from_cache.py
Due: frontend types, flake8, mypy

Reuse in artifact path
  azimuth/config.py
Due: frontend types, flake8, mypy

Remove `extra` parameter
  azimuth/config.py
  azimuth/modules/base_classes/module.py
  azimuth/utils/exclude_fields_from_cache.py
  tests/test_utils/test_exclude_from_cache.py
Due: frontend types, flake8, mypy

Test list of any type
  tests/test_utils/test_exclude_from_cache.py
Due: flake8

Test field of any type
  tests/test_utils/test_exclude_from_cache.py
Due: flake8

Exclude fields from cache (#350)
  azimuth/config.py
  azimuth/modules/base_classes/module.py
  azimuth/utils/dataset_operations.py
  azimuth/utils/exclude_fields_from_cache.py
  tests/test_utils/test_exclude_from_cache.py
Due: frontend types, flake8, mypy
