Repository ServiceNow/azimuth: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, frontend types, flake8, mypy

prettier:
  name: prettier
  language: system
  entry: bash -c 'cd webapp && yarn prettier --write .'

frontend types:
  name: Regenerate frontend types
  language: system
  entry: bash -c 'cd webapp && yarn types'

flake8:
  name: flake8
  language: system
  entry: poetry run flake8

mypy:
  name: mypy
  language: system
  verbose: true
  entry: bash -c 'poetry run mypy "azimuth" || true' --
  pass_filenames: false

allow and display the field if its null
  webapp/src/pages/Settings.tsx
Due: prettier

Update config description
  docs/docs/user-guide/index.md
Due: none

Replace "simple" emojis shortcodes (#372)
  docs/docs/about-us.md
  docs/docs/reference/configuration/analyses/behavioral_testing.md
  docs/docs/reference/configuration/analyses/dataset_warnings.md
  docs/docs/reference/configuration/analyses/similarity.md
  docs/docs/reference/configuration/analyses/syntax.md
  docs/docs/reference/configuration/common.md
  docs/docs/reference/configuration/index.md
  docs/docs/reference/configuration/model_contract.md
  docs/docs/reference/configuration/project.md
  docs/docs/user-guide/exploration-space/utterance-details.md
  docs/docs/user-guide/index.md
Due: none

Suport extra long utterances
  webapp/src/components/Analysis/HoverableDataCell.tsx
  webapp/src/components/Analysis/UtterancesTable.tsx
  webapp/src/components/Table.tsx
  webapp/src/components/Utterance/PerturbedUtterances.tsx
  webapp/src/components/Utterance/SimilarUtterances.tsx
  webapp/src/pages/UtteranceDetail.tsx
Due: prettier

Refactor duplicated styles
  webapp/src/components/Analysis/HoverableDataCell.tsx
  webapp/src/components/Analysis/UtterancesTable.tsx
  webapp/src/components/Utterance/PerturbedUtterances.tsx
  webapp/src/components/Utterance/SimilarUtterances.tsx
Due: prettier

Change based on review
  azimuth/modules/dataset_analysis/dataset_warnings.py
  azimuth_shr/loading_resources.py
  tests/test_loading_resources.py
  tests/test_routers/test_dataset_warnings.py
Due: frontend types, flake8, mypy

Fix similarity analysis
  azimuth/modules/dataset_analysis/similarity_analysis.py
Due: frontend types, flake8, mypy

Change based on review
  azimuth/routers/v1/app.py
  azimuth/utils/project.py
  tests/test_loading_resources.py
  tests/test_modules/test_perturbation_testing/test_perturbation_testing_summary.py
  tests/test_startup.py
Due: frontend types, flake8, mypy

Apply suggestions from code review
  azimuth/modules/dataset_analysis/syntax_tagging.py
  azimuth/plots/dataset_warnings.py
Due: frontend types, flake8, mypy

Update tests/test_startup.py
  tests/test_startup.py
Due: flake8

Reformulate comment
  azimuth/modules/dataset_analysis/similarity_analysis.py
Due: frontend types, flake8, mypy

Optimize similarity code
  azimuth/modules/dataset_analysis/similarity_analysis.py
Due: frontend types, flake8, mypy

Support training set only (#361)
  azimuth/app.py
  azimuth/modules/dataset_analysis/similarity_analysis.py
  azimuth/routers/v1/app.py
  azimuth/routers/v1/class_overlap.py
  azimuth/utils/project.py
  azimuth_shr/loading_resources.py
  config/development/clinc_dummy/conf_no_eval.json
  tests/conftest.py
  tests/test_loading_resources.py
  tests/test_modules/test_dataset_analysis/test_similarity_analysis.py
  tests/test_modules/test_perturbation_testing/test_perturbation_testing_summary.py
  tests/test_routers/test_class_analysis.py
  tests/test_startup.py
  tests/utils.py
  webapp/src/App.tsx
  webapp/src/components/Analysis/PerturbationTestingPreview.tsx
  webapp/src/components/Analysis/PreviewToggle.tsx
  webapp/src/components/ClassOverlapTable.tsx
  webapp/src/components/Metrics/PerformanceAnalysis.tsx
  webapp/src/components/Metrics/PerformanceAnalysisTable.tsx
  webapp/src/components/PageHeader.tsx
  webapp/src/components/SmartTagsTable.tsx
  webapp/src/components/WithDatasetSplitNameState.tsx
  webapp/src/pages/ClassOverlap.tsx
  webapp/src/pages/Dashboard.tsx
  webapp/src/pages/PerformanceAnalysis.tsx
  webapp/src/pages/SmartTags.tsx
  webapp/src/services/api.ts
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Deployed fceeee6 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Add better support for csv files (#368)
  azimuth/config.py
  azimuth/dataset_split_manager.py
  azimuth/modules/dataset_analysis/dataset_warnings.py
  azimuth/modules/dataset_analysis/syntax_tagging.py
  azimuth/plots/dataset_warnings.py
  azimuth/types/general/dataset.py
  azimuth_shr/loading_resources.py
  docs/docs/reference/configuration/analyses/dataset_warnings.md
  docs/docs/reference/configuration/analyses/syntax.md
  tests/test_loading_resources.py
  tests/test_modules/test_dataset_analysis/test_dataset_warnings.py
  tests/test_modules/test_dataset_analysis/test_syntax_tagging.py
  tests/test_routers/admin/test_admin.py
  tests/test_routers/test_dataset_warnings.py
  tests/utils.py
  webapp/src/pages/Settings.tsx
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Deployed a4c96d0 to main with MkDocs 1.4.2 and mike 1.1.2
  main/reference/configuration/analyses/dataset_warnings/index.html
  main/reference/configuration/analyses/syntax/index.html
  main/search/search_index.json
  main/sitemap.xml.gz
Due: none

Displayed args as veritcal list
  webapp/src/pages/Settings.tsx
Due: prettier

paramter type change and name change to more meaningful
  webapp/src/pages/Settings.tsx
Due: prettier

displayed indexes along with list of args
  webapp/src/pages/Settings.tsx
Due: prettier

review comments- removed index, added grid instead of flex
  webapp/src/pages/Settings.tsx
Due: prettier

improved null check before displaying fields for not required fields
  webapp/src/pages/Settings.tsx
Due: prettier

added null check for formgroup if no pipeline
  webapp/src/pages/Settings.tsx
Due: prettier

Fix nullable generated types
  azimuth/config.py
  webapp/src/pages/Settings.tsx
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Clean up remaining `env`s that have the default name
  azimuth/config.py
Due: frontend types, flake8, mypy

Add reference
  docs/docs/reference/configuration/project.md
Due: none

Clean up docs
  docs/docs/reference/configuration/analyses/index.md
  docs/docs/reference/configuration/model_contract.md
  docs/docs/reference/configuration/project.md
  docs/docs/reference/custom-objects/index.md
Due: none

Fix `Union` types and remove problematic `?`s
  azimuth/config.py
  webapp/src/pages/Settings.tsx
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Require `dataset_split_name` in data action POST body
  azimuth/types/tag.py
  tests/test_routers/test_tags.py
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Fix tests
  tests/utils.py
Due: flake8

Use default values for `similarity`
  webapp/src/pages/Settings.tsx
Due: prettier

param name change for args and kwargs
  webapp/src/pages/Settings.tsx
Due: prettier

Fix documentation
  azimuth/config.py
  docs/docs/reference/configuration/project.md
  docs/docs/reference/custom-objects/index.md
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Clean up
  webapp/src/pages/Settings.tsx
Due: prettier

Display config args as vertical list (#367)
  webapp/src/pages/Settings.tsx
Due: prettier

Deployed 10bfcad to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Show _null_ in read-only text fields
  webapp/src/pages/Settings.tsx
Due: prettier

Add missing required field
  azimuth/config.py
Due: frontend types, flake8, mypy

Fix testing perturbed utterances
  tests/test_routers/admin/test_admin.py
  tests/test_routers/test_utterances.py
  tests/utils.py
Due: flake8

Path conditions:
  prettier: any of: webapp
  frontend types: any of: azimuth
  flake8: any of: \.py$
  mypy: any of: azimuth
