Repository ServiceNow/azimuth: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, frontend types, flake8, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
        - id: check-yaml
          exclude: docs
        - id: end-of-file-fixer
          types: [ python ]
        - id: trailing-whitespace
        - id: pretty-format-json
          args: [--autofix, --no-sort-keys]
          exclude: webapp
  - repo: local
    hooks:
      - id: black
        name: black
        language: system
        entry: poetry run black
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types_or: [ python, pyi ]
  - repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
        - id: autoflake
          args:
            - --expand-star-imports
            - --ignore-init-module-imports
            - --in-place
            - --remove-all-unused-imports
            - --remove-duplicate-keys
            - --remove-unused-variables
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: bash -c 'cd webapp && yarn prettier --write .'
        files: webapp
  - repo: local
    hooks:
      - id: frontend types
        name: Regenerate frontend types
        language: system
        entry: bash -c 'cd webapp && yarn types'
        files: azimuth
  - repo: local
    hooks:
      - id: flake8
        name: flake8
        language: system
        entry: poetry run flake8
        types: [ python ]
  - repo: https://github.com/pycqa/isort
    rev: 5.8.0
    hooks:
      - id: isort
        name: isort
        args: [ "--profile", "black", "--skip", "__init__.py", "--filter-files" ]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        language: system
        verbose: true
        entry: bash -c 'poetry run mypy "azimuth" || true' --
        files: azimuth
        pass_filenames: false

Deployed 618d62a to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Log changes
  CHANGELOG.md
Due: none

Apply suggestions from code review
  docs/docs/key-concepts/similarity.md
  webapp/src/components/ClassAnalysisTable.tsx
Due: prettier

Fix generated types for `CustomObject`s
  azimuth/config.py
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

correct Learn More links to /class-overlap/ (and small formatting)
  webapp/src/components/ClassAnalysisTable.tsx
  webapp/src/pages/ClassAnalysis.tsx
  webapp/src/pages/Dashboard.tsx
Due: prettier

Add documentation for pipeline steps
  docs/docs/_static/images/exploration-space/utterance-details-behavioral-tests.png
  docs/docs/_static/images/exploration-space/utterance-details-similarity.png
  docs/docs/user-guide/exploration-space/utterance-details.md
Due: none

Replace 0.0.0.0 by localhost for Windows
  README.md
  azimuth/routers/README.md
  docs/docs/getting-started/b-basics.md
  docs/docs/getting-started/c-run.md
  docs/docs/user-guide/custom-utterances.md
Due: frontend types, mypy

Bump version
  CITATION.cff
  pyproject.toml
Due: none

Update release notes
  CHANGELOG.md
  docs/docs/getting-started/changelog.md
Due: none

change class_analysis to class_overlap
  CHANGELOG.md
  azimuth/app.py
  azimuth/routers/v1/class_overlap.py
  tests/test_routers/test_class_analysis.py
  webapp/src/App.tsx
  webapp/src/components/PageHeader.tsx
  webapp/src/pages/ClassAnalysis.tsx
  webapp/src/pages/Dashboard.tsx
  webapp/src/services/api.ts
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

more analysis->overlap throughout f-e
  azimuth/routers/v1/class_overlap.py
  azimuth/types/class_overlap.py
  docs/docs/_static/images/key-concepts/class-overlap-table.png
  docs/docs/user-guide/index.md
  webapp/src/App.tsx
  webapp/src/components/ClassOverlapTable.tsx
  webapp/src/pages/ClassOverlap.tsx
  webapp/src/pages/Dashboard.tsx
  webapp/src/services/api.ts
  webapp/src/types/api.ts
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

correct docs for kNN used by spectral-metric for overlap
  docs/docs/key-concepts/similarity.md
Due: none

f-e toggle wording change missed earlier
  webapp/src/pages/ClassOverlap.tsx
Due: prettier

suggested workflow section of class overlap plot user guide
  docs/docs/user-guide/class-overlap.md
  webapp/src/pages/ClassOverlap.tsx
Due: prettier

Make overlap threshold input more user friendly (#307)
  CHANGELOG.md
  webapp/src/components/Controls/FilterTextField.tsx
  webapp/src/components/Metrics/Metric.tsx
  webapp/src/components/PlotWrapper.tsx
  webapp/src/hooks/useDebounced.ts
  webapp/src/pages/ClassAnalysis.tsx
Due: prettier

Deployed acdd0d4 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Fix generated types for `CustomObject`s (#314)
  azimuth/config.py
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Deployed 6ffdc7f to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Clean up docker image
  .dockerignore
  Makefile
  docs/Dockerfile.docs
  docs/README.md
  makefiles/Makefile.docs
Due: none

Apply suggestions from code review
  docs/docs/user-guide/class-overlap.md
Due: none

Increase size tiny text config
  tests/conftest.py
Due: flake8

Remove `azimuth_shr` completely
  .dockerignore
Due: none

Clean up layout (no visible change)
  webapp/src/pages/ClassOverlap.tsx
Due: prettier

Fix error message
  webapp/src/pages/ClassOverlap.tsx
Due: prettier

Decapitalize switches labels
  webapp/src/pages/ClassOverlap.tsx
Due: prettier

Add axis titles
  webapp/src/pages/ClassOverlap.tsx
Due: prettier

align docs' capitalization of plot options with app
  docs/docs/user-guide/class-overlap.md
Due: none

Refactor expirable test to be more consistent
  tests/test_task_manager.py
Due: flake8

Add pipeline names
  config/examples/clinc_oos/conf_multipipeline.json
Due: none

Fix learn more links
  webapp/src/components/Analysis/UtterancesTable.tsx
  webapp/src/pages/Exploration.tsx
Due: prettier

Add pipeline names in all multi-pipeline configs
  config/development/clinc/conf_multipipeline.json
Due: none

Fix learn more links (#318)
  webapp/src/components/Analysis/UtterancesTable.tsx
  webapp/src/pages/Exploration.tsx
Due: prettier

Deployed 4b379b0 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Add pipeline names (#317)
  config/development/clinc/conf_multipipeline.json
  config/examples/clinc_oos/conf_multipipeline.json
Due: none

Deployed 8271902 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

small docs formatting fixes
  docs/docs/user-guide/class-overlap.md
Due: none

Class overlap comms, in-app and in docs (#312)
  CHANGELOG.md
  azimuth/app.py
  azimuth/routers/v1/class_overlap.py
  azimuth/types/class_overlap.py
  docs/docs/_static/images/key-concepts/class-overlap-table.png
  docs/docs/key-concepts/class-similarity.md
  docs/docs/key-concepts/similarity.md
  docs/docs/user-guide/class-analysis.md
  docs/docs/user-guide/class-overlap.md
  docs/docs/user-guide/index.md
  docs/mkdocs.yml
  tests/test_routers/test_class_analysis.py
  webapp/src/App.tsx
  webapp/src/components/ClassOverlapTable.tsx
  webapp/src/components/Description.tsx
  webapp/src/components/PageHeader.tsx
  webapp/src/pages/ClassOverlap.tsx
  webapp/src/pages/Dashboard.tsx
  webapp/src/services/api.ts
  webapp/src/types/api.ts
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Apply suggestions from code review
  docs/docs/getting-started/changelog.md
Due: none

Fix overlap threshold number picker
  webapp/src/pages/ClassOverlap.tsx
Due: prettier
