Repository ServiceNow/azimuth: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, frontend types, flake8, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
        - id: check-yaml
          exclude: docs
        - id: end-of-file-fixer
          types: [ python ]
        - id: trailing-whitespace
        - id: pretty-format-json
          args: [--autofix, --no-sort-keys]
          exclude: webapp
  - repo: local
    hooks:
      - id: black
        name: black
        language: system
        entry: poetry run black
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types_or: [ python, pyi ]
  - repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
        - id: autoflake
          args:
            - --expand-star-imports
            - --ignore-init-module-imports
            - --in-place
            - --remove-all-unused-imports
            - --remove-duplicate-keys
            - --remove-unused-variables
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: bash -c 'cd webapp && yarn prettier --write .'
        files: webapp
  - repo: local
    hooks:
      - id: frontend types
        name: Regenerate frontend types
        language: system
        entry: bash -c 'cd webapp && yarn types'
        files: azimuth
  - repo: local
    hooks:
      - id: flake8
        name: flake8
        language: system
        entry: poetry run flake8
        types: [ python ]
  - repo: https://github.com/pycqa/isort
    rev: 5.8.0
    hooks:
      - id: isort
        name: isort
        args: [ "--profile", "black", "--skip", "__init__.py", "--filter-files" ]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        language: system
        verbose: true
        entry: bash -c 'poetry run mypy "azimuth" || true' --
        files: azimuth
        pass_filenames: false

Deployed 29c4907 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Test script for PipelineSelect,DeltaComputationBar
  webapp/src/components/Metrics/DeltaComputationBar.test.tsx
  webapp/src/components/Metrics/DeltaComputationBar.tsx
  webapp/src/components/Metrics/PerformanceAnalysisTable.test.tsx
  webapp/src/components/PipelineSelect.test.tsx
  webapp/src/mocks/api/mockConfigAPI.ts
  webapp/src/mocks/api/mockDatasetInfoAPI.ts
  webapp/src/pages/PerformanceAnalysis.test.tsx
Due: prettier

Test script for Performance comparison table
  webapp/src/components/Metrics/PerformanceAnalysis.test.tsx
  webapp/src/components/Metrics/PerformanceAnalysisTable.test.tsx
  webapp/src/mocks/api/mockConfigAPI.ts
Due: prettier

Review comments - code simplified, typo correction
  webapp/src/components/Metrics/DeltaComputationBar.test.tsx
  webapp/src/components/Metrics/PerformanceAnalysisTable.test.tsx
  webapp/src/components/PipelineSelect.test.tsx
Due: prettier

Review comments - code simplified, typo correction, add test case for negative delta values
  webapp/src/components/Metrics/DeltaComputationBar.test.tsx
  webapp/src/pages/PerformanceAnalysis.test.tsx
Due: prettier

mock API data corrected to latest
  webapp/src/mocks/api/mockConfigAPI.ts
  webapp/src/mocks/api/mockDatasetInfoAPI.ts
Due: prettier

Review comments - corrected passing arguments to deltacomputation, replaced toHaveTextContent to textcontent
  webapp/src/components/Analysis/PerturbationTestingPreview.test.tsx
  webapp/src/components/Analysis/PreviewCard.test.tsx
  webapp/src/components/Metrics/DeltaComputationBar.test.tsx
  webapp/src/components/Metrics/PerformanceAnalysis.test.tsx
  webapp/src/components/Metrics/PerformanceAnalysisTable.test.tsx
  webapp/src/components/PipelineSelect.test.tsx
Due: prettier

Remove `/admin` route prefix
  azimuth/app.py
  azimuth/routers/v1/admin.py
  webapp/src/services/api.ts
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Fix duplicated front end cache tag
  webapp/src/services/api.ts
Due: prettier

Rename router file
  azimuth/app.py
  azimuth/routers/v1/config.py
Due: frontend types, flake8, mypy

Adapt tests
  tests/test_routers/admin/__init__.py
  tests/test_routers/test_config.py
Due: flake8

Remove `/admin` route prefix (#466)
  azimuth/app.py
  azimuth/routers/v1/config.py
  tests/test_routers/admin/__init__.py
  tests/test_routers/test_config.py
  webapp/src/services/api.ts
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Test for performance analysis comparison table (#420)
  webapp/src/components/Analysis/PerturbationTestingPreview.test.tsx
  webapp/src/components/Analysis/PreviewCard.test.tsx
  webapp/src/components/Metrics/DeltaComputationBar.test.tsx
  webapp/src/components/Metrics/DeltaComputationBar.tsx
  webapp/src/components/Metrics/PerformanceAnalysisTable.test.tsx
  webapp/src/components/PipelineSelect.test.tsx
  webapp/src/mocks/api/mockConfigAPI.ts
  webapp/src/mocks/api/mockDatasetInfoAPI.ts
  webapp/src/pages/PerformanceAnalysis.test.tsx
Due: prettier

Deployed fb6bf4e to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Fix front-end tests
  webapp/src/mocks/api/mockConfigAPI.ts
Due: prettier

Fix front-end tests (#468)
  webapp/src/mocks/api/mockConfigAPI.ts
Due: prettier

Change Admin to Config
  azimuth/routers/v1/config.py
Due: frontend types, flake8, mypy

Move tags definitions to the app level
  azimuth/app.py
  azimuth/routers/v1/app.py
  azimuth/routers/v1/class_overlap.py
  azimuth/routers/v1/config.py
  azimuth/routers/v1/custom_utterances.py
  azimuth/routers/v1/dataset_warnings.py
  azimuth/routers/v1/export.py
  azimuth/routers/v1/model_performance/confidence_histogram.py
  azimuth/routers/v1/model_performance/confusion_matrix.py
  azimuth/routers/v1/model_performance/metrics.py
  azimuth/routers/v1/model_performance/outcome_count.py
  azimuth/routers/v1/model_performance/utterance_count.py
  azimuth/routers/v1/top_words.py
  azimuth/routers/v1/utterances.py
Due: frontend types, flake8, mypy

Add useEffect to manage mainview update to history
  webapp/src/pages/Dashboard.tsx
  webapp/src/pages/Exploration.tsx
Due: prettier

Add fix to save the browser history in exploration page-utterance table
  webapp/src/pages/Dashboard.tsx
  webapp/src/pages/Exploration.tsx
Due: prettier

Add SetMainView dependencies to useEffect, add useCallback to SetMainView function
  webapp/src/pages/Exploration.tsx
Due: prettier

Add route condition to Dashboard page, add all dependencies to useEffect
  webapp/src/pages/Dashboard.tsx
  webapp/src/pages/Exploration.tsx
Due: prettier

Remove v1 folder
  azimuth/app.py
  azimuth/routers/app.py
  azimuth/routers/class_overlap.py
  azimuth/routers/config.py
  azimuth/routers/custom_utterances.py
  azimuth/routers/dataset_warnings.py
  azimuth/routers/export.py
  azimuth/routers/model_performance/__init__.py
  azimuth/routers/model_performance/confidence_histogram.py
  azimuth/routers/model_performance/confusion_matrix.py
  azimuth/routers/model_performance/metrics.py
  azimuth/routers/model_performance/outcome_count.py
  azimuth/routers/model_performance/utterance_count.py
  azimuth/routers/top_words.py
  azimuth/routers/utterances.py
  azimuth/routers/v1/__init__.py
  tests/test_routers/test_utterances.py
Due: frontend types, flake8, mypy

Add fix to browser history after navigating to exploration page with no pipeline (#464)
  webapp/src/pages/Dashboard.tsx
  webapp/src/pages/Exploration.tsx
Due: prettier

Deployed 11780f6 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Add Outcome option to dropdown in Smart Tag Analysis (#456)
  CHANGELOG.md
  webapp/src/components/SmartTagsTable.tsx
Due: prettier

Deployed a029a67 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Remove v1 folder structure (#467)
  azimuth/app.py
  azimuth/routers/app.py
  azimuth/routers/class_overlap.py
  azimuth/routers/config.py
  azimuth/routers/custom_utterances.py
  azimuth/routers/dataset_warnings.py
  azimuth/routers/export.py
  azimuth/routers/model_performance/__init__.py
  azimuth/routers/model_performance/confidence_histogram.py
  azimuth/routers/model_performance/confusion_matrix.py
  azimuth/routers/model_performance/metrics.py
  azimuth/routers/model_performance/outcome_count.py
  azimuth/routers/model_performance/utterance_count.py
  azimuth/routers/top_words.py
  azimuth/routers/utterances.py
  azimuth/routers/v1/__init__.py
  tests/test_routers/test_utterances.py
Due: frontend types, flake8, mypy

Deployed 46de0d5 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Adapt based on comments from previous PR
  azimuth/plots/dataset_warnings.py
Due: frontend types, flake8, mypy

Update azimuth/modules/base_classes/module.py
  azimuth/modules/base_classes/module.py
Due: frontend types, flake8, mypy

Add consistency between pipeline and model
  azimuth/modules/base_classes/module.py
  azimuth/modules/dataset_analysis/similarity_analysis.py
  azimuth/modules/model_contracts/custom_classification.py
  azimuth/modules/model_contracts/file_based_text_classification.py
  azimuth/modules/model_contracts/hf_text_classification.py
  azimuth/modules/model_contracts/text_classification.py
  azimuth/utils/routers.py
  tests/test_modules/test_model_contracts/test_hf_text_classification.py
  tests/test_modules/test_model_contracts/test_text_classification.py
  tests/test_modules/test_module.py
  tests/test_utils/test_ml/test_mc_dropout.py
Due: frontend types, flake8, mypy

Adapt based on comments
  azimuth/modules/base_classes/module.py
  azimuth/modules/model_contracts/hf_text_classification.py
Due: frontend types, flake8, mypy

Clean up previous PR and pipeline vs model (#450)
  azimuth/modules/base_classes/module.py
  azimuth/modules/dataset_analysis/similarity_analysis.py
  azimuth/modules/model_contracts/custom_classification.py
  azimuth/modules/model_contracts/file_based_text_classification.py
  azimuth/modules/model_contracts/hf_text_classification.py
  azimuth/modules/model_contracts/text_classification.py
  azimuth/plots/dataset_warnings.py
  azimuth/utils/routers.py
  tests/test_modules/test_model_contracts/test_hf_text_classification.py
  tests/test_modules/test_model_contracts/test_text_classification.py
  tests/test_modules/test_module.py
  tests/test_utils/test_ml/test_mc_dropout.py
Due: frontend types, flake8, mypy

Deployed ab4f415 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Link from confusion matrix cells to utterance table
  webapp/src/components/ConfusionMatrix.tsx
Due: prettier

Log changes
  CHANGELOG.md
Due: none

Link from confusion matrix row/column labels to utterance table
  webapp/src/components/ConfusionMatrix.tsx
Due: prettier
