Repository ServiceNow/azimuth: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, frontend types, flake8, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
        - id: check-yaml
          exclude: docs
        - id: end-of-file-fixer
          types: [ python ]
        - id: trailing-whitespace
        - id: pretty-format-json
          args: [--autofix, --no-sort-keys]
          exclude: webapp
  - repo: local
    hooks:
      - id: black
        name: black
        language: system
        entry: poetry run black
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types_or: [ python, pyi ]
  - repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
        - id: autoflake
          args:
            - --expand-star-imports
            - --ignore-init-module-imports
            - --in-place
            - --remove-all-unused-imports
            - --remove-duplicate-keys
            - --remove-unused-variables
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: bash -c 'cd webapp && yarn prettier --write .'
        files: webapp
  - repo: local
    hooks:
      - id: frontend types
        name: Regenerate frontend types
        language: system
        entry: bash -c 'cd webapp && yarn types'
        files: azimuth
  - repo: local
    hooks:
      - id: flake8
        name: flake8
        language: system
        entry: poetry run flake8
        types: [ python ]
  - repo: https://github.com/pycqa/isort
    rev: 5.8.0
    hooks:
      - id: isort
        name: isort
        args: [ "--profile", "black", "--skip", "__init__.py", "--filter-files" ]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        language: system
        verbose: true
        entry: bash -c 'poetry run mypy "azimuth" || true' --
        files: azimuth
        pass_filenames: false

clean quote in filtering
  azimuth/utils/filtering.py
Due: frontend types, flake8, mypy

convert quote to apostrophe to facilitate spaCy POS and search
  azimuth/utils/string_processing.py
Due: frontend types, flake8, mypy

add multisent to test
  tests/test_modules/test_dataset_analysis/test_syntax_tagging.py
Due: flake8

rename string_processing->utterance.py and make lowercasing non-optional
  azimuth/modules/dataset_analysis/syntax_tagging.py
  azimuth/utils/filtering.py
  azimuth/utils/utterance.py
Due: frontend types, flake8, mypy

add lowercasing to cleaning function and pos-tagging
  azimuth/utils/filtering.py
  azimuth/utils/string_processing.py
  tests/test_modules/test_dataset_analysis/test_syntax_tagging.py
Due: frontend types, flake8, mypy

Update grpcio
  poetry.lock
Due: none

fix lock file after updating poetry
  poetry.lock
Due: none

Update grpcio (#248)
  poetry.lock
Due: none

Deployed ffdcee3 to main with MkDocs 1.3.1 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Add missing key
  webapp/src/components/StatusCheck.tsx
Due: prettier

Deployed a0faeed to main with MkDocs 1.3.1 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

refactor metrics per filter
  azimuth/modules/base_classes/aggregation_module.py
  azimuth/modules/model_performance/confidence_binning.py
  azimuth/modules/model_performance/confusion_matrix.py
  azimuth/modules/model_performance/metrics.py
  azimuth/modules/model_performance/outcome_count.py
  azimuth/modules/word_analysis/top_words.py
  azimuth/routers/v1/model_performance/utterance_count.py
  azimuth/routers/v1/utterances.py
  azimuth/utils/dataset_operations.py
  tests/profiling_debugging.py
  tests/test_utils/test_dataset_filtering.py
Due: frontend types, flake8, mypy

Update onnx
  poetry.lock
  pyproject.toml
Due: none

Update onnx (#251)
  poetry.lock
  pyproject.toml
Due: none

Add slack account
  README.md
  docs/docs/index.md
  docs/docs/user-guide/index.md
Due: none

Add slack account (#252)
  README.md
  docs/docs/index.md
  docs/docs/user-guide/index.md
Due: none

Deployed 6b46785 to main with MkDocs 1.3.1 and mike 1.1.2
  main/index.html
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
  main/user-guide/index.html
Due: none

Apply suggestions from code review
  azimuth/modules/model_performance/confidence_binning.py
  azimuth/modules/model_performance/metrics.py
Due: frontend types, flake8, mypy

Add profiling details and dependency
  .gitignore
  poetry.lock
  pyproject.toml
  tests/profiling_debugging.py
Due: flake8

Change according to review
  azimuth/modules/model_performance/confidence_binning.py
  azimuth/modules/model_performance/metrics.py
Due: frontend types, flake8, mypy

add Notice.txt as requested by legal
  Notice.txt
Due: none

BUG: 404 route not working on root route '/'
  webapp/src/App.tsx
  webapp/src/components/Analysis/UtterancesTable.tsx
  webapp/src/components/Controls/Controls.tsx
  webapp/src/components/Metrics/PerformanceAnalysis.tsx
  webapp/src/components/PageHeader.tsx
  webapp/src/pages/Dashboard.tsx
  webapp/src/pages/Exploration.tsx
Due: prettier

precommit changes
  webapp/openapi.json
  webapp/src/components/Analysis/UtterancesTable.tsx
  webapp/src/components/Controls/Controls.tsx
Due: prettier

Change threading fct
  tests/profiling_debugging.py
Due: flake8

add Notice.txt as requested by legal (#253)
  Notice.txt
Due: none

Deployed e9dcea0 to main with MkDocs 1.3.1 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Refactor metrics per filter (#250)
  .gitignore
  azimuth/modules/base_classes/aggregation_module.py
  azimuth/modules/model_performance/confidence_binning.py
  azimuth/modules/model_performance/confusion_matrix.py
  azimuth/modules/model_performance/metrics.py
  azimuth/modules/model_performance/outcome_count.py
  azimuth/modules/word_analysis/top_words.py
  azimuth/routers/v1/model_performance/utterance_count.py
  azimuth/routers/v1/utterances.py
  azimuth/utils/dataset_operations.py
  poetry.lock
  pyproject.toml
  tests/profiling_debugging.py
  tests/test_utils/test_dataset_filtering.py
Due: frontend types, flake8, mypy

Deployed 84ee579 to main with MkDocs 1.3.1 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Add large dask cluster to config
  azimuth/app.py
  azimuth/config.py
  azimuth/task_manager.py
  docs/docs/reference/configuration/common.md
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Add log
  azimuth/utils/cluster.py
Due: frontend types, flake8, mypy

Fix test
  tests/test_routers/admin/test_admin.py
Due: flake8

Apply suggestions from code review
  docs/docs/reference/configuration/common.md
Due: none

Add large dask cluster to config (#260)
  azimuth/app.py
  azimuth/config.py
  azimuth/task_manager.py
  azimuth/utils/cluster.py
  docs/docs/reference/configuration/common.md
  tests/test_routers/admin/test_admin.py
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

language selection in config with dynamically-set defaults
  azimuth/config.py
  azimuth/modules/dataset_analysis/syntax_tagging.py
  tests/conftest.py
  tests/test_load_config.py
  tests/test_modules/test_dataset_analysis/test_syntax_tagging.py
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

added language selection to CHANGELOG.md
  CHANGELOG.md
Due: none

docs; consistent ordering of syntax references; type spaCy model options
  azimuth/config.py
  azimuth/modules/dataset_analysis/syntax_tagging.py
  docs/docs/key-concepts/behavioral-testing.md
  docs/docs/key-concepts/syntax-analysis.md
  docs/docs/reference/configuration/analyses/behavioral_testing.md
  docs/docs/reference/configuration/analyses/syntax.md
  docs/docs/reference/configuration/index.md
  docs/docs/reference/configuration/project.md
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

fix config test to match current state
  tests/test_routers/admin/test_admin.py
Due: flake8

fix docstring for clean_utterance...and grammar in test that had failed
  azimuth/utils/utterance.py
  tests/test_documentation.py
Due: frontend types, flake8, mypy
