Repository ServiceNow/azimuth: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, frontend types, flake8, mypy

prettier:
  name: prettier
  language: system
  entry: bash -c 'cd webapp && yarn prettier --write .'

frontend types:
  name: Regenerate frontend types
  language: system
  entry: bash -c 'cd webapp && yarn types'

flake8:
  name: flake8
  language: system
  entry: poetry run flake8

mypy:
  name: mypy
  language: system
  verbose: true
  entry: bash -c 'poetry run mypy "azimuth" || true' --
  pass_filenames: false

Parse `ArtifactsConfig` only `if load_config_history`
  azimuth/config.py
Due: frontend types, flake8, mypy

Have `StringField` support select options
  webapp/src/pages/Settings.tsx
Due: prettier

Move field components to separate files
  webapp/src/components/Settings/JSONField.tsx
  webapp/src/components/Settings/NumberField.tsx
  webapp/src/components/Settings/StringArrayField.tsx
  webapp/src/components/Settings/StringField.tsx
  webapp/src/components/Settings/utils.ts
  webapp/src/pages/Settings.tsx
Due: prettier

Add pid to logs to help debugging
  azimuth/utils/logs.py
Due: frontend types, flake8, mypy

Send tasks that require the pipelines to same worker
  azimuth/modules/base_classes/dask_module.py
  azimuth/utils/cluster.py
  tests/test_routers/conftest.py
Due: frontend types, flake8, mypy

Modify DM so it always load the latest cache
  azimuth/dataset_split_manager.py
  azimuth/modules/base_classes/expirable_mixin.py
  azimuth/task_manager.py
  azimuth/utils/routers.py
  tests/conftest.py
  tests/test_dataset_manager.py
  tests/test_modules/test_model_contracts/test_model_contract_module.py
Due: frontend types, flake8, mypy

Add logging to help with config update debugging
  azimuth/routers/config.py
Due: frontend types, flake8, mypy

Restart client to free memory
  azimuth/app.py
  azimuth/startup.py
  azimuth/task_manager.py
Due: frontend types, flake8, mypy

Make CI run on all push
  .github/workflows/pythonci.yml
  .github/workflows/webapp_ci.yml
Due: prettier

Deployed db7fd63 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Add and modify some logging
  azimuth/startup.py
Due: frontend types, flake8, mypy

Cleanup comments and logs
  azimuth/modules/base_classes/module.py
  azimuth/utils/cluster.py
  azimuth/utils/ml/mc_dropout.py
  azimuth/utils/ml/perturbation_test.py
  azimuth/utils/pydantic_utils.py
  azimuth/utils/routers.py
Due: frontend types, flake8, mypy

Update azimuth/utils/ml/perturbation_test.py
  azimuth/utils/ml/perturbation_test.py
Due: frontend types, flake8, mypy

Minor fixes to comments and logs (#533)
  azimuth/modules/base_classes/module.py
  azimuth/startup.py
  azimuth/utils/cluster.py
  azimuth/utils/ml/mc_dropout.py
  azimuth/utils/ml/perturbation_test.py
  azimuth/utils/pydantic_utils.py
  azimuth/utils/routers.py
Due: frontend types, flake8, mypy

Deployed 63311d4 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Update python to 3.9
  .github/workflows/pythonci.yml
  poetry.lock
  pyproject.toml
Due: none

Clean up redundant comment
  webapp/server.js
Due: prettier

Clean up `links` from Docker Compose
  docker-compose.yml
  webapp/server.js
Due: prettier

Clean up indentation
  docker-compose.yml
Due: none

Clean up `links` from Docker Compose (#536)
  docker-compose.yml
  webapp/server.js
Due: prettier

Resolve TODO
  azimuth/modules/base_classes/indexable_module.py
Due: frontend types, flake8, mypy

Fix mypy
  Dockerfile
  pyproject.toml
Due: none

Update docs
  docs/docs/development/launching.md
  docs/docs/development/setup.md
Due: none

Rename variable in tests
  tests/test_routers/conftest.py
Due: flake8

Update python to 3.9 (#534)
  .github/workflows/pythonci.yml
  Dockerfile
  azimuth/modules/base_classes/indexable_module.py
  docs/docs/development/launching.md
  docs/docs/development/setup.md
  poetry.lock
  pyproject.toml
Due: frontend types, flake8, mypy

Deployed c77f7fa to main with MkDocs 1.4.2 and mike 1.1.2
  main/development/launching/index.html
  main/development/setup/index.html
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Rename variable in tests (#535)
  tests/test_routers/conftest.py
Due: flake8

Deployed 3b5089b to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Validate positive integers
  azimuth/config.py
Due: frontend types, flake8, mypy

Change comment into field description
  azimuth/config.py
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Change thresholds to percentages
  azimuth/config.py
  webapp/src/pages/Settings.tsx
Due: prettier, frontend types, flake8, mypy

Validate behavioral testing number fields (#537)
  azimuth/config.py
  webapp/src/pages/Settings.tsx
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Deployed f54c511 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Preserve newlines in toasts
  webapp/src/styles/theme.tsx
Due: prettier

Show error messages from backend on API failure
  webapp/src/services/api.ts
  webapp/src/types/api.ts
  webapp/src/utils/api.ts
Due: prettier

fix failed test cases
  webapp/src/components/Analysis/PerturbationTestingPreview.test.tsx
  webapp/src/components/Metrics/PerformanceAnalysis.test.tsx
  webapp/src/components/Metrics/PerformanceAnalysisTable.test.tsx
Due: prettier

Remove duplication in styles
  webapp/src/styles/theme.tsx
Due: prettier

Path conditions:
  prettier: any of: webapp
  frontend types: any of: azimuth
  flake8: any of: \.py$
  mypy: any of: azimuth
