Repository ServiceNow/azimuth: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, frontend types, flake8, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
        - id: check-yaml
          exclude: docs
        - id: end-of-file-fixer
          types: [ python ]
        - id: trailing-whitespace
        - id: pretty-format-json
          args: [--autofix, --no-sort-keys]
          exclude: webapp
  - repo: local
    hooks:
      - id: black
        name: black
        language: system
        entry: poetry run black
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types_or: [ python, pyi ]
  - repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
        - id: autoflake
          args:
            - --expand-star-imports
            - --ignore-init-module-imports
            - --in-place
            - --remove-all-unused-imports
            - --remove-duplicate-keys
            - --remove-unused-variables
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: bash -c 'cd webapp && yarn prettier --write .'
        files: webapp
  - repo: local
    hooks:
      - id: frontend types
        name: Regenerate frontend types
        language: system
        entry: bash -c 'cd webapp && yarn types'
        files: azimuth
  - repo: local
    hooks:
      - id: flake8
        name: flake8
        language: system
        entry: poetry run flake8
        types: [ python ]
  - repo: https://github.com/pycqa/isort
    rev: 5.8.0
    hooks:
      - id: isort
        name: isort
        args: [ "--profile", "black", "--skip", "__init__.py", "--filter-files" ]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        language: system
        verbose: true
        entry: bash -c 'poetry run mypy "azimuth" || true' --
        files: azimuth
        pass_filenames: false

Create `ConfigState` type
  webapp/src/pages/Settings.tsx
Due: prettier

Improve errors
  webapp/src/components/Settings/AutocompleteStringField.tsx
  webapp/src/components/Settings/StringField.tsx
  webapp/src/pages/Settings.tsx
Due: prettier

Support custom metrics (#569)
  CHANGELOG.md
  webapp/src/components/PipelineCheck.tsx
  webapp/src/components/Settings/AutocompleteStringField.tsx
  webapp/src/components/Settings/CustomObjectFields.tsx
  webapp/src/components/Settings/StringField.tsx
  webapp/src/pages/Settings.tsx
  webapp/src/types/api.ts
Due: prettier

Deployed 12aa4a3 to main with MkDocs 1.4.3 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

Remove deprecation warning from pytest output (#570)
  pyproject.toml
Due: none

Deployed 45eb531 to main with MkDocs 1.4.3 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Add a make target to serve docs
  Makefile
  docs/README.md
Due: none

Release 2.6.2
  CHANGELOG.md
  docs/docs/getting-started/changelog.md
  pyproject.toml
Due: none

Small fixes and enhancements
  docs/docs/getting-started/c-run.md
Due: none

Document launching Azimuth with or without a config file
  docs/docs/getting-started/b-basics.md
  docs/docs/getting-started/c-run.md
Due: none

Try `setup-poetry@v8`
  .github/workflows/pythonci.yml
Due: none

Fix exporting `CFG_PATH`
  docs/docs/getting-started/c-run.md
Due: none

Deployed 4b94404 to main with MkDocs 1.4.3 and mike 1.1.2
  main/getting-started/b-basics/index.html
  main/getting-started/c-run/index.html
  main/getting-started/changelog/index.html
  main/search/search_index.json
  main/sitemap.xml.gz
Due: none

Bump minor version
  docs/docs/getting-started/changelog.md
  pyproject.toml
Due: none

Deployed e888bbf to main with MkDocs 1.4.3 and mike 1.1.2
  main/getting-started/changelog/index.html
  main/search/search_index.json
  main/sitemap.xml.gz
Due: none

Update GPU base image
  Dockerfile
Due: none

Update GPU base image (#577)
  Dockerfile
Due: none

Deployed fa7fc5e to v2.7 with MkDocs 1.4.3 and mike 1.1.2
  v2.7/sitemap.xml.gz
Due: none

Add a route to validate a config
  azimuth/routers/config.py
  webapp/src/services/api.ts
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Fix updating config with equivalent `artifact_path`
  azimuth/config.py
  azimuth/routers/config.py
  tests/test_config.py
  tests/test_routers/test_config.py
Due: frontend types, flake8, mypy

Clean up
  azimuth/routers/config.py
  tests/test_routers/test_config.py
Due: frontend types, flake8, mypy

Create reusable component `FileInputButton`
  webapp/src/components/Analysis/UtterancesTable.tsx
  webapp/src/components/FileInputButton.tsx
Due: prettier

Fix uploading same file twice
  webapp/src/components/FileInputButton.tsx
Due: prettier

Log changes
  CHANGELOG.md
Due: none

Deployed a91ed5b to main with MkDocs 1.4.3 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Clarify comment
  webapp/src/components/FileInputButton.tsx
Due: prettier

Even more
  webapp/src/components/FileInputButton.tsx
Due: prettier

Create reusable conversion functions between `AzimuthConfig` and `ConfigState`
  webapp/src/pages/Settings.tsx
Due: prettier

Add missing config fields that may trigger time-consuming computations
  webapp/src/pages/Settings.tsx
Due: prettier

Fix download icon semantic
  webapp/src/components/Analysis/UtterancesTable.tsx
  webapp/src/components/PerturbationTestingSummary/PerturbationTestingExporter.tsx
Due: prettier

Add button to upload a config file
  webapp/src/pages/Settings.tsx
Due: prettier

Add button to download a config file
  webapp/src/pages/Settings.tsx
  webapp/src/utils/api.ts
Due: prettier

Deployed 3358d38 to main with MkDocs 1.4.3 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Deployed 6eca195 to main with MkDocs 1.4.3 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Deployed 2be51ba to main with MkDocs 1.4.3 and mike 1.1.2
  main/sitemap.xml.gz
Due: none
