Repository ServiceNow/azimuth: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, frontend types, flake8, mypy

prettier:
  name: prettier
  language: system
  entry: bash -c 'cd webapp && yarn prettier --write .'

frontend types:
  name: Regenerate frontend types
  language: system
  entry: bash -c 'cd webapp && yarn types'

flake8:
  name: flake8
  language: system
  entry: poetry run flake8

mypy:
  name: mypy
  language: system
  verbose: true
  entry: bash -c 'poetry run mypy "azimuth" || true' --
  pass_filenames: false

Revert "Update clinc-151 demo (#273)"
  config/examples/clinc_oos/conf.json
Due: none

Fix `make build_docs`
  docs/Dockerfile.docs
Due: none

Clean up (#287)
  .app_env
  .gitignore
  azimuth/README.md
  azimuth/modules/base_classes/artifact_manager.py
  azimuth/routers/v1/export.py
  azimuth/task_manager.py
  config/development/clinc/conf_multipipeline.json
  config/examples/clinc_oos/conf_multipipeline.json
  docs/Dockerfile.docs
  docs/docs/getting-started/c-run.md
  tests/test_load_config.py
  tests/test_modules/test_model_contracts/test_model_contract_module.py
  tests/test_modules/test_model_contracts/test_text_classification.py
  tests/test_modules/test_module.py
  tests/test_startup.py
Due: frontend types, flake8, mypy

Change based on review
  azimuth/modules/base_classes/indexable_module.py
  azimuth/modules/model_contracts/text_classification.py
  azimuth/types/utterance.py
  azimuth/utils/ml/model_performance.py
  azimuth/utils/ml/postprocessing.py
  azimuth/utils/ml/preprocessing.py
  docs/docs/reference/custom-objects/processors.md
  tests/test_modules/test_model_contracts/test_model_contract_module.py
  tests/test_modules/test_model_contracts/test_text_classification.py
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Replace `makeStyles`
  webapp/src/pages/UtteranceDetail.tsx
Due: prettier

Add and test camelToTitleCase
  webapp/src/utils/format.test.ts
  webapp/src/utils/format.ts
Due: prettier

Change based on review
  azimuth/modules/base_classes/indexable_module.py
Due: frontend types, flake8, mypy

Apply suggestions from code review
  azimuth/utils/ml/postprocessing.py
  docs/docs/reference/custom-objects/processors.md
Due: frontend types, flake8, mypy

Mark `postprocessors` as `nullable`
  azimuth/config.py
  docs/docs/reference/configuration/model_contract.md
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Add processing step selector
  webapp/src/components/Analysis/UtterancesTable.tsx
  webapp/src/components/Steps.tsx
  webapp/src/components/Utterance/UtteranceSaliency.tsx
  webapp/src/pages/UtteranceDetail.tsx
Due: prettier

test commit
  README.md
Due: none

reverted
  README.md
Due: none

some code polishing
  webapp/src/components/Metrics/PerformanceAnalysisTable.tsx
Due: prettier

New updated design on compare pipeline logic
  webapp/src/components/Metrics/PerformanceAnalysisTable.tsx
  webapp/src/pages/Dashboard.tsx
Due: prettier

added tooltip for fields, desc enabled for utterance account
  webapp/src/components/Metrics/PerformanceAnalysisTable.tsx
Due: prettier

Modified null check and logic to pick next pipeline
  webapp/src/components/Metrics/PerformanceAnalysisTable.tsx
  webapp/src/pages/Dashboard.tsx
Due: prettier

Scroll if too many steps
  webapp/src/components/Steps.tsx
Due: prettier

Log changes
  CHANGELOG.md
Due: none

Add pipeline pre/post-processing steps breakdown in the utterance detail page (#263)
  CHANGELOG.md
  azimuth/config.py
  azimuth/dataset_split_manager.py
  azimuth/modules/base_classes/indexable_module.py
  azimuth/modules/model_contracts/custom_classification.py
  azimuth/modules/model_contracts/file_based_text_classification.py
  azimuth/modules/model_contracts/hf_text_classification.py
  azimuth/modules/model_contracts/text_classification.py
  azimuth/modules/model_performance/outcomes.py
  azimuth/routers/v1/utterances.py
  azimuth/types/general/dataset.py
  azimuth/types/task.py
  azimuth/types/utterance.py
  azimuth/utils/ml/model_performance.py
  azimuth/utils/ml/postprocessing.py
  azimuth/utils/ml/preprocessing.py
  docs/docs/reference/configuration/model_contract.md
  docs/docs/reference/custom-objects/index.md
  docs/docs/reference/custom-objects/model.md
  docs/docs/reference/custom-objects/postprocessors.md
  docs/docs/reference/custom-objects/processors.md
  docs/mkdocs.yml
  tests/test_dataset_manager.py
  tests/test_modules/test_model_contracts/test_model_contract_module.py
  tests/test_modules/test_model_contracts/test_text_classification.py
  tests/test_performance.py
  tests/utils.py
  webapp/src/components/Analysis/UtterancesTable.tsx
  webapp/src/components/Steps.tsx
  webapp/src/components/Utterance/UtteranceSaliency.tsx
  webapp/src/pages/UtteranceDetail.tsx
  webapp/src/types/generated/generatedTypes.ts
  webapp/src/utils/format.test.ts
  webapp/src/utils/format.ts
Due: prettier, frontend types, flake8, mypy

Fix ONNX on GPU
  CHANGELOG.md
  Dockerfile
Due: none

func name change as per review
  webapp/src/components/Metrics/PerformanceAnalysisTable.tsx
Due: prettier

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Fix ONNX on GPU (#290)
  CHANGELOG.md
  Dockerfile
Due: none

Deployed 6ed8714 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Nandhini/performance analysis table additional change (#285)
  webapp/src/components/Metrics/PerformanceAnalysisTable.tsx
  webapp/src/pages/Dashboard.tsx
Due: prettier

Deployed 0020431 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

overlapped classes column, ds filtering, tests, and suggestions from code review
  azimuth/modules/dataset_analysis/class_overlap.py
  azimuth/modules/task_mapping.py
  azimuth/routers/v1/utterances.py
  azimuth/types/general/dataset.py
  azimuth/types/general/module_options.py
  azimuth/types/general/modules.py
  azimuth/types/utterance.py
  azimuth/utils/dataset_operations.py
  tests/test_modules/test_dataset_analysis/test_overlap_tagging.py
  tests/test_routers/test_utterances.py
  tests/test_utils/test_dataset_filtering.py
  tests/utils.py
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Preserve white spaces in utterances
  CHANGELOG.md
  webapp/src/components/Analysis/HoverableDataCell.tsx
  webapp/src/components/Utterance/UtteranceSaliency.tsx
Due: prettier

Preserve white spaces in utterances (#291)
  CHANGELOG.md
  webapp/src/components/Analysis/HoverableDataCell.tsx
  webapp/src/components/Utterance/UtteranceSaliency.tsx
Due: prettier

Deployed 962d30f to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Edit gitignore because precommit fails
  .gitignore
Due: none

Save config in artifact path
  azimuth/app.py
Due: frontend types, flake8, mypy

Explode cache file names
  azimuth/modules/base_classes/module.py
Due: frontend types, flake8, mypy

Add missing copyrights
  azimuth/modules/model_performance/outcome_count.py
  azimuth/modules/pipeline_comparison/prediction_comparison.py
  azimuth/modules/utilities/validation.py
  azimuth/routers/v1/admin.py
  azimuth/types/outcomes.py
  azimuth/types/pipeline_comparison.py
  azimuth/types/validation.py
  azimuth/utils/ml/model_performance.py
  azimuth/utils/ml/postprocessing.py
  azimuth/utils/ml/saliency.py
  azimuth/utils/ml/third_parties/stop_words.py
  azimuth/utils/pydantic_utils.py
  azimuth_shr/models/file_based.py
Due: frontend types, flake8, mypy

Add accuracy
  azimuth/config.py
Due: frontend types, flake8, mypy

Adapt documentation
  docs/docs/reference/configuration/model_contract.md
  docs/docs/reference/custom-objects/metric.md
Due: none

dynamic config value for FAISS encoder
  azimuth/config.py
  tests/test_load_config.py
Due: frontend types, flake8, mypy

Adapt tests
  tests/test_modules/test_model_performance/test_metrics.py
  tests/test_routers/admin/test_admin.py
  tests/test_routers/test_model_performance/test_metrics.py
Due: flake8

Path conditions:
  prettier: any of: webapp
  frontend types: any of: azimuth
  flake8: any of: \.py$
  mypy: any of: azimuth
