Repository ServiceNow/azimuth: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, frontend types, flake8, mypy

prettier:
  name: prettier
  language: system
  entry: bash -c 'cd webapp && yarn prettier --write .'

frontend types:
  name: Regenerate frontend types
  language: system
  entry: bash -c 'cd webapp && yarn types'

flake8:
  name: flake8
  language: system
  entry: poetry run flake8

mypy:
  name: mypy
  language: system
  verbose: true
  entry: bash -c 'poetry run mypy "azimuth" || true' --
  pass_filenames: false

Deployed 8494747 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Return plain text errors
  azimuth/app.py
  azimuth/utils/exception_handlers.py
  tests/test_routers/test_app.py
  tests/test_routers/test_config.py
  tests/test_routers/test_export.py
  tests/test_routers/test_model_performance/test_outcome_count.py
  tests/test_routers/test_utterances.py
  webapp/src/types/api.ts
  webapp/src/types/generated/generatedTypes.ts
  webapp/src/utils/api.ts
Due: prettier, frontend types, flake8, mypy

Open utterance details in a modal
  webapp/src/App.tsx
  webapp/src/components/Analysis/UtterancesTable.tsx
  webapp/src/components/NoMaxWidthTooltip.tsx
  webapp/src/components/Utterance/SimilarUtterances.tsx
  webapp/src/components/UtteranceDetails.tsx
  webapp/src/pages/Exploration.tsx
  webapp/src/pages/UtteranceDetails.tsx
  webapp/src/types/models.ts
  webapp/src/utils/helpers.ts
Due: prettier

Reuse `getUpdatedLocation()`
  webapp/src/components/Analysis/UtterancesTable.tsx
Due: prettier

Log change
  CHANGELOG.md
Due: none

Rename query param `details` to `details_for_page_item`
  webapp/src/components/Analysis/UtterancesTable.tsx
  webapp/src/types/models.ts
  webapp/src/utils/helpers.ts
Due: prettier

Relax `test_dataset_processing_speed` time limit
  tests/test_performance.py
Due: flake8

Open utterance details in a modal (#551)
  CHANGELOG.md
  tests/test_performance.py
  webapp/src/App.tsx
  webapp/src/components/Analysis/UtterancesTable.tsx
  webapp/src/components/NoMaxWidthTooltip.tsx
  webapp/src/components/Utterance/SimilarUtterances.tsx
  webapp/src/components/UtteranceDetails.tsx
  webapp/src/pages/Exploration.tsx
  webapp/src/pages/UtteranceDetails.tsx
  webapp/src/types/models.ts
  webapp/src/utils/helpers.ts
Due: prettier, flake8

Refactor `AzimuthBaseSettings` outside of `config.py`
  azimuth/config.py
  azimuth/utils/openapi.py
Due: frontend types, flake8, mypy

Remove nonfunctional 500 handler
  azimuth/app.py
  azimuth/utils/exception_handlers.py
  webapp/src/types/generated/generatedTypes.ts
  webapp/src/utils/api.ts
Due: prettier, frontend types, flake8, mypy

Remove nonfunctional 500 handler (#556)
  azimuth/app.py
  azimuth/utils/exception_handlers.py
  webapp/src/types/generated/generatedTypes.ts
  webapp/src/utils/api.ts
Due: prettier, frontend types, flake8, mypy

Deployed e1cefea to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Refactor `AzimuthBaseSettings` outside of `config.py` (#557)
  azimuth/config.py
  azimuth/utils/openapi.py
Due: frontend types, flake8, mypy

Deployed 7d543ef to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Clean up unused `datasetInfo.classNames`
  azimuth/routers/app.py
  azimuth/types/app.py
  tests/test_routers/test_app.py
  webapp/src/mocks/api/mockDatasetInfoAPI.ts
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Clean up `datasetInfo`
  azimuth/routers/app.py
  azimuth/types/app.py
  tests/test_routers/test_app.py
  webapp/src/components/Controls/Controls.tsx
  webapp/src/mocks/api/mockDatasetInfoAPI.ts
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Clean up `object_loader.py`
  azimuth/utils/object_loader.py
Due: frontend types, flake8, mypy

Render config modal only if it is open (optimization)
  webapp/src/pages/Settings.tsx
Due: prettier

Reuse `handleDiscard()`
  webapp/src/pages/Settings.tsx
Due: prettier

Expand the Project Configuration accordion by default
  webapp/src/components/AccordionLayout.tsx
  webapp/src/pages/Settings.tsx
Due: prettier

Handle more `AzimuthValidationError`s when loading a `CustomObject`
  azimuth/utils/object_loader.py
  tests/test_routers/test_config.py
Due: frontend types, flake8, mypy

Fix dataset columns repeated labels
  webapp/src/pages/Settings.tsx
Due: prettier

Fix nullable `StringField`
  webapp/src/components/Settings/StringField.tsx
Due: prettier

Support null dataset
  azimuth/app.py
  azimuth/config.py
  azimuth/routers/config.py
  azimuth/startup.py
  azimuth/utils/project.py
  tests/test_routers/test_config.py
  webapp/src/pages/Dashboard.tsx
  webapp/src/pages/Settings.tsx
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Open config modal if dataset is null
  webapp/src/components/PageHeader.tsx
Due: prettier

Add front-end validation in config
  azimuth/routers/config.py
  tests/test_routers/test_config.py
  webapp/src/components/Settings/NumberField.tsx
  webapp/src/components/Settings/StringField.tsx
Due: prettier, frontend types, flake8, mypy

Log changes
  CHANGELOG.md
Due: none

Align `isort`'s max line length with `flake8` and `black`
  pyproject.toml
Due: none

Clean up redundant `isort` `args`
  .pre-commit-config.yaml
Due: none

Apply isort
  azimuth/app.py
  azimuth/modules/model_performance/confidence_binning.py
  azimuth/modules/model_performance/metrics.py
  azimuth/modules/model_performance/outcome_count.py
  azimuth/modules/perturbation_testing/perturbation_testing.py
  azimuth/routers/export.py
  azimuth/routers/model_performance/confidence_histogram.py
  azimuth/routers/model_performance/confusion_matrix.py
  azimuth/routers/model_performance/metrics.py
  azimuth/routers/model_performance/outcome_count.py
  azimuth/routers/top_words.py
  azimuth/routers/utterances.py
  azimuth/task_manager.py
  azimuth/types/utterance.py
  azimuth/utils/ml/perturbation_functions.py
  azimuth/utils/routers.py
  tests/profiling_debugging.py
  tests/test_modules/test_caching.py
  tests/test_modules/test_model_contracts/test_model_contract_module.py
  tests/test_modules/test_model_performance/test_metrics.py
  tests/test_modules/test_perturbation_testing/test_perturbation_testing.py
  tests/test_modules/test_pipeline_comparison/test_prediction_comparison.py
  tests/test_performance.py
  tests/test_routers/test_config.py
  tests/test_startup.py
  tests/test_task_manager.py
  tests/test_utils/test_task_running.py
  tests/utils.py
Due: frontend types, flake8, mypy

Align `isort`'s max line length with `flake8` and `black` (#559)
  .pre-commit-config.yaml
  azimuth/app.py
  azimuth/modules/model_performance/confidence_binning.py
  azimuth/modules/model_performance/metrics.py
  azimuth/modules/model_performance/outcome_count.py
  azimuth/modules/perturbation_testing/perturbation_testing.py
  azimuth/routers/export.py
  azimuth/routers/model_performance/confidence_histogram.py
  azimuth/routers/model_performance/confusion_matrix.py
  azimuth/routers/model_performance/metrics.py
  azimuth/routers/model_performance/outcome_count.py
  azimuth/routers/top_words.py
  azimuth/routers/utterances.py
  azimuth/task_manager.py
  azimuth/types/utterance.py
  azimuth/utils/ml/perturbation_functions.py
  azimuth/utils/routers.py
  pyproject.toml
  tests/profiling_debugging.py
  tests/test_modules/test_caching.py
  tests/test_modules/test_model_contracts/test_model_contract_module.py
  tests/test_modules/test_model_performance/test_metrics.py
  tests/test_modules/test_perturbation_testing/test_perturbation_testing.py
  tests/test_modules/test_pipeline_comparison/test_prediction_comparison.py
  tests/test_performance.py
  tests/test_routers/test_config.py
  tests/test_startup.py
  tests/test_task_manager.py
  tests/test_utils/test_task_running.py
  tests/utils.py
Due: frontend types, flake8, mypy

Clean up getting varnames from classes' `__init__()`
  azimuth/utils/object_loader.py
Due: frontend types, flake8, mypy

Keep toasts for 10 seconds instead of 5
  webapp/src/App.tsx
Due: prettier

Hide registering task logs
  azimuth/task_manager.py
Due: frontend types, flake8, mypy

Hide registering task logs (#562)
  azimuth/task_manager.py
Due: frontend types, flake8, mypy

Make validators private methods
  azimuth/config.py
Due: frontend types, flake8, mypy

Clean up `by_alias` for config
  azimuth/config.py
  azimuth/modules/base_classes/dask_module.py
  tests/test_modules/test_model_contracts/test_text_classification.py
  tests/test_routers/conftest.py
Due: frontend types, flake8, mypy

Path conditions:
  prettier: any of: webapp
  frontend types: any of: azimuth
  flake8: any of: \.py$
  mypy: any of: azimuth
