Repository ServiceNow/azimuth: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, frontend types, flake8, mypy

prettier:
  name: prettier
  language: system
  entry: bash -c 'cd webapp && yarn prettier --write .'

frontend types:
  name: Regenerate frontend types
  language: system
  entry: bash -c 'cd webapp && yarn types'

flake8:
  name: flake8
  language: system
  entry: poetry run flake8

mypy:
  name: mypy
  language: system
  verbose: true
  entry: bash -c 'poetry run mypy "azimuth" || true' --
  pass_filenames: false

Log changes
  CHANGELOG.md
Due: none

Review comments - removed asyn for see more, added test to verify textcontent for sematic overlap score column
  webapp/src/components/ClassOverlapTable.test.tsx
Due: prettier

Review comments - typo correction
  webapp/src/components/ClassOverlapTable.test.tsx
Due: prettier

Test script for class overlap table
  webapp/src/components/ClassOverlapTable.test.tsx
  webapp/src/mocks/api/mockClassOverlapAPI.ts
Due: prettier

Add test case to make sure API records are fetched before testing seemore component
  webapp/src/components/ClassOverlapTable.test.tsx
  webapp/src/mocks/api/mockClassOverlapAPI.ts
Due: prettier

Add comment next to row fetching test case, moved see more next to waitFor
  webapp/src/components/ClassOverlapTable.test.tsx
Due: prettier

Move comment to its own line
  webapp/src/components/ClassOverlapTable.test.tsx
Due: prettier

UI test script for class overlap table (#441)
  webapp/src/components/ClassOverlapTable.test.tsx
  webapp/src/mocks/api/mockClassOverlapAPI.ts
Due: prettier

Deployed 16ec709 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Test negative query params
  tests/test_routers/test_export.py
  tests/test_routers/test_utterances.py
Due: flake8

Fix Internal Server Error when providing negative pipeline index
  azimuth/utils/routers.py
Due: frontend types, flake8, mypy

Fix unexpected results when providing negative offset or limit
  azimuth/routers/utterances.py
  azimuth/utils/routers.py
Due: frontend types, flake8, mypy

Link from confusion matrix to utterance table (#470)
  CHANGELOG.md
  webapp/src/components/ConfusionMatrix.tsx
Due: prettier

Fix negative query params (#471)
  azimuth/routers/utterances.py
  azimuth/utils/routers.py
  tests/test_routers/test_export.py
  tests/test_routers/test_utterances.py
Due: frontend types, flake8, mypy

Make config path optional
  azimuth/app.py
  azimuth/config.py
Due: frontend types, flake8, mypy

Support launching Azimuth from config history
  Dockerfile
  azimuth/app.py
  azimuth/app_loader.py
  azimuth/config.py
  azimuth/routers/config.py
  azimuth/utils/project.py
  docs/docs/development/launching.md
  makefiles/Makefile.local
  tests/test_routers/conftest.py
Due: frontend types, flake8, mypy

Don't push `:latest` tag (to be reverted)
  .github/workflows/docker_cd.yml
Due: none

Change `artifact_path` default to `"cache"`
  Dockerfile
  azimuth/config.py
  docs/docs/development/launching.md
  docs/docs/reference/configuration/common.md
  tests/test_routers/test_config.py
Due: frontend types, flake8, mypy

Make dataset config optional
  azimuth/config.py
  azimuth/routers/config.py
  azimuth/utils/project.py
Due: frontend types, flake8, mypy

Clarify doc
  docs/docs/development/launching.md
Due: none

Update tensorflow
  poetry.lock
  pyproject.toml
Due: none

Update tensorflow (#355)
  poetry.lock
  pyproject.toml
Due: none

Deployed 64d1031 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Document `LOAD_CONFIG_HISTORY` in Getting Started section
  docs/docs/getting-started/c-run.md
Due: none

Validate config min/max values
  azimuth/config.py
  tests/test_config.py
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Adapt test
  tests/test_routers/test_config.py
Due: flake8

Validate config min/max values (#474)
  azimuth/config.py
  tests/test_config.py
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Deployed b8d3bff to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Fix shell substitution
  .app_env
  Dockerfile
  docker-compose.yml
Due: none

Document `LOAD_CONFIG_HISTORY` in Environment variables
  docs/docs/getting-started/c-run.md
Due: none

Clean up docker image (#316)
  .dockerignore
  Makefile
  docs/Dockerfile.docs
  docs/README.md
  makefiles/Makefile.docs
Due: none

Deployed 674585e to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Remove outdated doc about Dask config
  azimuth/config.py
  docs/docs/reference/configuration/common.md
Due: frontend types, flake8, mypy

Deployed 633379e to v2.6 with MkDocs 1.4.2 and mike 1.1.2
  v2.6/getting-started/c-run/index.html
  v2.6/reference/configuration/common/index.html
  v2.6/search/search_index.json
  v2.6/sitemap.xml.gz
Due: none

Rearrange example in doc
  docs/docs/development/launching.md
  docs/docs/getting-started/c-run.md
Due: none

pre-commit
  tests/test_routers/test_utterances.py
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, flake8

Revert "Don't push `:latest` tag (to be reverted)"
  .github/workflows/docker_cd.yml
Due: none

Path conditions:
  prettier: any of: webapp
  frontend types: any of: azimuth
  flake8: any of: \.py$
  mypy: any of: azimuth
