Repository ServiceNow/azimuth: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, frontend types, flake8, mypy

prettier:
  name: prettier
  language: system
  entry: bash -c 'cd webapp && yarn prettier --write .'

frontend types:
  name: Regenerate frontend types
  language: system
  entry: bash -c 'cd webapp && yarn types'

flake8:
  name: flake8
  language: system
  entry: poetry run flake8

mypy:
  name: mypy
  language: system
  verbose: true
  entry: bash -c 'poetry run mypy "azimuth" || true' --
  pass_filenames: false

Let toasts be as wide as necessary
  webapp/src/styles/theme.tsx
Due: prettier

Add review comments suggestions
  webapp/src/services/api.ts
  webapp/src/utils/api.ts
Due: prettier

filter httpExceptioncode and other unhandled status codes
  webapp/src/services/api.ts
  webapp/src/utils/api.ts
Due: prettier

Fix small toasts
  webapp/src/styles/theme.tsx
Due: prettier

Read message from error attribute, Error formatting, code simplification
  webapp/src/services/api.ts
  webapp/src/utils/api.ts
Due: prettier

Add HTTP_EXCEPTION_STATUS_CODES to throw API error
  webapp/src/utils/api.ts
Due: prettier

Remove unnecessary type
  webapp/src/utils/api.ts
Due: prettier

Remove unnecessary case-insensitive regexps
  webapp/src/components/Analysis/PerturbationTestingPreview.test.tsx
  webapp/src/components/ClassOverlapTable.test.tsx
  webapp/src/components/Metrics/PerformanceAnalysis.test.tsx
  webapp/src/components/Metrics/PerformanceAnalysisTable.test.tsx
Due: prettier

Show error messages from backend on API failure (#524)
  webapp/src/components/Analysis/PerturbationTestingPreview.test.tsx
  webapp/src/components/ClassOverlapTable.test.tsx
  webapp/src/components/Metrics/PerformanceAnalysis.test.tsx
  webapp/src/components/Metrics/PerformanceAnalysisTable.test.tsx
  webapp/src/services/api.ts
  webapp/src/styles/theme.tsx
  webapp/src/types/api.ts
  webapp/src/utils/api.ts
Due: prettier

Deployed 32c58cd to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Fix config modal closing unexpectedly
  webapp/src/pages/Settings.tsx
  webapp/src/services/api.ts
Due: prettier

Log changes
  CHANGELOG.md
Due: none

Extract a constant `BREADCRUMBS`
  webapp/src/components/PageHeader.tsx
Due: prettier

Fix breadcrumbs
  webapp/src/components/PageHeader.tsx
Due: prettier

Fix get_tags() method
  azimuth/dataset_split_manager.py
Due: frontend types, flake8, mypy

Fix breadcrumbs (#541)
  CHANGELOG.md
  webapp/src/components/PageHeader.tsx
Due: prettier

Deployed 652628c to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Deployed 3bab4d2 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Deployed e0f76e2 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Cleanup tasks in memory
  azimuth/app.py
  azimuth/modules/base_classes/dask_module.py
  azimuth/modules/task_execution.py
  azimuth/utils/routers.py
Due: frontend types, flake8, mypy

Deployed fb76aa5 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Reduce batch size in validation module
  azimuth/modules/utilities/validation.py
Due: frontend types, flake8, mypy

Rename validation folder
  azimuth/modules/task_mapping.py
  azimuth/modules/validation/__init__.py
  azimuth/modules/validation/validation.py
  tests/test_modules/test_utilities/test_validation.py
Due: frontend types, flake8, mypy

Modify call to validation module so it uses the task manager and leverage the cache
  azimuth/app.py
  azimuth/modules/base_classes/dask_module.py
Due: frontend types, flake8, mypy

Wait for validation to be done before continuing
  azimuth/app.py
Due: frontend types, flake8, mypy

Refactor validation modules (#542)
  azimuth/app.py
  azimuth/modules/base_classes/dask_module.py
  azimuth/modules/task_mapping.py
  azimuth/modules/validation/__init__.py
  azimuth/modules/validation/validation.py
  tests/test_modules/test_utilities/test_validation.py
Due: frontend types, flake8, mypy

Deployed 6eb80b1 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Avoid checking `.done()` twice
  azimuth/startup.py
Due: frontend types, flake8, mypy

Check for startup status a lot more frequently
  azimuth/startup.py
Due: frontend types, flake8, mypy

Improve speed of outcome count per threshold
  azimuth/modules/model_performance/outcomes.py
Due: frontend types, flake8, mypy

Deployed f546770 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Log progress in a separate thread
  azimuth/startup.py
Due: frontend types, flake8, mypy

Always log statuses in the same (logical) order
  azimuth/modules/base_classes/dask_module.py
  azimuth/startup.py
Due: frontend types, flake8, mypy

Fix if dependencies for empty lists
  azimuth/modules/base_classes/dask_module.py
Due: frontend types, flake8, mypy

Modify order of startup so dependencies work well
  azimuth/startup.py
Due: frontend types, flake8, mypy

Rename startup tasks so they are not a substring of another
  azimuth/startup.py
Due: frontend types, flake8, mypy

Adapt based on comments
  azimuth/startup.py
Due: frontend types, flake8, mypy

Avoid restarting task when pending
  azimuth/modules/base_classes/dask_module.py
  azimuth/modules/task_execution.py
  azimuth/task_manager.py
Due: frontend types, flake8, mypy

Deployed 54519e8 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Path conditions:
  prettier: any of: webapp
  frontend types: any of: azimuth
  flake8: any of: \.py$
  mypy: any of: azimuth
