Repository ServiceNow/azimuth: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, frontend types, flake8, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
        - id: check-yaml
          exclude: docs
        - id: end-of-file-fixer
          types: [ python ]
        - id: trailing-whitespace
        - id: pretty-format-json
          args: [--autofix, --no-sort-keys]
          exclude: webapp
  - repo: local
    hooks:
      - id: black
        name: black
        language: system
        entry: poetry run black
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types_or: [ python, pyi ]
  - repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
        - id: autoflake
          args:
            - --expand-star-imports
            - --ignore-init-module-imports
            - --in-place
            - --remove-all-unused-imports
            - --remove-duplicate-keys
            - --remove-unused-variables
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: bash -c 'cd webapp && yarn prettier --write .'
        files: webapp
  - repo: local
    hooks:
      - id: frontend types
        name: Regenerate frontend types
        language: system
        entry: bash -c 'cd webapp && yarn types'
        files: azimuth
  - repo: local
    hooks:
      - id: flake8
        name: flake8
        language: system
        entry: poetry run flake8
        types: [ python ]
  - repo: https://github.com/pycqa/isort
    rev: 5.8.0
    hooks:
      - id: isort
        name: isort
        args: [ "--profile", "black", "--skip", "__init__.py", "--filter-files" ]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        language: system
        verbose: true
        entry: bash -c 'poetry run mypy "azimuth" || true' --
        files: azimuth
        pass_filenames: false

Add comment about toast
  webapp/src/pages/Settings.tsx
Due: prettier

Deployed 81403ae to main with MkDocs 1.4.3 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Detect saliency layer for HF pipelines
  azimuth/config.py
  azimuth/modules/model_contracts/hf_text_classification.py
  azimuth/utils/ml/saliency.py
  config/development/clinc/conf.json
  config/development/clinc/conf_light.json
  config/development/clinc/conf_multipipeline.json
  config/development/clinc_dummy/conf.json
  config/development/clinc_dummy/conf_bma.json
  config/development/clinc_dummy/conf_multipipeline.json
  config/development/clinc_dummy/conf_no_eval.json
  config/development/clinc_dummy/conf_no_model.json
  config/development/clinc_dummy/conf_no_train.json
  config/development/configurable_fake_dataset/conf.json
  config/examples/banking77/conf.json
  config/examples/clinc_oos/conf.json
  config/examples/clinc_oos/conf_multipipeline.json
  config/examples/sst2/conf.json
  tests/conftest.py
  tests/test_routers/conftest.py
  tests/test_routers/test_config.py
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Update documentation
  docs/docs/reference/configuration/model_contract.md
Due: none

Remove unnecessary box
  webapp/src/pages/Settings.tsx
Due: prettier

Remove unnecessary functions
  webapp/src/pages/Settings.tsx
Due: prettier

Customize form helper text font weight at the theme level
  webapp/src/components/Settings/StringArrayField.tsx
  webapp/src/styles/theme.tsx
Due: prettier

Support any of the `TextFieldProps` in `StringArrayField`
  webapp/src/components/Settings/StringArrayField.tsx
Due: prettier

Add asterisk to required fields
  webapp/src/components/Settings/StringField.tsx
Due: prettier

Fix checkbox hit box that was too big
  webapp/src/pages/Settings.tsx
Due: prettier

Fix alphabetical order in some imports
  webapp/src/components/ConfidenceHistogram/BinThresholdMarker.tsx
  webapp/src/components/Metrics/DeltaComputationBar.tsx
  webapp/src/components/NoMaxWidthTooltip.tsx
  webapp/src/components/Settings/StringArrayField.tsx
  webapp/src/components/ThresholdPlot.tsx
Due: prettier

Apply suggestions from code review
  docs/docs/reference/configuration/model_contract.md
Due: none

Use "a" in front of words starting with "u"
  webapp/src/components/Settings/StringArrayField.tsx
Due: prettier

Deployed ae23a91 to main with MkDocs 1.4.3 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Clean up importing routers
  azimuth/app.py
  azimuth/routers/config.py
Due: frontend types, flake8, mypy

Update changelog
  CHANGELOG.md
Due: none

Add menu to load a previous config
  CHANGELOG.md
  webapp/src/components/HashChip.tsx
  webapp/src/pages/Settings.tsx
  webapp/src/services/api.ts
  webapp/src/utils/format.ts
Due: prettier

Show 0, 3, or 6 chars of hash, based on collisions
  webapp/src/pages/Settings.tsx
Due: prettier

Clean up importing routers (#585)
  azimuth/app.py
  azimuth/routers/config.py
Due: frontend types, flake8, mypy

Change icon
  webapp/src/pages/Settings.tsx
Due: prettier

Detect saliency layer (#583)
  CHANGELOG.md
  azimuth/config.py
  azimuth/modules/model_contracts/hf_text_classification.py
  azimuth/utils/ml/saliency.py
  config/development/clinc/conf.json
  config/development/clinc/conf_light.json
  config/development/clinc/conf_multipipeline.json
  config/development/clinc_dummy/conf.json
  config/development/clinc_dummy/conf_bma.json
  config/development/clinc_dummy/conf_multipipeline.json
  config/development/clinc_dummy/conf_no_eval.json
  config/development/clinc_dummy/conf_no_model.json
  config/development/clinc_dummy/conf_no_train.json
  config/development/configurable_fake_dataset/conf.json
  config/examples/banking77/conf.json
  config/examples/clinc_oos/conf.json
  config/examples/clinc_oos/conf_multipipeline.json
  config/examples/sst2/conf.json
  docs/docs/reference/configuration/model_contract.md
  tests/conftest.py
  tests/test_routers/conftest.py
  tests/test_routers/test_config.py
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Deployed ce706e7 to main with MkDocs 1.4.3 and mike 1.1.2
  main/reference/configuration/model_contract/index.html
  main/search/search_index.json
  main/sitemap.xml.gz
Due: none

Improve hash chip
  webapp/src/components/HashChip.tsx
Due: prettier

Make `onChange` required
  webapp/src/components/Settings/AutocompleteStringField.tsx
  webapp/src/components/Settings/JSONField.tsx
  webapp/src/components/Settings/NumberField.tsx
  webapp/src/components/Settings/StringArrayField.tsx
  webapp/src/components/Settings/StringField.tsx
  webapp/src/components/Settings/utils.ts
  webapp/src/pages/Settings.tsx
Due: prettier

Refactor `KeyValuePairs`
  webapp/src/pages/Settings.tsx
Due: prettier

Fix disabled look
  webapp/src/components/Settings/NumberField.tsx
  webapp/src/pages/Settings.tsx
Due: prettier

Deployed 05256e2 to main with MkDocs 1.4.3 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Deployed 7c6239f to main with MkDocs 1.4.3 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Add discard buttons to individual config fields
  CHANGELOG.md
  webapp/src/components/Settings/AutocompleteStringField.tsx
  webapp/src/components/Settings/CustomObjectFields.tsx
  webapp/src/components/Settings/DiscardButton.tsx
  webapp/src/components/Settings/JSONField.tsx
  webapp/src/components/Settings/NumberField.tsx
  webapp/src/components/Settings/StringArrayField.tsx
  webapp/src/components/Settings/StringField.tsx
  webapp/src/components/Settings/utils.ts
  webapp/src/pages/Settings.tsx
Due: prettier

Adjust Behavioral Testing columns
  webapp/src/pages/Settings.tsx
Due: prettier

Move the button passed the end of the field
  webapp/src/components/Settings/AutocompleteStringField.tsx
  webapp/src/components/Settings/DiscardButton.tsx
  webapp/src/components/Settings/JSONField.tsx
  webapp/src/components/Settings/NumberField.tsx
  webapp/src/components/Settings/StringArrayField.tsx
  webapp/src/components/Settings/StringField.tsx
  webapp/src/components/Settings/utils.ts
  webapp/src/pages/Settings.tsx
Due: prettier

Deployed d38a827 to main with MkDocs 1.4.3 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Add drop-down arrow
  webapp/src/pages/Settings.tsx
Due: prettier

Reverse history
  webapp/src/pages/Settings.tsx
Due: prettier

Release 2.8.0
  CHANGELOG.md
  docs/docs/getting-started/changelog.md
  pyproject.toml
Due: none

Reword
  docs/docs/getting-started/changelog.md
Due: none

Deployed f966add to main with MkDocs 1.4.3 and mike 1.1.2
  main/getting-started/changelog/index.html
  main/search/search_index.json
  main/sitemap.xml.gz
Due: none

Chose release date
  docs/docs/getting-started/changelog.md
Due: none
