Repository ServiceNow/azimuth: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, frontend types, flake8, mypy

prettier:
  name: prettier
  language: system
  entry: bash -c 'cd webapp && yarn prettier --write .'

frontend types:
  name: Regenerate frontend types
  language: system
  entry: bash -c 'cd webapp && yarn types'

flake8:
  name: flake8
  language: system
  entry: poetry run flake8

mypy:
  name: mypy
  language: system
  verbose: true
  entry: bash -c 'poetry run mypy "azimuth" || true' --
  pass_filenames: false

revert field names
  webapp/src/pages/Settings.tsx
Due: prettier

Add language field to config page (#428)
  webapp/src/pages/Settings.tsx
  webapp/src/types/api.ts
Due: prettier

Deployed e647ee6 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

correct the field name
  webapp/src/pages/Settings.tsx
Due: prettier

Fix field name (#438)
  webapp/src/pages/Settings.tsx
Due: prettier

Deployed de47555 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Add `persistent_id` to `class SimilarUtterance`
  azimuth/routers/v1/utterances.py
  azimuth/types/similarity_analysis.py
  azimuth/types/utterance.py
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Move ellipsis to the left of utterance ids
  webapp/src/components/Analysis/UtterancesTable.tsx
Due: prettier

Show persistent id on hover
  webapp/src/components/Analysis/HoverableDataCell.tsx
  webapp/src/components/Analysis/UtterancesTable.tsx
  webapp/src/components/Utterance/SimilarUtterances.tsx
  webapp/src/pages/UtteranceDetail.tsx
  webapp/src/utils/const.ts
  webapp/src/utils/getUtteranceIdTooltip.tsx
Due: prettier

Fix `persistent_id` default value in documentation
  docs/docs/reference/configuration/project.md
Due: none

Add truncation=True to HFPipelines
  azimuth/modules/model_contracts/hf_text_classification.py
Due: frontend types, flake8, mypy

Add short and long utterances on token count plot
  azimuth/config.py
  azimuth/modules/dataset_analysis/dataset_warnings.py
  azimuth/plots/dataset_warnings.py
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Revert incorrect changes to documentation
  docs/docs/reference/configuration/project.md
Due: none

Fix test object
  tests/test_loading_resources.py
Due: flake8

Clean up front-end imports
  webapp/src/components/ConfidenceHistogram/ConfidenceHistogram.tsx
  webapp/src/components/Controls/Controls.tsx
  webapp/src/components/Utterance/UtteranceDataAction.tsx
  webapp/src/hooks/useWindowResize.ts
Due: prettier

Clean up `get_dataset_split()` by leveraging `super()`
  azimuth/modules/base_classes/indexable_module.py
  azimuth/modules/base_classes/module.py
Due: frontend types, flake8, mypy

Add a dashed line for current threshold
  webapp/src/components/ThresholdPlot.tsx
Due: prettier

Return error if post-processing is not available
  azimuth/modules/model_performance/outcome_count.py
  azimuth/routers/v1/model_performance/outcome_count.py
Due: frontend types, flake8, mypy

Compute outcome count at 100% threshold
  azimuth/modules/model_performance/outcome_count.py
  azimuth/types/general/module_arguments.py
  tests/test_modules/test_model_performance/test_metrics.py
Due: frontend types, flake8, mypy

Draw area chart
  azimuth/modules/model_performance/outcome_count.py
  azimuth/routers/v1/model_performance/outcome_count.py
  azimuth/types/model_performance.py
  azimuth/types/utterance.py
  tests/test_modules/test_model_performance/test_metrics.py
  webapp/src/components/ThresholdPlot.tsx
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Log changes
  CHANGELOG.md
Due: none

Adapt test to error if post-processing is not available
  tests/test_routers/test_model_performance/test_outcome_count.py
Due: flake8

Remove the white background of error messages
  webapp/src/components/ThresholdPlot.tsx
Due: prettier

Add partial test
  tests/test_modules/test_model_contracts/test_hf_text_classification.py
Due: flake8

Fix tokenizer for long sentences
  tests/fixtures/distilbert-tokenizer-files/config.json
  tests/test_loading_resources.py
  tests/test_modules/test_model_contracts/test_hf_text_classification.py
Due: flake8

Cleanup fix
  tests/fixtures/distilbert-tokenizer-files/config.json
  tests/fixtures/distilbert-tokenizer-files/tokenizer_config.json
  tests/test_loading_resources.py
Due: flake8

Add `truncation=True` to HF Pipelines (#440)
  azimuth/modules/model_contracts/hf_text_classification.py
  tests/fixtures/distilbert-tokenizer-files/config.json
  tests/fixtures/distilbert-tokenizer-files/tokenizer_config.json
  tests/test_loading_resources.py
  tests/test_modules/test_model_contracts/test_hf_text_classification.py
Due: frontend types, flake8, mypy

Deployed 10be72f to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Add release notes and bump version
  docs/docs/getting-started/changelog.md
  pyproject.toml
Due: none

Deployed 216b698 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Deployed e0f9b68 to main with MkDocs 1.4.2 and mike 1.1.2
  main/getting-started/changelog/index.html
  main/search/search_index.json
  main/sitemap.xml.gz
Due: none

Adapt based on comments
  azimuth/plots/dataset_warnings.py
Due: frontend types, flake8, mypy

Add short and long utterances on token count plot (#442)
  azimuth/config.py
  azimuth/modules/dataset_analysis/dataset_warnings.py
  azimuth/plots/dataset_warnings.py
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Deployed ddb5094 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Add persistent id to front end (#385)
  azimuth/routers/v1/utterances.py
  azimuth/types/similarity_analysis.py
  azimuth/types/utterance.py
  docs/docs/reference/configuration/project.md
  webapp/src/components/Analysis/HoverableDataCell.tsx
  webapp/src/components/Analysis/UtterancesTable.tsx
  webapp/src/components/Utterance/SimilarUtterances.tsx
  webapp/src/pages/UtteranceDetail.tsx
  webapp/src/types/generated/generatedTypes.ts
  webapp/src/utils/const.ts
  webapp/src/utils/getUtteranceIdTooltip.tsx
Due: prettier, frontend types, flake8, mypy

Path conditions:
  prettier: any of: webapp
  frontend types: any of: azimuth
  flake8: any of: \.py$
  mypy: any of: azimuth
