Repository ServiceNow/azimuth: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, frontend types, flake8, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
        - id: check-yaml
          exclude: docs
        - id: end-of-file-fixer
          types: [ python ]
        - id: trailing-whitespace
        - id: pretty-format-json
          args: [--autofix, --no-sort-keys]
          exclude: webapp
  - repo: local
    hooks:
      - id: black
        name: black
        language: system
        entry: poetry run black
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types_or: [ python, pyi ]
  - repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
        - id: autoflake
          args:
            - --expand-star-imports
            - --ignore-init-module-imports
            - --in-place
            - --remove-all-unused-imports
            - --remove-duplicate-keys
            - --remove-unused-variables
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: bash -c 'cd webapp && yarn prettier --write .'
        files: webapp
  - repo: local
    hooks:
      - id: frontend types
        name: Regenerate frontend types
        language: system
        entry: bash -c 'cd webapp && yarn types'
        files: azimuth
  - repo: local
    hooks:
      - id: flake8
        name: flake8
        language: system
        entry: poetry run flake8
        types: [ python ]
  - repo: https://github.com/pycqa/isort
    rev: 5.8.0
    hooks:
      - id: isort
        name: isort
        args: [ "--profile", "black", "--skip", "__init__.py", "--filter-files" ]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        language: system
        verbose: true
        entry: bash -c 'poetry run mypy "azimuth" || true' --
        files: azimuth
        pass_filenames: false

add French default FAISS encoder to docs
  docs/docs/key-concepts/similarity.md
  docs/docs/reference/configuration/analyses/similarity.md
Due: none

change inheritance from LanguageConfig for scope for caching
  azimuth/config.py
Due: frontend types, flake8, mypy

update docs and make config details more consistent
  docs/docs/key-concepts/similarity.md
  docs/docs/key-concepts/syntax-analysis.md
  docs/docs/reference/configuration/analyses/behavioral_testing.md
  docs/docs/reference/configuration/analyses/similarity.md
  docs/docs/reference/configuration/analyses/syntax.md
  docs/docs/reference/configuration/index.md
  docs/docs/reference/configuration/language.md
  docs/mkdocs.yml
Due: none

Update docs/docs/reference/custom-objects/metric.md
  docs/docs/reference/custom-objects/metric.md
Due: none

Add accuracy (#296)
  azimuth/config.py
  docs/docs/reference/configuration/model_contract.md
  docs/docs/reference/custom-objects/metric.md
  tests/test_modules/test_model_performance/test_metrics.py
  tests/test_routers/admin/test_admin.py
  tests/test_routers/test_model_performance/test_metrics.py
Due: frontend types, flake8, mypy

Deployed c4b8675 to main with MkDocs 1.4.2 and mike 1.1.2
  main/reference/configuration/model_contract/index.html
  main/reference/custom-objects/metric/index.html
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

added video with playlist title
  docs/docs/index.md
Due: none

Clean up ONNX on GPU
  .github/workflows/pythonci.yml
  Dockerfile
  docs/docs/development/launching.md
  docs/docs/development/setup.md
  poetry.lock
  pyproject.toml
Due: none

updated video playlist to the README.md and index home.#
  README.md
  docs/docs/index.md
Due: none

Revert `ARG DEVICE=cpu`
  Dockerfile
Due: none

Use explicit `--extras` argument
  .github/workflows/pythonci.yml
  Dockerfile
  docs/docs/development/launching.md
  docs/docs/development/setup.md
Due: none

Relax performance assertions
  tests/test_performance.py
Due: flake8

Clean up ONNX on GPU (#299)
  .github/workflows/pythonci.yml
  Dockerfile
  docs/docs/development/launching.md
  docs/docs/development/setup.md
  poetry.lock
  pyproject.toml
  tests/test_performance.py
Due: flake8

Deployed 346e0f9 to main with MkDocs 1.4.2 and mike 1.1.2
  main/development/launching/index.html
  main/development/setup/index.html
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Update azimuth/modules/base_classes/module.py
  azimuth/modules/base_classes/module.py
Due: frontend types, flake8, mypy

Clean up `useTheme`
  webapp/src/components/Controls/Controls.tsx
  webapp/src/components/Controls/FilterSelector.tsx
  webapp/src/components/Controls/FilterSlider.tsx
  webapp/src/components/Metrics/Metric.tsx
  webapp/src/components/Metrics/Metrics.tsx
  webapp/src/components/Metrics/MetricsCard.tsx
  webapp/src/components/TopWords/TopWords.tsx
  webapp/src/components/TopWords/TopWordsSkeleton.tsx
  webapp/src/components/Utterance/SimilarUtterances.tsx
Due: prettier

Fix field description
  azimuth/config.py
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Clean up unnecessary `div`
  webapp/src/components/Controls/FilterTextField.tsx
Due: prettier

Fix dataset warnings loading skeleton
  webapp/src/components/Analysis/WarningsPreview.tsx
Due: prettier

Misc
  webapp/src/components/Utterance/PerturbedUtterances.tsx
Due: prettier

Handle `sx` prop
  webapp/src/components/Table.tsx
Due: prettier

Fix secondary contrast text color
  webapp/src/styles/theme.tsx
Due: prettier

Deployed 63f9b55 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Add missing copyrights (#293)
  azimuth/modules/model_performance/outcome_count.py
  azimuth/modules/pipeline_comparison/prediction_comparison.py
  azimuth/modules/utilities/validation.py
  azimuth/routers/v1/admin.py
  azimuth/types/outcomes.py
  azimuth/types/pipeline_comparison.py
  azimuth/types/validation.py
  azimuth/utils/ml/model_performance.py
  azimuth/utils/ml/postprocessing.py
  azimuth/utils/ml/saliency.py
  azimuth/utils/ml/third_parties/stop_words.py
  azimuth/utils/pydantic_utils.py
  azimuth_shr/models/file_based.py
Due: frontend types, flake8, mypy

Deployed b855cb5 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Fix pipeline confusion in class overlap
  azimuth/routers/v1/class_overlap.py
Due: frontend types, flake8, mypy

Fix uncaught error in MUI
  webapp/src/components/TopWords/TopWords.tsx
Due: prettier

Fix new bug - typo in module option
  azimuth/routers/v1/class_overlap.py
Due: frontend types, flake8, mypy

Fix test to catch future issues
  tests/test_routers/test_class_analysis.py
Due: flake8

updated the readme.md with a video thumbnail and changed code to playlist. #
  README.md
Due: none

Change YouTube icon
  docs/docs/index.md
Due: none

Use local image
  README.md
  docs/docs/_static/images/youtube.png
Due: none

Link to playlist without playing the first video
  README.md
Due: none

Add youtube playlist to home documentation and readme.md (#300)
  README.md
  docs/docs/_static/images/youtube.png
  docs/docs/index.md
Due: none

Deployed dc8d868 to main with MkDocs 1.4.2 and mike 1.1.2
  main/_static/images/youtube.png
  main/index.html
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Fix pipeline confusion in class overlap (#304)
  azimuth/routers/v1/class_overlap.py
  tests/test_routers/test_class_analysis.py
Due: frontend types, flake8, mypy

Deployed dd06651 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Forbid extra fields
  azimuth/routers/v1/utterances.py
  azimuth/types/general/alias_model.py
  azimuth/types/utterance.py
  pyproject.toml
Due: frontend types, flake8, mypy

Resolve typing issues
  azimuth/modules/model_performance/metrics.py
  azimuth/routers/v1/model_performance/metrics.py
  azimuth/routers/v1/model_performance/utterance_count.py
  azimuth/routers/v1/tags.py
Due: frontend types, flake8, mypy

Clean up
  azimuth/types/general/alias_model.py
  azimuth/types/model_performance.py
  azimuth/utils/logs.py
  tests/test_dataset_manager.py
Due: frontend types, flake8, mypy
