Repository ServiceNow/azimuth: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, frontend types, flake8, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
        - id: check-yaml
          exclude: docs
        - id: end-of-file-fixer
          types: [ python ]
        - id: trailing-whitespace
        - id: pretty-format-json
          args: [--autofix, --no-sort-keys]
          exclude: webapp
  - repo: local
    hooks:
      - id: black
        name: black
        language: system
        entry: poetry run black
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types_or: [ python, pyi ]
  - repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
        - id: autoflake
          args:
            - --expand-star-imports
            - --ignore-init-module-imports
            - --in-place
            - --remove-all-unused-imports
            - --remove-duplicate-keys
            - --remove-unused-variables
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: bash -c 'cd webapp && yarn prettier --write .'
        files: webapp
  - repo: local
    hooks:
      - id: frontend types
        name: Regenerate frontend types
        language: system
        entry: bash -c 'cd webapp && yarn types'
        files: azimuth
  - repo: local
    hooks:
      - id: flake8
        name: flake8
        language: system
        entry: poetry run flake8
        types: [ python ]
  - repo: https://github.com/pycqa/isort
    rev: 5.8.0
    hooks:
      - id: isort
        name: isort
        args: [ "--profile", "black", "--skip", "__init__.py", "--filter-files" ]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        language: system
        verbose: true
        entry: bash -c 'poetry run mypy "azimuth" || true' --
        files: azimuth
        pass_filenames: false

Deployed 9d371cc to main with MkDocs 1.4.2 and mike 1.1.2
  main/_static/images/dashboard/post-processing-analysis.png
  main/_static/images/dataset-warnings/dataset-warnings-4.png
  main/_static/images/exploration-space/import-export.png
  main/_static/images/exploration-space/utterance-table.png
  main/_static/images/settings.png
  main/getting-started/changelog/index.html
  main/reference/configuration/project/index.html
  main/reference/custom-objects/dataset/index.html
  main/search/search_index.json
  main/sitemap.xml.gz
  main/user-guide/dataset-warnings/index.html
  main/user-guide/exploration-space/confusion-matrix/index.html
  main/user-guide/exploration-space/index.html
  main/user-guide/exploration-space/utterance-table/index.html
  main/user-guide/post-processing-analysis/index.html
  main/user-guide/settings/index.html
  main/user-guide/smart-tag-analysis/index.html
Due: none

Fix unshrinking labels
  webapp/src/pages/Settings.tsx
Due: prettier

Fix unshrinking labels (#489)
  webapp/src/pages/Settings.tsx
Due: prettier

Save created-on in config history
  azimuth/config.py
  azimuth/utils/project.py
  tests/test_config.py
  tests/test_routers/test_config.py
Due: frontend types, flake8, mypy

Hide TF info messages in logs
  azimuth/__init__.py
Due: frontend types, flake8, mypy

Add test for load_config_history
  tests/test_config.py
Due: flake8

Update azimuth/config.py
  azimuth/config.py
Due: frontend types, flake8, mypy

Rename get_artifact_path to get_project_path
  azimuth/config.py
  azimuth/dataset_split_manager.py
  azimuth/modules/base_classes/artifact_manager.py
  azimuth/modules/base_classes/dask_module.py
  azimuth/routers/custom_utterances.py
  azimuth/routers/export.py
  tests/test_dataset_manager.py
  tests/test_modules/test_artifact_manager.py
  tests/test_modules/test_module.py
Due: frontend types, flake8, mypy

Hide TF info messages in logs (#492)
  azimuth/__init__.py
Due: frontend types, flake8, mypy

Deployed 180d3bc to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Create AzimuthConfigHistory
  azimuth/config.py
  azimuth/utils/project.py
Due: frontend types, flake8, mypy

Add dropdown to spacy_model and model_contract
  webapp/src/pages/Settings.tsx
  webapp/src/types/api.ts
Due: prettier

Make strings editable for config fields
  webapp/src/pages/Settings.tsx
Due: prettier

Make pipeline string fields editable
  webapp/src/pages/Settings.tsx
Due: prettier

Add selectField, column gap increase to 4, add postprocessor textfield editable
  webapp/src/pages/Settings.tsx
Due: prettier

Create AzimuthConfigHistory (#493)
  azimuth/config.py
  azimuth/utils/project.py
Due: frontend types, flake8, mypy

Deployed c86b302 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Reuse `StringField` with `select` prop
  webapp/src/pages/Settings.tsx
Due: prettier

Clean up `StringField` props
  webapp/src/pages/Settings.tsx
Due: prettier

Cleanup imports
  webapp/src/pages/Settings.tsx
Due: prettier

Add faiss to startup
  azimuth/startup.py
  tests/test_startup.py
Due: frontend types, flake8, mypy

Add width to fit content to form control label class root
  webapp/src/pages/Settings.tsx
Due: prettier

Deployed 7323695 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Remove artifact-path from project hash
  azimuth/config.py
Due: frontend types, flake8, mypy

Cleanup config vs task_manager.config
  azimuth/routers/app.py
  azimuth/routers/export.py
  azimuth/routers/utterances.py
  azimuth/startup.py
Due: frontend types, flake8, mypy

Stop saving config when loading config history
  azimuth/app.py
Due: frontend types, flake8, mypy

Allow user to change dask cluster from route
  azimuth/routers/config.py
Due: frontend types, flake8, mypy

Fix errors after applying config changes
  webapp/src/components/StatusCheck.tsx
  webapp/src/services/api.ts
Due: prettier

Deployed da8edbd to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Update azimuth/routers/config.py
  azimuth/routers/config.py
Due: frontend types, flake8, mypy

Allow user to change dask cluster from route (#500)
  azimuth/routers/config.py
Due: frontend types, flake8, mypy

Deployed a62474b to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Have `load_azimuth_config()` return if it `came_from_config_history`
  azimuth/app.py
  azimuth/config.py
Due: frontend types, flake8, mypy

Test `came_from_config_history`
  tests/test_config.py
Due: flake8

Make the Swagger UI work through the front-end proxy
  azimuth/app.py
Due: frontend types, flake8, mypy

Make the Swagger UI work through the front-end proxy (#502)
  azimuth/app.py
Due: frontend types, flake8, mypy

Deployed c8908dd to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Use alignment instead of width
  webapp/src/pages/Settings.tsx
Due: prettier

Fix config page checkbox fields click event (#496)
  webapp/src/pages/Settings.tsx
Due: prettier
