Repository ServiceNow/azimuth: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, frontend types, flake8, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
        - id: check-yaml
          exclude: docs
        - id: end-of-file-fixer
          types: [ python ]
        - id: trailing-whitespace
        - id: pretty-format-json
          args: [--autofix, --no-sort-keys]
          exclude: webapp
  - repo: local
    hooks:
      - id: black
        name: black
        language: system
        entry: poetry run black
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types_or: [ python, pyi ]
  - repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
        - id: autoflake
          args:
            - --expand-star-imports
            - --ignore-init-module-imports
            - --in-place
            - --remove-all-unused-imports
            - --remove-duplicate-keys
            - --remove-unused-variables
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: bash -c 'cd webapp && yarn prettier --write .'
        files: webapp
  - repo: local
    hooks:
      - id: frontend types
        name: Regenerate frontend types
        language: system
        entry: bash -c 'cd webapp && yarn types'
        files: azimuth
  - repo: local
    hooks:
      - id: flake8
        name: flake8
        language: system
        entry: poetry run flake8
        types: [ python ]
  - repo: https://github.com/pycqa/isort
    rev: 5.8.0
    hooks:
      - id: isort
        name: isort
        args: [ "--profile", "black", "--skip", "__init__.py", "--filter-files" ]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        language: system
        verbose: true
        entry: bash -c 'poetry run mypy "azimuth" || true' --
        files: azimuth
        pass_filenames: false

Deployed 54f4731 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Clean up
  azimuth/startup.py
Due: frontend types, flake8, mypy

Make `thread_log_progress` a `daemon` thread, to make sure it doesn't prevent the app from being terminated.
  azimuth/startup.py
Due: frontend types, flake8, mypy

Use constants for HTTP status codes
  tests/test_routers/test_app.py
  tests/test_routers/test_config.py
  tests/test_routers/test_custom_utterances.py
  tests/test_routers/test_export.py
  tests/test_routers/test_utterances.py
Due: flake8

Log changes
  CHANGELOG.md
Due: none

Handle PATCH "/config" with `handle_validation_error()`
  azimuth/app.py
  azimuth/routers/config.py
Due: frontend types, flake8, mypy

Fix Exploration space crashing with invalid dataset split
  webapp/src/components/Controls/Controls.tsx
Due: prettier

Make validation errors less verbose
  azimuth/app.py
  tests/test_routers/test_app.py
  tests/test_routers/test_config.py
  tests/test_routers/test_export.py
  tests/test_routers/test_utterances.py
  tests/utils.py
Due: frontend types, flake8, mypy

Workaround CI error
  tests/test_documentation.py
Due: flake8

Modify DM so it always load the latest cache
  azimuth/dataset_split_manager.py
  azimuth/modules/base_classes/expirable_mixin.py
  azimuth/task_manager.py
  azimuth/utils/routers.py
  tests/conftest.py
  tests/test_dataset_manager.py
  tests/test_modules/test_model_contracts/test_model_contract_module.py
Due: frontend types, flake8, mypy

Add pid to logs to help debugging
  azimuth/utils/logs.py
Due: frontend types, flake8, mypy

Clean up `load_latest_cache()`
  azimuth/dataset_split_manager.py
Due: frontend types, flake8, mypy

Deployed 4eea598 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Apply suggestions from code review
  azimuth/dataset_split_manager.py
Due: frontend types, flake8, mypy

Refactor DatasetSplitManager to reload latest cache. (#527)
  azimuth/dataset_split_manager.py
  azimuth/modules/base_classes/expirable_mixin.py
  azimuth/task_manager.py
  azimuth/utils/logs.py
  azimuth/utils/routers.py
  tests/conftest.py
  tests/test_dataset_manager.py
  tests/test_modules/test_model_contracts/test_model_contract_module.py
Due: frontend types, flake8, mypy

Deployed 6f98295 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Restart client to free memory
  azimuth/startup.py
  azimuth/task_manager.py
Due: frontend types, flake8, mypy

Add logging to help with config update debugging
  azimuth/routers/config.py
Due: frontend types, flake8, mypy

Refactor artifact manager to real singleton and remove clear_cache
  azimuth/app.py
  azimuth/config.py
  azimuth/modules/base_classes/artifact_manager.py
  azimuth/modules/base_classes/module.py
  azimuth/routers/config.py
  azimuth/routers/export.py
  azimuth/routers/utterances.py
  azimuth/startup.py
  azimuth/task_manager.py
  azimuth/utils/project.py
  tests/conftest.py
  tests/profiling_debugging.py
  tests/test_modules/conftest.py
  tests/test_modules/test_artifact_manager.py
  tests/test_modules/test_dataset_analysis/test_similarity_analysis.py
  tests/test_modules/test_model_contracts/test_model_contract_module.py
  tests/test_modules/test_module.py
  tests/test_startup.py
  tests/test_task_manager.py
Due: frontend types, flake8, mypy

Adapt based on comments
  azimuth/config.py
  azimuth/modules/base_classes/artifact_manager.py
  azimuth/task_manager.py
Due: frontend types, flake8, mypy

Refactor ArtifactManager and restart TaskManager (#529)
  azimuth/app.py
  azimuth/config.py
  azimuth/modules/base_classes/artifact_manager.py
  azimuth/modules/base_classes/module.py
  azimuth/routers/config.py
  azimuth/routers/export.py
  azimuth/routers/utterances.py
  azimuth/startup.py
  azimuth/task_manager.py
  azimuth/utils/project.py
  tests/conftest.py
  tests/profiling_debugging.py
  tests/test_modules/conftest.py
  tests/test_modules/test_artifact_manager.py
  tests/test_modules/test_dataset_analysis/test_similarity_analysis.py
  tests/test_modules/test_model_contracts/test_model_contract_module.py
  tests/test_modules/test_module.py
  tests/test_startup.py
  tests/test_task_manager.py
Due: frontend types, flake8, mypy

Deployed 9ba2f9b to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Move encoder to ArtifactManager
  azimuth/modules/base_classes/artifact_manager.py
  azimuth/modules/base_classes/dask_module.py
  azimuth/modules/dataset_analysis/similarity_analysis.py
  azimuth/modules/perturbation_testing/perturbation_testing.py
  tests/test_modules/test_dataset_analysis/test_class_overlap.py
  tests/test_modules/test_dataset_analysis/test_similarity_analysis.py
Due: frontend types, flake8, mypy

Send tasks that require the pipelines to same worker
  azimuth/modules/base_classes/dask_module.py
  azimuth/modules/base_classes/indexable_module.py
  azimuth/modules/base_classes/module.py
  azimuth/modules/validation/validation.py
  azimuth/modules/word_analysis/top_words.py
Due: frontend types, flake8, mypy

Add memory-profiler to profile the memory usage
  poetry.lock
  pyproject.toml
Due: none

Move the encoder out of the ArtifactManager
  azimuth/modules/base_classes/artifact_manager.py
  azimuth/modules/dataset_analysis/similarity_analysis.py
Due: frontend types, flake8, mypy

Adapt based on comments
  azimuth/modules/base_classes/dask_module.py
  azimuth/modules/base_classes/indexable_module.py
  azimuth/modules/base_classes/module.py
  azimuth/modules/dataset_analysis/similarity_analysis.py
  azimuth/modules/perturbation_testing/perturbation_testing.py
  azimuth/modules/validation/validation.py
  azimuth/modules/word_analysis/top_words.py
Due: frontend types, flake8, mypy

Assign encoder and model tasks to same worker
  azimuth/modules/base_classes/dask_module.py
Due: frontend types, flake8, mypy

Fix similarity test
  tests/test_modules/test_dataset_analysis/test_class_overlap.py
  tests/test_modules/test_dataset_analysis/test_similarity_analysis.py
Due: flake8

Add worker to custom tasks
  azimuth/modules/base_classes/dask_module.py
Due: frontend types, flake8, mypy

Add TODO
  azimuth/modules/perturbation_testing/perturbation_testing.py
Due: frontend types, flake8, mypy

Assign tasks to workers (#525)
  azimuth/modules/base_classes/dask_module.py
  azimuth/modules/base_classes/indexable_module.py
  azimuth/modules/base_classes/module.py
  azimuth/modules/dataset_analysis/similarity_analysis.py
  azimuth/modules/perturbation_testing/perturbation_testing.py
  azimuth/modules/validation/validation.py
  azimuth/modules/word_analysis/top_words.py
  poetry.lock
  pyproject.toml
Due: frontend types, flake8, mypy

Deployed add5b58 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Remove config from task manager and stop killing it
  azimuth/app.py
  azimuth/routers/app.py
  azimuth/routers/class_overlap.py
  azimuth/routers/config.py
  azimuth/routers/custom_utterances.py
  azimuth/routers/dataset_warnings.py
  azimuth/routers/export.py
  azimuth/routers/model_performance/confidence_histogram.py
  azimuth/routers/model_performance/confusion_matrix.py
  azimuth/routers/model_performance/metrics.py
  azimuth/routers/model_performance/outcome_count.py
  azimuth/routers/top_words.py
  azimuth/routers/utterances.py
  azimuth/startup.py
  azimuth/task_manager.py
  azimuth/utils/routers.py
  tests/README.md
  tests/conftest.py
  tests/test_startup.py
  tests/test_task_manager.py
  tests/test_utils/test_task_running.py
Due: frontend types, flake8, mypy

Make CI run on all push
  .github/workflows/pythonci.yml
  .github/workflows/webapp_ci.yml
Due: prettier

Clean up `links` from Docker Compose (#536)
  docker-compose.yml
  webapp/server.js
Due: prettier

Update python to 3.9 (#534)
  .github/workflows/pythonci.yml
  Dockerfile
  azimuth/modules/base_classes/indexable_module.py
  docs/docs/development/launching.md
  docs/docs/development/setup.md
  poetry.lock
  pyproject.toml
Due: frontend types, flake8, mypy

Fix get_tags() method
  azimuth/dataset_split_manager.py
Due: frontend types, flake8, mypy

Minor fixes to comments and logs (#533)
  azimuth/modules/base_classes/module.py
  azimuth/startup.py
  azimuth/utils/cluster.py
  azimuth/utils/ml/mc_dropout.py
  azimuth/utils/ml/perturbation_test.py
  azimuth/utils/pydantic_utils.py
  azimuth/utils/routers.py
Due: frontend types, flake8, mypy

Rename variable in tests (#535)
  tests/test_routers/conftest.py
Due: flake8
