Repository ServiceNow/azimuth: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, frontend types, flake8, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
        - id: check-yaml
          exclude: docs
        - id: end-of-file-fixer
          types: [ python ]
        - id: trailing-whitespace
        - id: pretty-format-json
          args: [--autofix, --no-sort-keys]
          exclude: webapp
  - repo: local
    hooks:
      - id: black
        name: black
        language: system
        entry: poetry run black
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types_or: [ python, pyi ]
  - repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
        - id: autoflake
          args:
            - --expand-star-imports
            - --ignore-init-module-imports
            - --in-place
            - --remove-all-unused-imports
            - --remove-duplicate-keys
            - --remove-unused-variables
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: bash -c 'cd webapp && yarn prettier --write .'
        files: webapp
  - repo: local
    hooks:
      - id: frontend types
        name: Regenerate frontend types
        language: system
        entry: bash -c 'cd webapp && yarn types'
        files: azimuth
  - repo: local
    hooks:
      - id: flake8
        name: flake8
        language: system
        entry: poetry run flake8
        types: [ python ]
  - repo: https://github.com/pycqa/isort
    rev: 5.8.0
    hooks:
      - id: isort
        name: isort
        args: [ "--profile", "black", "--skip", "__init__.py", "--filter-files" ]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        language: system
        verbose: true
        entry: bash -c 'poetry run mypy "azimuth" || true' --
        files: azimuth
        pass_filenames: false

utterance header align to center
  webapp/src/components/Metrics/PerformanceAnalysisTable.tsx
Due: prettier

Keep at least one significant digit
  webapp/src/components/Metrics/PerformanceAnalysisTable.tsx
  webapp/src/utils/format.test.ts
  webapp/src/utils/format.ts
Due: prettier

Keep disabled pipeline in the select menu
  webapp/src/components/Metrics/PerformanceAnalysisTable.tsx
  webapp/src/components/PageHeader.tsx
  webapp/src/components/PipelineSelect.tsx
Due: prettier

Apply review comments
  webapp/src/components/Icons/OutcomeIcon.tsx
  webapp/src/components/Metrics/PerformanceAnalysisTable.tsx
Due: prettier

move validator to LanguageConfig and invert language default dict(s)
  azimuth/config.py
  tests/test_load_config.py
Due: frontend types, flake8, mypy

Simplify error handling
  webapp/src/components/Metrics/PerformanceAnalysisTable.tsx
Due: prettier

Fix column borders not being continuous when the header is an icon
  webapp/src/components/Metrics/PerformanceAnalysisTable.tsx
Due: prettier

future-proof outdated comment as per code review
  azimuth/config.py
Due: frontend types, flake8, mypy

Add failing tests
  tests/test_routers/test_model_performance/test_outcome_count.py
  tests/test_routers/test_utterances.py
Due: flake8

Fix issue and tests
  azimuth/utils/dataset_operations.py
  tests/test_routers/test_model_performance/test_outcome_count.py
  tests/test_routers/test_utterances.py
Due: frontend types, flake8, mypy

Polish headers
  webapp/src/components/Metrics/PerformanceAnalysis.tsx
  webapp/src/components/Metrics/PerformanceAnalysisTable.tsx
Due: prettier

Add model comparison (#228)
  CHANGELOG.md
  webapp/src/App.tsx
  webapp/src/components/Analysis/PreviewCard.tsx
  webapp/src/components/Metrics/DeltaComputationBar.tsx
  webapp/src/components/Metrics/PerformanceAnalysisTable.tsx
  webapp/src/components/PageHeader.tsx
  webapp/src/components/PipelineSelect.tsx
  webapp/src/pages/Dashboard.tsx
  webapp/src/pages/PerformanceAnalysis.tsx
  webapp/src/utils/format.test.ts
  webapp/src/utils/format.ts
Due: prettier

Deployed 1371d77 to main with MkDocs 1.4.0 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Read model from cache if offline
  azimuth/modules/dataset_analysis/similarity_analysis.py
Due: frontend types, flake8, mypy

Clean up
  azimuth/modules/dataset_analysis/similarity_analysis.py
Due: frontend types, flake8, mypy

changes from code review
  azimuth/config.py
  azimuth/utils/ml/perturbation_functions.py
  tests/test_modules/test_dataset_analysis/test_syntax_tagging.py
  tests/test_modules/test_perturbation_testing/test_perturbation_testing.py
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Read model from cache if offline (#269)
  azimuth/modules/dataset_analysis/similarity_analysis.py
Due: frontend types, flake8, mypy

update various documentation (docs, comments)
  CHANGELOG.md
  azimuth/utils/ml/perturbation_functions.py
  docs/docs/reference/configuration/analyses/behavioral_testing.md
  docs/docs/reference/configuration/analyses/syntax.md
Due: frontend types, flake8, mypy

changes from code review
  azimuth/utils/ml/perturbation_functions.py
Due: frontend types, flake8, mypy

remove small french spaCy model
  poetry.lock
  pyproject.toml
Due: none

Apply suggestions from code review
  tests/test_routers/test_model_performance/test_outcome_count.py
  tests/test_routers/test_utterances.py
Due: flake8

#268 Add locking mechanism throught env
  azimuth/app.py
  azimuth/config.py
  azimuth/routers/v1/admin.py
Due: frontend types, flake8, mypy

Lint
  azimuth/app.py
  azimuth/routers/v1/admin.py
Due: frontend types, flake8, mypy

Add class imbalance warnings
  azimuth/config.py
  azimuth/modules/dataset_analysis/dataset_warnings.py
  azimuth/plots/dataset_warnings.py
  tests/test_modules/test_dataset_analysis/test_dataset_warnings.py
  tests/test_routers/test_dataset_warnings.py
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Update documentation
  CHANGELOG.md
  azimuth/config.py
  docs/docs/reference/configuration/analyses/dataset_warnings.md
  docs/docs/user-guide/dataset-warnings.md
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Fix format
  tests/test_routers/test_utterances.py
Due: flake8

Fix bug with empty HF filtering (#262)
  azimuth/utils/dataset_operations.py
  tests/test_routers/test_model_performance/test_outcome_count.py
  tests/test_routers/test_utterances.py
Due: frontend types, flake8, mypy

Deployed f3020ef to main with MkDocs 1.4.1 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Rename sections
  webapp/src/App.tsx
  webapp/src/components/Analysis/UtterancesTable.tsx
  webapp/src/components/DatasetWarnings/DatasetDistribution.tsx
  webapp/src/components/PageHeader.tsx
  webapp/src/pages/Dashboard.tsx
  webapp/src/pages/Exploration.tsx
  webapp/src/pages/PerformanceAnalysis.tsx
  webapp/src/pages/PerturbationTestingSummary.tsx
Due: prettier

Update webapp/src/components/Analysis/UtterancesTable.tsx
  webapp/src/components/Analysis/UtterancesTable.tsx
Due: prettier

Update webapp/src/pages/Dashboard.tsx
  webapp/src/pages/Dashboard.tsx
Due: prettier

Format numbers in distribution analysis
  webapp/src/components/DatasetWarnings/MetricsDataGrid.tsx
Due: prettier

Change according to review
  azimuth/modules/dataset_analysis/dataset_warnings.py
  azimuth/plots/dataset_warnings.py
Due: frontend types, flake8, mypy

Fix text
  tests/test_routers/admin/test_admin.py
Due: flake8

Update clinc-151 demo
  config/examples/clinc_oos/conf.json
Due: none

Fix text
  tests/test_routers/test_dataset_warnings.py
Due: flake8

Add doc and fix test
  CHANGELOG.md
  docs/docs/reference/configuration/common.md
  tests/test_routers/admin/test_admin.py
Due: flake8

Class imbalance warnings (#272)
  CHANGELOG.md
  azimuth/config.py
  azimuth/modules/dataset_analysis/dataset_warnings.py
  azimuth/plots/dataset_warnings.py
  docs/docs/reference/configuration/analyses/dataset_warnings.md
  docs/docs/user-guide/dataset-warnings.md
  tests/test_modules/test_dataset_analysis/test_dataset_warnings.py
  tests/test_routers/admin/test_admin.py
  tests/test_routers/test_dataset_warnings.py
  webapp/src/components/DatasetWarnings/MetricsDataGrid.tsx
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy
