Repository ServiceNow/azimuth: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, frontend types, flake8, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
        - id: check-yaml
          exclude: docs
        - id: end-of-file-fixer
          types: [ python ]
        - id: trailing-whitespace
        - id: pretty-format-json
          args: [--autofix, --no-sort-keys]
          exclude: webapp
  - repo: local
    hooks:
      - id: black
        name: black
        language: system
        entry: poetry run black
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types_or: [ python, pyi ]
  - repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
        - id: autoflake
          args:
            - --expand-star-imports
            - --ignore-init-module-imports
            - --in-place
            - --remove-all-unused-imports
            - --remove-duplicate-keys
            - --remove-unused-variables
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: bash -c 'cd webapp && yarn prettier --write .'
        files: webapp
  - repo: local
    hooks:
      - id: frontend types
        name: Regenerate frontend types
        language: system
        entry: bash -c 'cd webapp && yarn types'
        files: azimuth
  - repo: local
    hooks:
      - id: flake8
        name: flake8
        language: system
        entry: poetry run flake8
        types: [ python ]
  - repo: https://github.com/pycqa/isort
    rev: 5.8.0
    hooks:
      - id: isort
        name: isort
        args: [ "--profile", "black", "--skip", "__init__.py", "--filter-files" ]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        language: system
        verbose: true
        entry: bash -c 'poetry run mypy "azimuth" || true' --
        files: azimuth
        pass_filenames: false

Deployed 5f53c04 to main with MkDocs 1.4.1 and mike 1.1.2
  main/reference/configuration/analyses/dataset_warnings/index.html
  main/search/search_index.json
  main/sitemap.xml.gz
  main/user-guide/dataset-warnings/index.html
Due: none

First version of the doc
  CITATION.cff
  config/development/clinc/conf.json
  docs/docs/_static/images/prediction-quality-comparison.png
  docs/docs/getting-started/c-run.md
  docs/docs/user-guide/dataset-warnings.md
  docs/docs/user-guide/index.md
  docs/docs/user-guide/prediction-quality-comparison.md
  pyproject.toml
  webapp/src/components/Metrics/PerformanceAnalysisTable.tsx
Due: prettier

Apply suggestions from code review
  docs/docs/user-guide/dataset-warnings.md
  docs/docs/user-guide/index.md
  docs/docs/user-guide/prediction-quality-comparison.md
Due: none

Update clinc-151 demo (#273)
  config/examples/clinc_oos/conf.json
Due: none

Deployed fae6e86 to main with MkDocs 1.4.1 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Apply suggestions from code review
  webapp/src/components/Analysis/UtterancesTable.tsx
  webapp/src/components/DatasetWarnings/DatasetDistribution.tsx
  webapp/src/pages/Exploration.tsx
  webapp/src/pages/PerformanceAnalysis.tsx
Due: prettier

Rename based on review
  webapp/src/App.tsx
  webapp/src/components/Metrics/PerformanceAnalysis.tsx
  webapp/src/components/Metrics/PerformanceAnalysisTable.tsx
  webapp/src/components/PageHeader.tsx
  webapp/src/pages/Dashboard.tsx
  webapp/src/pages/Exploration.tsx
  webapp/src/pages/PerformanceAnalysis.tsx
Due: prettier

Fix Utterance Table
  webapp/src/pages/Exploration.tsx
Due: prettier

Add env var
  docs/docs/getting-started/c-run.md
Due: none

Rename sections in the UI (#247)
  webapp/src/App.tsx
  webapp/src/components/Analysis/UtterancesTable.tsx
  webapp/src/components/DatasetWarnings/DatasetDistribution.tsx
  webapp/src/components/Metrics/PerformanceAnalysis.tsx
  webapp/src/components/Metrics/PerformanceAnalysisTable.tsx
  webapp/src/components/PageHeader.tsx
  webapp/src/pages/Dashboard.tsx
  webapp/src/pages/Exploration.tsx
  webapp/src/pages/PerformanceAnalysis.tsx
  webapp/src/pages/PerturbationTestingSummary.tsx
Due: prettier

Deployed d0edd0a to main with MkDocs 1.4.1 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Add screenshot, rename sections and revert changes
  config/development/clinc/conf.json
  docs/docs/_static/images/behavioral-testing-summary.png
  docs/docs/_static/images/dashboard/behavioral-testing.png
  docs/docs/_static/images/dashboard/dashboard.png
  docs/docs/_static/images/dashboard/dataset-class-distribution-analysis.png
  docs/docs/_static/images/dashboard/dataset-warnings.png
  docs/docs/_static/images/dashboard/performance-analysis.png
  docs/docs/_static/images/dashboard/pipeline-metrics.png
  docs/docs/_static/images/dataset-class-distribution-analysis/dataset-warnings-1.png
  docs/docs/_static/images/dataset-class-distribution-analysis/dataset-warnings-2.png
  docs/docs/_static/images/dataset-class-distribution-analysis/dataset-warnings-3.png
  docs/docs/_static/images/dataset-warnings/dataset-warnings-1.png
  docs/docs/_static/images/dataset-warnings/dataset-warnings-2.png
  docs/docs/_static/images/dataset-warnings/dataset-warnings-3.png
  docs/docs/_static/images/dataset-warnings/dataset-warnings-4.png
  docs/docs/_static/images/exploration-space/prediction-overview.png
  docs/docs/_static/images/exploration-space/utterance-table.png
  docs/docs/_static/images/pipeline-metrics-comparison.png
  docs/docs/getting-started/c-run.md
  docs/docs/key-concepts/proposed-actions.md
  docs/docs/user-guide/dataset-warnings.md
  docs/docs/user-guide/exploration-space/index.md
  docs/docs/user-guide/exploration-space/performance-overview.md
  docs/docs/user-guide/exploration-space/utterance-table.md
  docs/docs/user-guide/index.md
  docs/docs/user-guide/pipeline-metrics-comparison.md
  docs/mkdocs.yml
Due: none

Address review
  webapp/src/components/SmartTagsTable.tsx
  webapp/src/pages/Dashboard.tsx
  webapp/src/pages/SmartTags.tsx
Due: prettier

Add smart tags aggregation plot
  webapp/src/App.tsx
  webapp/src/components/BasicLayout.tsx
  webapp/src/components/ConfusionMatrix.tsx
  webapp/src/components/SmartTagsTable.tsx
  webapp/src/pages/Dashboard.tsx
  webapp/src/pages/SmartTags.tsx
  webapp/src/utils/const.ts
Due: prettier

Fix cells width independently of transpose
  webapp/src/components/SmartTagsTable.tsx
Due: prettier

Rename variable
  azimuth/app.py
  azimuth/config.py
  azimuth/routers/v1/admin.py
  docs/docs/getting-started/c-run.md
  docs/docs/reference/configuration/common.md
  tests/test_routers/admin/test_admin.py
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Add release notes
  docs/docs/getting-started/changelog.md
Due: none

Clean changelog
  CHANGELOG.md
Due: none

#268 Add read_only_config option (#270)
  CHANGELOG.md
  azimuth/app.py
  azimuth/config.py
  azimuth/routers/v1/admin.py
  docs/docs/getting-started/c-run.md
  docs/docs/reference/configuration/common.md
  tests/test_routers/admin/test_admin.py
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Deployed 2b6ea60 to main with MkDocs 1.4.1 and mike 1.1.2
  main/getting-started/c-run/index.html
  main/reference/configuration/common/index.html
  main/search/search_index.json
  main/sitemap.xml.gz
Due: none

Update links to doc
  webapp/src/pages/PerformanceAnalysis.tsx
  webapp/src/pages/SmartTags.tsx
Due: prettier

docs for smart tag analysis
  docs/docs/user-guide/index.md
  docs/docs/user-guide/smart-tag-analysis.md
  docs/mkdocs.yml
Due: none

Apply suggestions from code review
  docs/docs/getting-started/changelog.md
  docs/docs/user-guide/dataset-warnings.md
Due: none

Remove old image
  docs/docs/_static/images/exploration-space/performance-overview.png
  docs/docs/getting-started/changelog.md
  docs/docs/user-guide/exploration-space/index.md
  docs/docs/user-guide/exploration-space/prediction-overview.md
  docs/docs/user-guide/exploration-space/utterance-table.md
  docs/mkdocs.yml
Due: none

Clean up unnecessary flat map
  webapp/src/components/SmartTagsTable.tsx
Due: prettier

Update docs/docs/user-guide/exploration-space/index.md
  docs/docs/user-guide/exploration-space/index.md
Due: none

Update documentation to v2.4 (#274)
  CHANGELOG.md
  CITATION.cff
  docs/docs/_static/images/behavioral-testing-summary.png
  docs/docs/_static/images/dashboard/behavioral-testing.png
  docs/docs/_static/images/dashboard/dashboard.png
  docs/docs/_static/images/dashboard/dataset-class-distribution-analysis.png
  docs/docs/_static/images/dashboard/dataset-warnings.png
  docs/docs/_static/images/dashboard/performance-analysis.png
  docs/docs/_static/images/dashboard/pipeline-metrics.png
  docs/docs/_static/images/dataset-class-distribution-analysis/dataset-warnings-1.png
  docs/docs/_static/images/dataset-class-distribution-analysis/dataset-warnings-2.png
  docs/docs/_static/images/dataset-class-distribution-analysis/dataset-warnings-3.png
  docs/docs/_static/images/dataset-warnings/dataset-warnings-1.png
  docs/docs/_static/images/dataset-warnings/dataset-warnings-2.png
  docs/docs/_static/images/dataset-warnings/dataset-warnings-3.png
  docs/docs/_static/images/dataset-warnings/dataset-warnings-4.png
  docs/docs/_static/images/exploration-space/performance-overview.png
  docs/docs/_static/images/exploration-space/prediction-overview.png
  docs/docs/_static/images/exploration-space/utterance-table.png
  docs/docs/_static/images/pipeline-metrics-comparison.png
  docs/docs/getting-started/changelog.md
  docs/docs/key-concepts/proposed-actions.md
  docs/docs/user-guide/dataset-warnings.md
  docs/docs/user-guide/exploration-space/index.md
  docs/docs/user-guide/exploration-space/prediction-overview.md
  docs/docs/user-guide/exploration-space/utterance-table.md
  docs/docs/user-guide/index.md
  docs/docs/user-guide/pipeline-metrics-comparison.md
  docs/mkdocs.yml
  pyproject.toml
  webapp/src/components/Metrics/PerformanceAnalysisTable.tsx
Due: prettier

Add screenshot
  docs/docs/_static/images/dashboard/smart-tag-analysis.png
Due: none

Apply suggestions from code review
  docs/docs/user-guide/index.md
  docs/docs/user-guide/smart-tag-analysis.md
Due: none

Docs for Smart Tag Analysis (#277)
  docs/docs/_static/images/dashboard/smart-tag-analysis.png
  docs/docs/user-guide/index.md
  docs/docs/user-guide/smart-tag-analysis.md
  docs/mkdocs.yml
Due: none

Add smart tag analysis plot (#275)
  webapp/src/App.tsx
  webapp/src/components/BasicLayout.tsx
  webapp/src/components/ConfusionMatrix.tsx
  webapp/src/components/SmartTagsTable.tsx
  webapp/src/pages/Dashboard.tsx
  webapp/src/pages/PerformanceAnalysis.tsx
  webapp/src/pages/SmartTags.tsx
  webapp/src/utils/const.ts
Due: prettier

Deployed e576990 to main with MkDocs 1.4.1 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Update changelog.md
  docs/docs/getting-started/changelog.md
Due: none

Deployed 39241f3 to main with MkDocs 1.4.1 and mike 1.1.2
  main/getting-started/changelog/index.html
  main/search/search_index.json
  main/sitemap.xml.gz
Due: none

Update poetry in Docker
  Dockerfile
Due: none

Update poetry in Docker (#279)
  Dockerfile
Due: none
