Repository ServiceNow/azimuth: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, frontend types, flake8, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
        - id: check-yaml
          exclude: docs
        - id: end-of-file-fixer
          types: [ python ]
        - id: trailing-whitespace
        - id: pretty-format-json
          args: [--autofix, --no-sort-keys]
          exclude: webapp
  - repo: local
    hooks:
      - id: black
        name: black
        language: system
        entry: poetry run black
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types_or: [ python, pyi ]
  - repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
        - id: autoflake
          args:
            - --expand-star-imports
            - --ignore-init-module-imports
            - --in-place
            - --remove-all-unused-imports
            - --remove-duplicate-keys
            - --remove-unused-variables
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: bash -c 'cd webapp && yarn prettier --write .'
        files: webapp
  - repo: local
    hooks:
      - id: frontend types
        name: Regenerate frontend types
        language: system
        entry: bash -c 'cd webapp && yarn types'
        files: azimuth
  - repo: local
    hooks:
      - id: flake8
        name: flake8
        language: system
        entry: poetry run flake8
        types: [ python ]
  - repo: https://github.com/pycqa/isort
    rev: 5.8.0
    hooks:
      - id: isort
        name: isort
        args: [ "--profile", "black", "--skip", "__init__.py", "--filter-files" ]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        language: system
        verbose: true
        entry: bash -c 'poetry run mypy "azimuth" || true' --
        files: azimuth
        pass_filenames: false

Deployed e961975 to main with MkDocs 1.4.1 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Fix Smart Tab Analysis table
  CHANGELOG.md
  webapp/src/components/SmartTagsTable.tsx
Due: prettier

Prepare patch release
  CHANGELOG.md
  docs/docs/getting-started/changelog.md
  pyproject.toml
Due: none

Fix Smart Tag Analysis (#281)
  docs/docs/getting-started/changelog.md
  pyproject.toml
  webapp/src/components/SmartTagsTable.tsx
Due: prettier

Deployed 09c2126 to main with MkDocs 1.4.1 and mike 1.1.2
  main/getting-started/changelog/index.html
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Update README.md
  README.md
Due: none

Deployed 94046fb to main with MkDocs 1.4.1 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

First implementation of pipeline steps
  azimuth/modules/base_classes/indexable_module.py
  azimuth/modules/model_contracts/custom_classification.py
  azimuth/modules/model_contracts/file_based_text_classification.py
  azimuth/modules/model_contracts/hf_text_classification.py
  azimuth/modules/model_contracts/text_classification.py
  azimuth/routers/v1/utterances.py
  azimuth/types/general/dataset.py
  azimuth/types/task.py
  azimuth/types/utterance.py
  azimuth/utils/ml/postprocessing.py
  tests/test_performance.py
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Cleanup types and print
  azimuth/modules/base_classes/indexable_module.py
  azimuth/modules/model_contracts/custom_classification.py
  azimuth/modules/model_contracts/text_classification.py
Due: frontend types, flake8, mypy

Troubleshooting
  azimuth/modules/base_classes/indexable_module.py
  azimuth/modules/model_contracts/custom_classification.py
  azimuth/modules/model_contracts/text_classification.py
  azimuth/utils/ml/postprocessing.py
Due: frontend types, flake8, mypy

Refactor API response
  azimuth/modules/base_classes/indexable_module.py
  azimuth/modules/model_contracts/text_classification.py
  azimuth/modules/model_performance/outcomes.py
  azimuth/types/task.py
  azimuth/types/utterance.py
  azimuth/utils/ml/model_performance.py
  azimuth/utils/ml/postprocessing.py
  azimuth/utils/ml/preprocessing.py
  tests/utils.py
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Modify tests and add comments
  azimuth/dataset_split_manager.py
  azimuth/modules/base_classes/indexable_module.py
  azimuth/modules/model_contracts/text_classification.py
  azimuth/utils/ml/model_performance.py
  azimuth/utils/ml/postprocessing.py
  azimuth/utils/ml/preprocessing.py
  tests/test_dataset_manager.py
  tests/test_modules/test_model_contracts/test_model_contract_module.py
  tests/test_modules/test_model_contracts/test_text_classification.py
  tests/test_performance.py
  tests/utils.py
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Update documentation
  docs/docs/reference/configuration/model_contract.md
  docs/docs/reference/custom-objects/model.md
  docs/docs/reference/custom-objects/postprocessors.md
Due: none

Rename file
  docs/docs/reference/configuration/model_contract.md
  docs/docs/reference/custom-objects/index.md
  docs/docs/reference/custom-objects/model.md
  docs/docs/reference/custom-objects/processors.md
  docs/mkdocs.yml
Due: none

Update changelog.md
  docs/docs/getting-started/changelog.md
Due: none

Deployed be4dce0 to main with MkDocs 1.4.1 and mike 1.1.2
  main/getting-started/changelog/index.html
  main/sitemap.xml.gz
Due: none

Clean up
  azimuth/modules/base_classes/dask_module.py
  docs/docs/getting-started/changelog.md
  docs/docs/index.md
Due: frontend types, flake8, mypy

Add class analysis
  CHANGELOG.md
  azimuth/app.py
  azimuth/modules/dataset_analysis/class_overlap.py
  azimuth/modules/task_mapping.py
  azimuth/plots/sankey_plot.py
  azimuth/routers/v1/class_overlap.py
  azimuth/types/class_overlap.py
  azimuth/types/general/modules.py
  azimuth/utils/plots.py
  docs/docs/_static/images/key-concepts/class-analysis-table.png
  docs/docs/_static/images/key-concepts/class-overlap-plot.png
  docs/docs/key-concepts/class-similarity.md
  docs/docs/user-guide/class-analysis.md
  docs/docs/user-guide/index.md
  docs/mkdocs.yml
  poetry.lock
  pyproject.toml
  tests/test_modules/test_dataset_analysis/test_class_overlap.py
  tests/test_routers/test_class_analysis.py
  webapp/src/App.tsx
  webapp/src/components/ClassAnalysisTable.tsx
  webapp/src/components/PageHeader.tsx
  webapp/src/pages/ClassAnalysis.tsx
  webapp/src/pages/Dashboard.tsx
  webapp/src/services/api.ts
  webapp/src/types/api.ts
  webapp/src/types/generated/generatedTypes.ts
  webapp/src/types/models.ts
  webapp/src/utils/helpers.ts
Due: prettier, frontend types, flake8, mypy

Update docs/docs/key-concepts/class-similarity.md
  docs/docs/key-concepts/class-similarity.md
Due: none

Add copyright header to new python files
  azimuth/modules/dataset_analysis/class_overlap.py
  azimuth/plots/sankey_plot.py
  azimuth/routers/v1/class_overlap.py
  azimuth/types/class_overlap.py
  tests/test_modules/test_dataset_analysis/test_class_overlap.py
  tests/test_routers/test_class_analysis.py
Due: frontend types, flake8, mypy

Add class analysis (#284)
  CHANGELOG.md
  azimuth/app.py
  azimuth/modules/base_classes/dask_module.py
  azimuth/modules/dataset_analysis/class_overlap.py
  azimuth/modules/task_mapping.py
  azimuth/plots/sankey_plot.py
  azimuth/routers/v1/class_overlap.py
  azimuth/types/class_overlap.py
  azimuth/types/general/modules.py
  azimuth/utils/plots.py
  docs/docs/_static/images/key-concepts/class-analysis-table.png
  docs/docs/_static/images/key-concepts/class-overlap-plot.png
  docs/docs/getting-started/changelog.md
  docs/docs/index.md
  docs/docs/key-concepts/class-similarity.md
  docs/docs/user-guide/class-analysis.md
  docs/docs/user-guide/index.md
  docs/mkdocs.yml
  poetry.lock
  pyproject.toml
  tests/test_modules/test_dataset_analysis/test_class_overlap.py
  tests/test_routers/test_class_analysis.py
  webapp/src/App.tsx
  webapp/src/components/ClassAnalysisTable.tsx
  webapp/src/components/PageHeader.tsx
  webapp/src/pages/ClassAnalysis.tsx
  webapp/src/pages/Dashboard.tsx
  webapp/src/services/api.ts
  webapp/src/types/api.ts
  webapp/src/types/generated/generatedTypes.ts
  webapp/src/types/models.ts
  webapp/src/utils/helpers.ts
Due: prettier, frontend types, flake8, mypy

Clean up
  Dockerfile
  docs/README.md
Due: none

add ability to specify F-E and B-E ports
  makefiles/Makefile.local
  webapp/package.json
Due: prettier

pass back-end port without setting default
  makefiles/Makefile.local
Due: none

add code elegance as per Joseph's suggestion
  makefiles/Makefile.local
Due: none

add docs and changelog
  CHANGELOG.md
  docs/docs/development/launching.md
Due: none

test your code and read your own docs
  docs/docs/development/launching.md
Due: none

Clean up CircleCI remains
  .gitignore
  azimuth/README.md
Due: frontend types, mypy

Clean up unnecessary dictionary unpacking
  azimuth/modules/base_classes/artifact_manager.py
  azimuth/routers/v1/export.py
  azimuth/task_manager.py
  tests/test_load_config.py
  tests/test_modules/test_model_contracts/test_model_contract_module.py
  tests/test_modules/test_model_contracts/test_text_classification.py
  tests/test_modules/test_module.py
  tests/test_startup.py
Due: frontend types, flake8, mypy

Back end, back-end, front end, front-end
  CHANGELOG.md
  docs/docs/development/launching.md
Due: none

Add ability to specify F-E and B-E ports (#286)
  CHANGELOG.md
  docs/docs/development/launching.md
  makefiles/Makefile.local
  webapp/package.json
Due: prettier

Deployed 9d48722 to main with MkDocs 1.4.2 and mike 1.1.2
  main/development/launching/index.html
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Define better default config
  .app_env
Due: none

Fix previous change and remove default temperature of 1
  azimuth/config.py
  azimuth/modules/base_classes/indexable_module.py
Due: frontend types, flake8, mypy

Add configs with two pipelines and uncertainty
  config/development/clinc/conf_multipipeline.json
  config/examples/clinc_oos/conf_multipipeline.json
  docs/docs/getting-started/c-run.md
Due: none
