Repository ServiceNow/azimuth: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, frontend types, flake8, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
        - id: check-yaml
          exclude: docs
        - id: end-of-file-fixer
          types: [ python ]
        - id: trailing-whitespace
        - id: pretty-format-json
          args: [--autofix, --no-sort-keys]
          exclude: webapp
  - repo: local
    hooks:
      - id: black
        name: black
        language: system
        entry: poetry run black
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types_or: [ python, pyi ]
  - repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
        - id: autoflake
          args:
            - --expand-star-imports
            - --ignore-init-module-imports
            - --in-place
            - --remove-all-unused-imports
            - --remove-duplicate-keys
            - --remove-unused-variables
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: bash -c 'cd webapp && yarn prettier --write .'
        files: webapp
  - repo: local
    hooks:
      - id: frontend types
        name: Regenerate frontend types
        language: system
        entry: bash -c 'cd webapp && yarn types'
        files: azimuth
  - repo: local
    hooks:
      - id: flake8
        name: flake8
        language: system
        entry: poetry run flake8
        types: [ python ]
  - repo: https://github.com/pycqa/isort
    rev: 5.8.0
    hooks:
      - id: isort
        name: isort
        args: [ "--profile", "black", "--skip", "__init__.py", "--filter-files" ]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        language: system
        verbose: true
        entry: bash -c 'poetry run mypy "azimuth" || true' --
        files: azimuth
        pass_filenames: false

Deployed 2a8040b to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Change based on comment
  azimuth/modules/dataset_analysis/dataset_warnings.py
  azimuth/plots/dataset_warnings.py
Due: frontend types, flake8, mypy

Fix trace order in the plot
  azimuth/plots/dataset_warnings.py
Due: frontend types, flake8, mypy

Refactor syntactic warnings (#380)
  azimuth/modules/dataset_analysis/dataset_warnings.py
  azimuth/plots/dataset_warnings.py
  azimuth/types/dataset_warnings.py
  azimuth/utils/plots.py
  tests/test_routers/test_dataset_warnings.py
Due: frontend types, flake8, mypy

Clean up
  azimuth/routers/v1/utterances.py
Due: frontend types, flake8, mypy

Remove wrong copyright header
  azimuth/utils/pydantic_utils.py
Due: frontend types, flake8, mypy

Add `persistent_id` to `class Utterance`
  azimuth/routers/v1/utterances.py
  azimuth/types/utterance.py
  tests/test_routers/test_utterances.py
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Fix generated type
  azimuth/config.py
  azimuth/types/general/alias_model.py
  azimuth/utils/openapi.py
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Shorten comment
  azimuth/types/utterance.py
Due: frontend types, flake8, mypy

Clean up
  azimuth/types/general/alias_model.py
Due: frontend types, flake8, mypy

Update poety to 1.3.2
  Dockerfile
  poetry.lock
Due: none

Update poetry to 1.3.2 (#387)
  Dockerfile
  poetry.lock
Due: none

Deployed 9653dd3 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Add persistent id to utterances (#384)
  azimuth/config.py
  azimuth/routers/v1/utterances.py
  azimuth/types/general/alias_model.py
  azimuth/types/utterance.py
  azimuth/utils/openapi.py
  azimuth/utils/pydantic_utils.py
  tests/test_routers/test_utterances.py
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Deployed b6a643b to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Performance analysis code coverage - Preview Card
  webapp/package.json
  webapp/src/components/Analysis/PreviewCard.test.tsx
Due: prettier

performance analysis test coverage - DatasetsplitToggler
  webapp/src/components/Analysis/PreviewCard.test.tsx
  webapp/src/components/Controls/DatasetSplitToggler.test.tsx
Due: prettier

Test coverage - Performance Analysis (Dashboard)
  webapp/src/components/Metrics/PerformanceAnalysis.test.tsx
Due: prettier

Test Behavioural Preview - SeeMoreLess
  webapp/src/components/SeeMoreLess.test.tsx
Due: prettier

Review comments and fixed failed test cases
  webapp/package.json
  webapp/src/components/Analysis/PreviewCard.test.tsx
  webapp/src/components/Controls/DatasetSplitToggler.test.tsx
  webapp/src/components/Icons/OutcomeIcon.test.tsx
  webapp/src/components/Metrics/PerformanceAnalysis.test.tsx
  webapp/src/components/SeeMoreLess.test.tsx
  webapp/src/components/VisualBar.test.tsx
  webapp/src/mocks/api/mockMetricsAPI.ts
Due: prettier

Performance analysis code coverage - OutcomeIcon
  webapp/src/components/Controls/DatasetSplitToggler.test.tsx
  webapp/src/components/Icons/OutcomeIcon.test.tsx
Due: prettier

Performance analysis code coverage - VisualBar
  webapp/src/components/VisualBar.test.tsx
Due: prettier

Performance analysis table - test coverage verification for child components
  webapp/src/components/Analysis/PreviewCard.test.tsx
  webapp/src/components/Controls/DatasetSplitToggler.test.tsx
  webapp/src/components/Icons/OutcomeIcon.test.tsx
  webapp/src/components/SeeMoreLess.test.tsx
  webapp/src/components/VisualBar.test.tsx
Due: prettier

Performance analysis code coverage - DataSplitToggler - part2
  webapp/src/components/Analysis/PreviewCard.test.tsx
  webapp/src/components/Controls/DatasetSplitToggler.test.tsx
Due: prettier

Refactor top words
  azimuth/modules/word_analysis/top_words.py
  azimuth/utils/ml/third_parties/stop_words.py
  azimuth/utils/utterance.py
  tests/test_modules/test_word_analysis/test_top_words.py
  tests/test_routers/test_dataset_warnings.py
  tests/test_routers/test_top_words.py
Due: frontend types, flake8, mypy

Update documentation
  docs/docs/user-guide/exploration-space/prediction-overview.md
Due: none

Refactor general warnings
  azimuth/modules/dataset_analysis/dataset_warnings.py
  azimuth/plots/dataset_warnings.py
  azimuth/utils/plots.py
Due: frontend types, flake8, mypy

Remove tokenizer and dummy saliency
  azimuth/modules/base_classes/artifact_manager.py
  azimuth/modules/model_contracts/hf_text_classification.py
  azimuth/modules/model_contracts/text_classification.py
  azimuth/modules/model_contracts/text_classification_no_saliency.py
  azimuth/modules/utilities/validation.py
  azimuth/startup.py
  tests/test_modules/test_model_contracts/test_custom_text_classification.py
  tests/test_modules/test_model_contracts/test_file_based_text_classification.py
  tests/test_modules/test_utilities/test_validation.py
  tests/test_routers/test_utterances.py
Due: frontend types, flake8, mypy

Removed coverage report to solve front-end build issue
  webapp/package.json
Due: prettier

Review comments added
  webapp/src/components/Metrics/PerformanceAnalysis.test.tsx
Due: prettier

Change according to review
  azimuth/modules/dataset_analysis/dataset_warnings.py
  azimuth/plots/dataset_warnings.py
Due: frontend types, flake8, mypy

Test various front-end components (#224)
  webapp/src/components/Analysis/PreviewCard.test.tsx
  webapp/src/components/Controls/DatasetSplitToggler.test.tsx
  webapp/src/components/Icons/OutcomeIcon.test.tsx
  webapp/src/components/Metrics/PerformanceAnalysis.test.tsx
  webapp/src/components/SeeMoreLess.test.tsx
  webapp/src/components/VisualBar.test.tsx
  webapp/src/mocks/api/mockMetricsAPI.ts
Due: prettier

Deployed fb1add5 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Refactor general warnings (#386)
  azimuth/modules/dataset_analysis/dataset_warnings.py
  azimuth/plots/dataset_warnings.py
  azimuth/utils/plots.py
Due: frontend types, flake8, mypy

Deployed 3354e14 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Refactor route and UI
  azimuth/routers/v1/dataset_warnings.py
  webapp/src/pages/Dashboard.tsx
Due: prettier, frontend types, flake8, mypy

Added default-config API route
  azimuth/routers/v1/admin.py
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Added test case for the API route - /default-config
  tests/test_routers/admin/test_admin.py
Due: flake8

Adapt module so it works with one dataset split
  azimuth/modules/dataset_analysis/dataset_warnings.py
  azimuth/plots/dataset_warnings.py
  tests/test_modules/test_dataset_analysis/test_dataset_warnings.py
  tests/test_routers/test_dataset_warnings.py
  tests/utils.py
Due: frontend types, flake8, mypy
