Repository ServiceNow/azimuth: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, frontend types, flake8, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
        - id: check-yaml
          exclude: docs
        - id: end-of-file-fixer
          types: [ python ]
        - id: trailing-whitespace
        - id: pretty-format-json
          args: [--autofix, --no-sort-keys]
          exclude: webapp
  - repo: local
    hooks:
      - id: black
        name: black
        language: system
        entry: poetry run black
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types_or: [ python, pyi ]
  - repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
        - id: autoflake
          args:
            - --expand-star-imports
            - --ignore-init-module-imports
            - --in-place
            - --remove-all-unused-imports
            - --remove-duplicate-keys
            - --remove-unused-variables
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: bash -c 'cd webapp && yarn prettier --write .'
        files: webapp
  - repo: local
    hooks:
      - id: frontend types
        name: Regenerate frontend types
        language: system
        entry: bash -c 'cd webapp && yarn types'
        files: azimuth
  - repo: local
    hooks:
      - id: flake8
        name: flake8
        language: system
        entry: poetry run flake8
        types: [ python ]
  - repo: https://github.com/pycqa/isort
    rev: 5.8.0
    hooks:
      - id: isort
        name: isort
        args: [ "--profile", "black", "--skip", "__init__.py", "--filter-files" ]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        language: system
        verbose: true
        entry: bash -c 'poetry run mypy "azimuth" || true' --
        files: azimuth
        pass_filenames: false

Deployed e7ccc47 to main with MkDocs 1.4.3 and mike 1.1.2
  main/getting-started/changelog/index.html
  main/search/search_index.json
  main/sitemap.xml.gz
Due: none

Update README.md
  README.md
Due: none

Update README.md (#594)
  README.md
Due: none

Deployed b1c7ad3 to main with MkDocs 1.4.3 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Update pythonci.yml
  .github/workflows/pythonci.yml
Due: none

Use group notations for poetry
  Dockerfile
  poetry.lock
  pyproject.toml
Due: none

Update poetry to 1.5.1
  poetry.lock
  pyproject.toml
Due: none

Try v3 got caching in github actions
  .github/workflows/pythonci.yml
Due: none

Use group notations for poetry and fix CI (#606)
  .github/workflows/pythonci.yml
  Dockerfile
  poetry.lock
  pyproject.toml
Due: none

Deployed 3f67788 to main with MkDocs 1.5.1 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Deployed dde2f0c to main with MkDocs 1.5.1 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Export `use_bma` through the API
  azimuth/dataset_split_manager.py
  azimuth/routers/export.py
  azimuth/routers/utterances.py
  tests/test_modules/test_pipeline_comparison/test_prediction_comparison.py
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Add BMA to standard modules
  azimuth/modules/base_classes/aggregation_module.py
  azimuth/modules/model_performance/confidence_binning.py
  azimuth/modules/model_performance/outcome_count.py
  azimuth/modules/model_performance/outcomes.py
  azimuth/routers/model_performance/confidence_histogram.py
  azimuth/routers/model_performance/confusion_matrix.py
  azimuth/routers/model_performance/metrics.py
  azimuth/routers/model_performance/outcome_count.py
  azimuth/startup.py
Due: frontend types, flake8, mypy

Add BMA to frontend
  azimuth/modules/model_contracts/text_classification.py
  azimuth/routers/app.py
  azimuth/routers/model_performance/confidence_histogram.py
  azimuth/types/app.py
  webapp/src/components/Analysis/UtterancesTable.tsx
  webapp/src/components/ConfidenceHistogramTopWords.tsx
  webapp/src/components/ConfusionMatrix.tsx
  webapp/src/components/Controls/Controls.tsx
  webapp/src/components/Metrics/Metrics.tsx
  webapp/src/components/PageHeader.tsx
  webapp/src/mocks/api/mockDatasetInfoAPI.ts
  webapp/src/pages/Exploration.tsx
  webapp/src/types/generated/generatedTypes.ts
  webapp/src/types/models.ts
  webapp/src/utils/helpers.ts
Due: prettier, frontend types, flake8, mypy

CHANGELOG
  CHANGELOG.md
Due: none

Update azimuth/modules/model_performance/confidence_binning.py
  azimuth/modules/model_performance/confidence_binning.py
Due: frontend types, flake8, mypy

Fix CI status checks on PR from forks
  .github/workflows/pythonci.yml
  .github/workflows/webapp_ci.yml
Due: prettier

Fix CI status checks on PR from forks (#622)
  .github/workflows/pythonci.yml
  .github/workflows/webapp_ci.yml
Due: prettier

Fix get_dataset_info_test
  tests/test_routers/test_app.py
Due: flake8

Add settings for model averaging in the frontend (#620)
  CHANGELOG.md
  azimuth/modules/base_classes/aggregation_module.py
  azimuth/modules/model_contracts/text_classification.py
  azimuth/modules/model_performance/confidence_binning.py
  azimuth/modules/model_performance/outcome_count.py
  azimuth/modules/model_performance/outcomes.py
  azimuth/routers/app.py
  azimuth/routers/model_performance/confidence_histogram.py
  azimuth/routers/model_performance/confusion_matrix.py
  azimuth/routers/model_performance/metrics.py
  azimuth/routers/model_performance/outcome_count.py
  azimuth/startup.py
  azimuth/types/app.py
  tests/test_routers/test_app.py
  webapp/src/components/Analysis/UtterancesTable.tsx
  webapp/src/components/ConfidenceHistogramTopWords.tsx
  webapp/src/components/ConfusionMatrix.tsx
  webapp/src/components/Controls/Controls.tsx
  webapp/src/components/Metrics/Metrics.tsx
  webapp/src/components/PageHeader.tsx
  webapp/src/mocks/api/mockDatasetInfoAPI.ts
  webapp/src/pages/Exploration.tsx
  webapp/src/types/generated/generatedTypes.ts
  webapp/src/types/models.ts
  webapp/src/utils/helpers.ts
Due: prettier, frontend types, flake8, mypy

Deployed 3102ddc to main with MkDocs 1.5.3 and mike 2.0.0
  main/sitemap.xml.gz
Due: none

Remove live demo since it has been killed
  README.md
Due: none
