Repository ServiceNow/azimuth: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, frontend types, flake8, mypy

prettier:
  name: prettier
  language: system
  entry: bash -c 'cd webapp && yarn prettier --write .'

frontend types:
  name: Regenerate frontend types
  language: system
  entry: bash -c 'cd webapp && yarn types'

flake8:
  name: flake8
  language: system
  entry: poetry run flake8

mypy:
  name: mypy
  language: system
  verbose: true
  entry: bash -c 'poetry run mypy "azimuth" || true' --
  pass_filenames: false

Deployed d530ae5 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Update numpy to 1.23.5
  poetry.lock
  pyproject.toml
Due: none

Enable debug option
  makefiles/Makefile.local
Due: none

Add to release notes
  docs/docs/getting-started/changelog.md
Due: none

Update torchvision to 0.14.1
  poetry.lock
Due: none

Tolerate small numerical imprecisions
  tests/test_routers/test_model_performance/test_confidence_histogram.py
  tests/test_routers/test_model_performance/test_metrics.py
Due: flake8

Update numpy to 1.23.5 and torchvision to 0.14.1 (#516)
  docs/docs/getting-started/changelog.md
  poetry.lock
  pyproject.toml
  tests/test_routers/test_model_performance/test_confidence_histogram.py
  tests/test_routers/test_model_performance/test_metrics.py
Due: flake8

Deployed 9e99522 to main with MkDocs 1.4.2 and mike 1.1.2
  main/getting-started/changelog/index.html
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Enable debug option (#517)
  makefiles/Makefile.local
Due: none

Deployed ba47b60 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Enable dask dashboard
  azimuth/app.py
  poetry.lock
  pyproject.toml
Due: frontend types, flake8, mypy

Modify task_id method and key for debugging and consistency
  azimuth/modules/base_classes/dask_module.py
  azimuth/task_manager.py
Due: frontend types, flake8, mypy

Add lock in artifact manager
  azimuth/modules/base_classes/artifact_manager.py
Due: frontend types, flake8, mypy

Update changelog
  docs/docs/getting-started/changelog.md
  docs/docs/user-guide/settings.md
Due: none

Create `StringArrayField` for lists
  webapp/src/pages/Settings.tsx
Due: prettier

Reuse types and styling props across field components
  webapp/src/pages/Settings.tsx
Due: prettier

Create `JSONField` for `args` and `kwargs`
  webapp/src/pages/Settings.tsx
Due: prettier

Stop propagation of link click from opening/closing accordions
  webapp/src/components/Description.tsx
Due: prettier

Clean up changelog indentation
  docs/docs/getting-started/changelog.md
Due: none

Adapt based on comments
  azimuth/modules/base_classes/dask_module.py
  azimuth/task_manager.py
Due: frontend types, flake8, mypy

Move handlers out of the render section
  webapp/src/pages/Settings.tsx
Due: prettier

Support editing lists, args, and kwargs (#512)
  docs/docs/getting-started/changelog.md
  docs/docs/user-guide/settings.md
  webapp/src/components/Description.tsx
  webapp/src/pages/Settings.tsx
Due: prettier

Deployed 9681c4c to main with MkDocs 1.4.2 and mike 1.1.2
  main/getting-started/changelog/index.html
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
  main/user-guide/settings/index.html
Due: none

Tackle dask issues (#518)
  azimuth/app.py
  azimuth/modules/base_classes/artifact_manager.py
  azimuth/modules/base_classes/dask_module.py
  azimuth/task_manager.py
  poetry.lock
  pyproject.toml
Due: frontend types, flake8, mypy

Deployed f81e86e to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Change release date
  docs/docs/getting-started/changelog.md
Due: none

Deployed 6c2b12e to main with MkDocs 1.4.2 and mike 1.1.2
  main/getting-started/changelog/index.html
  main/search/search_index.json
  main/sitemap.xml.gz
Due: none

Document known issue
  docs/docs/getting-started/changelog.md
Due: none

Document known issue (#520)
  docs/docs/getting-started/changelog.md
Due: none

Deployed abb987e to main with MkDocs 1.4.2 and mike 1.1.2
  main/getting-started/changelog/index.html
  main/search/search_index.json
  main/sitemap.xml.gz
Due: none

Refactor `fixedWidthInput` class
  webapp/src/pages/Settings.tsx
Due: prettier

Update `partialConfig` based on the previous state
  webapp/src/pages/Settings.tsx
Due: prettier

Fix disabling field for `postprocessor.class_name` when postprocessing is `null`
  webapp/src/pages/Settings.tsx
Due: prettier

Remove `displayPipelineStringField()`
  webapp/src/pages/Settings.tsx
Due: prettier

Create reusable handlers
  webapp/src/pages/Settings.tsx
Due: prettier

Remove `displayPostprocessorNumberField()`
  webapp/src/pages/Settings.tsx
Due: prettier

Have `StringField` support the value `null`
  webapp/src/pages/Settings.tsx
Due: prettier

Make `disabled` uniform
  webapp/src/pages/Settings.tsx
Due: prettier

Remove `displayStringField()`
  webapp/src/pages/Settings.tsx
Due: prettier

Path conditions:
  prettier: any of: webapp
  frontend types: any of: azimuth
  flake8: any of: \.py$
  mypy: any of: azimuth
