Repository ServiceNow/azimuth: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, frontend types, flake8, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
        - id: check-yaml
          exclude: docs
        - id: end-of-file-fixer
          types: [ python ]
        - id: trailing-whitespace
        - id: pretty-format-json
          args: [--autofix, --no-sort-keys]
          exclude: webapp
  - repo: local
    hooks:
      - id: black
        name: black
        language: system
        entry: poetry run black
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types_or: [ python, pyi ]
  - repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
        - id: autoflake
          args:
            - --expand-star-imports
            - --ignore-init-module-imports
            - --in-place
            - --remove-all-unused-imports
            - --remove-duplicate-keys
            - --remove-unused-variables
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: bash -c 'cd webapp && yarn prettier --write .'
        files: webapp
  - repo: local
    hooks:
      - id: frontend types
        name: Regenerate frontend types
        language: system
        entry: bash -c 'cd webapp && yarn types'
        files: azimuth
  - repo: local
    hooks:
      - id: flake8
        name: flake8
        language: system
        entry: poetry run flake8
        types: [ python ]
  - repo: https://github.com/pycqa/isort
    rev: 5.8.0
    hooks:
      - id: isort
        name: isort
        args: [ "--profile", "black", "--skip", "__init__.py", "--filter-files" ]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        language: system
        verbose: true
        entry: bash -c 'poetry run mypy "azimuth" || true' --
        files: azimuth
        pass_filenames: false

Validate behavioral testing number fields (#537)
  azimuth/config.py
  webapp/src/pages/Settings.tsx
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Create reusable handlers
  webapp/src/pages/Settings.tsx
Due: prettier

Update `partialConfig` based on the previous state
  webapp/src/pages/Settings.tsx
Due: prettier

Move field components to separate files
  webapp/src/components/Settings/JSONField.tsx
  webapp/src/components/Settings/NumberField.tsx
  webapp/src/components/Settings/StringArrayField.tsx
  webapp/src/components/Settings/StringField.tsx
  webapp/src/components/Settings/utils.ts
  webapp/src/pages/Settings.tsx
Due: prettier

Remove `displayPostprocessorNumberField()`
  webapp/src/pages/Settings.tsx
Due: prettier

Log changes
  CHANGELOG.md
Due: none

Have `StringField` support the value `null`
  webapp/src/pages/Settings.tsx
Due: prettier

Remove `displayStringField()`
  webapp/src/pages/Settings.tsx
Due: prettier

Fix config modal closing unexpectedly
  webapp/src/pages/Settings.tsx
  webapp/src/services/api.ts
Due: prettier

Remove `displayPipelineStringField()`
  webapp/src/pages/Settings.tsx
Due: prettier

Fix disabling field for `postprocessor.class_name` when postprocessing is `null`
  webapp/src/pages/Settings.tsx
Due: prettier

Refactor `fixedWidthInput` class
  webapp/src/pages/Settings.tsx
Due: prettier

Fix breadcrumbs (#541)
  CHANGELOG.md
  webapp/src/components/PageHeader.tsx
Due: prettier

Parse `ArtifactsConfig` only `if load_config_history`
  azimuth/config.py
Due: frontend types, flake8, mypy

Make `disabled` uniform
  webapp/src/pages/Settings.tsx
Due: prettier

Have `StringField` support select options
  webapp/src/pages/Settings.tsx
Due: prettier

Improve speed of outcome count per threshold
  azimuth/modules/model_performance/outcomes.py
Due: frontend types, flake8, mypy

Refactor validation modules (#542)
  azimuth/app.py
  azimuth/modules/base_classes/dask_module.py
  azimuth/modules/task_mapping.py
  azimuth/modules/validation/__init__.py
  azimuth/modules/validation/validation.py
  tests/test_modules/test_utilities/test_validation.py
Due: frontend types, flake8, mypy

Cleanup tasks in memory
  azimuth/app.py
  azimuth/modules/base_classes/dask_module.py
  azimuth/modules/task_execution.py
  azimuth/utils/routers.py
Due: frontend types, flake8, mypy

Log progress in a separate thread
  azimuth/startup.py
Due: frontend types, flake8, mypy

Fix if dependencies for empty lists
  azimuth/modules/base_classes/dask_module.py
Due: frontend types, flake8, mypy

Adapt based on comments
  azimuth/startup.py
Due: frontend types, flake8, mypy

Modify order of startup so dependencies work well
  azimuth/startup.py
Due: frontend types, flake8, mypy

Check for startup status a lot more frequently
  azimuth/startup.py
Due: frontend types, flake8, mypy

Refactor ArtifactManager and restart TaskManager (#529)
  azimuth/app.py
  azimuth/config.py
  azimuth/modules/base_classes/artifact_manager.py
  azimuth/modules/base_classes/module.py
  azimuth/routers/config.py
  azimuth/routers/export.py
  azimuth/routers/utterances.py
  azimuth/startup.py
  azimuth/task_manager.py
  azimuth/utils/project.py
  tests/conftest.py
  tests/profiling_debugging.py
  tests/test_modules/conftest.py
  tests/test_modules/test_artifact_manager.py
  tests/test_modules/test_dataset_analysis/test_similarity_analysis.py
  tests/test_modules/test_model_contracts/test_model_contract_module.py
  tests/test_modules/test_module.py
  tests/test_startup.py
  tests/test_task_manager.py
Due: frontend types, flake8, mypy

Avoid restarting task when pending
  azimuth/modules/base_classes/dask_module.py
  azimuth/modules/task_execution.py
  azimuth/task_manager.py
Due: frontend types, flake8, mypy

Rename startup tasks so they are not a substring of another
  azimuth/startup.py
Due: frontend types, flake8, mypy

Always log statuses in the same (logical) order
  azimuth/modules/base_classes/dask_module.py
  azimuth/startup.py
Due: frontend types, flake8, mypy

Make `thread_log_progress` a `daemon` thread, to make sure it doesn't prevent the app from being terminated.
  azimuth/startup.py
Due: frontend types, flake8, mypy

Refactor DatasetSplitManager to reload latest cache. (#527)
  azimuth/dataset_split_manager.py
  azimuth/modules/base_classes/expirable_mixin.py
  azimuth/task_manager.py
  azimuth/utils/logs.py
  azimuth/utils/routers.py
  tests/conftest.py
  tests/test_dataset_manager.py
  tests/test_modules/test_model_contracts/test_model_contract_module.py
Due: frontend types, flake8, mypy

Assign tasks to workers (#525)
  azimuth/modules/base_classes/dask_module.py
  azimuth/modules/base_classes/indexable_module.py
  azimuth/modules/base_classes/module.py
  azimuth/modules/dataset_analysis/similarity_analysis.py
  azimuth/modules/perturbation_testing/perturbation_testing.py
  azimuth/modules/validation/validation.py
  azimuth/modules/word_analysis/top_words.py
  poetry.lock
  pyproject.toml
Due: frontend types, flake8, mypy

Avoid checking `.done()` twice
  azimuth/startup.py
Due: frontend types, flake8, mypy

Clean up
  azimuth/startup.py
Due: frontend types, flake8, mypy

Move handlers to `utils/exception_handlers.py`
  azimuth/app.py
  azimuth/utils/exception_handlers.py
Due: frontend types, flake8, mypy

Update release notes
  CHANGELOG.md
  docs/docs/getting-started/changelog.md
  pyproject.toml
Due: none

Apply suggestions from code review
  docs/docs/getting-started/changelog.md
Due: none

Deployed 120915d to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Deployed 21b3d15 to main with MkDocs 1.4.2 and mike 1.1.2
  main/getting-started/changelog/index.html
  main/search/search_index.json
  main/sitemap.xml.gz
Due: none

Clean up change log after release
  CHANGELOG.md
Due: none
