Repository ServiceNow/azimuth: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, frontend types, flake8, mypy

prettier:
  name: prettier
  language: system
  entry: bash -c 'cd webapp && yarn prettier --write .'

frontend types:
  name: Regenerate frontend types
  language: system
  entry: bash -c 'cd webapp && yarn types'

flake8:
  name: flake8
  language: system
  entry: poetry run flake8

mypy:
  name: mypy
  language: system
  verbose: true
  entry: bash -c 'poetry run mypy "azimuth" || true' --
  pass_filenames: false

Deployed d0cfb4f to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Simplify Makefile
  Makefile
Due: none

Support serving the front end in HTTPS
  webapp/server.js
Due: prettier

Split `load_azimuth_config` into two single-responsibility methods
  azimuth/config.py
Due: frontend types, flake8, mypy

Avoid parsing the whole config prematurely
  azimuth/config.py
Due: frontend types, flake8, mypy

Simplify Makefile (#503)
  Makefile
Due: none

Fix errors after applying config changes (#501)
  webapp/src/components/StatusCheck.tsx
  webapp/src/services/api.ts
Due: prettier

Deployed 7e2fcb0 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Deployed 78e1283 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Make API errors uniform (#480)
  azimuth/app.py
  azimuth/routers/config.py
  tests/test_routers/test_export.py
  tests/test_routers/test_model_performance/test_confidence_histogram.py
  tests/test_routers/test_utterances.py
  webapp/src/types/api.ts
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Deployed ae3f592 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Stop exposing the back end's port
  docker-compose.yml
  docs/docs/getting-started/c-run.md
Due: none

Put loading and error states inside the `Dialog` box
  webapp/src/components/PageHeader.tsx
  webapp/src/pages/Settings.tsx
Due: prettier

Resolve warning
  webapp/src/components/Controls/FilterSelector.tsx
Due: prettier

Render PageHeader in only one place
  webapp/src/App.tsx
  webapp/src/components/BasicLayout.tsx
  webapp/src/pages/Exploration.tsx
Due: prettier

Avoid parsing whole config prematurely (#504)
  azimuth/config.py
Due: frontend types, flake8, mypy

Deployed 2d987f7 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Cleanup config vs task_manager.config (#499)
  azimuth/routers/app.py
  azimuth/routers/export.py
  azimuth/routers/utterances.py
  azimuth/startup.py
Due: frontend types, flake8, mypy

Deployed 1047681 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Save config only when different from last config in history
  azimuth/app.py
  azimuth/config.py
  tests/test_config.py
Due: frontend types, flake8, mypy

Revert "Simplify Makefile (#503)"
  Makefile
Due: none

Change `docker-compose` to `docker compose`
  Makefile
Due: none

Revert "Simplify Makefile (#503)" (#508)
  Makefile
Due: none

Deployed 0d48442 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Support serving the front end in HTTPS (#507)
  docker-compose.yml
  docs/docs/getting-started/c-run.md
  webapp/server.js
Due: prettier

Deployed 14a954d to main with MkDocs 1.4.2 and mike 1.1.2
  main/getting-started/c-run/index.html
  main/search/search_index.json
  main/sitemap.xml.gz
Due: none

Improve config modal (#487)
  webapp/src/App.tsx
  webapp/src/components/BasicLayout.tsx
  webapp/src/components/Controls/FilterSelector.tsx
  webapp/src/components/PageHeader.tsx
  webapp/src/pages/Exploration.tsx
  webapp/src/pages/Settings.tsx
Due: prettier

Deployed ee9081a to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Fix overwriting the partial config changes on language field change
  webapp/src/pages/Settings.tsx
Due: prettier

Fix overwriting the partial config changes on language field change (#509)
  webapp/src/pages/Settings.tsx
Due: prettier

Deployed 5060b40 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Change save_config function to method
  azimuth/app.py
  azimuth/config.py
  azimuth/utils/project.py
  tests/test_config.py
Due: frontend types, flake8, mypy

Adapt based on comments
  azimuth/app.py
  azimuth/config.py
  tests/test_config.py
  tests/test_routers/test_config.py
Due: frontend types, flake8, mypy

Update azimuth/config.py
  azimuth/config.py
Due: frontend types, flake8, mypy

Adapt based on comments
  tests/test_routers/test_config.py
Due: flake8

Save config only when different from last config in history (#506)
  azimuth/app.py
  azimuth/config.py
  azimuth/utils/project.py
  tests/test_config.py
  tests/test_routers/test_config.py
Due: frontend types, flake8, mypy

Deployed de3f428 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Update changelog.md
  docs/docs/getting-started/changelog.md
Due: none

Deployed 80094c4 to main with MkDocs 1.4.2 and mike 1.1.2
  main/getting-started/changelog/index.html
  main/search/search_index.json
  main/sitemap.xml.gz
Due: none

Path conditions:
  prettier: any of: webapp
  frontend types: any of: azimuth
  flake8: any of: \.py$
  mypy: any of: azimuth
