Repository ServiceNow/azimuth: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, frontend types, flake8, mypy

prettier:
  name: prettier
  language: system
  entry: bash -c 'cd webapp && yarn prettier --write .'

frontend types:
  name: Regenerate frontend types
  language: system
  entry: bash -c 'cd webapp && yarn types'

flake8:
  name: flake8
  language: system
  entry: poetry run flake8

mypy:
  name: mypy
  language: system
  verbose: true
  entry: bash -c 'poetry run mypy "azimuth" || true' --
  pass_filenames: false

Add language query parameter to get default config
  azimuth/routers/v1/admin.py
  tests/test_routers/admin/test_admin.py
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Adapt based on comments
  azimuth/modules/word_analysis/top_words.py
  azimuth/utils/utterance.py
  tests/test_modules/test_word_analysis/test_top_words.py
Due: frontend types, flake8, mypy

Inforce mypy in pre-commit
  .pre-commit-config.yaml
Due: none

Update doc for syntax analysis
  azimuth/modules/dataset_analysis/dataset_warnings.py
  docs/docs/key-concepts/index.md
  docs/docs/key-concepts/smart-tags.md
  docs/docs/key-concepts/syntax-analysis.md
  docs/docs/reference/configuration/analyses/syntax.md
  docs/docs/user-guide/dataset-warnings.md
Due: frontend types, flake8, mypy

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Add language query parameter to get default config (#391)
  azimuth/routers/v1/admin.py
  tests/test_routers/admin/test_admin.py
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Enforce mypy in pre-commit (#392)
  .pre-commit-config.yaml
Due: none

Deployed 00356df to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Added default-config API route (#389)
  azimuth/routers/v1/admin.py
  tests/test_routers/admin/test_admin.py
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Deployed 377df59 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Move reg ex
  azimuth/utils/utterance.py
Due: frontend types, flake8, mypy

Changed the min value starts from 0 for integer config fields
  webapp/src/pages/Settings.tsx
Due: prettier

Create TopWords config scope
  azimuth/config.py
  azimuth/modules/word_analysis/top_words.py
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Fix try and except that would not catch BaseException
  azimuth/utils/logs.py
Due: frontend types, flake8, mypy

Fix issue with no postprocessors
  azimuth/modules/model_contracts/text_classification.py
Due: frontend types, flake8, mypy

Apply suggestions from code review
  azimuth/modules/word_analysis/top_words.py
  docs/docs/user-guide/exploration-space/prediction-overview.md
Due: frontend types, flake8, mypy

Added default config changes to similarity and perturbation testing fields
  webapp/src/pages/Settings.tsx
  webapp/src/services/api.ts
Due: prettier

Add test for no postprocessors
  tests/conftest.py
  tests/test_modules/test_model_contracts/test_text_classification.py
Due: flake8

Added default config to postprocessor
  webapp/src/pages/Settings.tsx
Due: prettier

Add test for updating the config when validation module fails
  tests/test_routers/admin/test_admin.py
Due: flake8

Update docs/docs/key-concepts/syntax-analysis.md
  docs/docs/key-concepts/syntax-analysis.md
Due: none

Update doc for syntax analysis (#393)
  azimuth/modules/dataset_analysis/dataset_warnings.py
  docs/docs/key-concepts/index.md
  docs/docs/key-concepts/smart-tags.md
  docs/docs/key-concepts/syntax-analysis.md
  docs/docs/reference/configuration/analyses/syntax.md
  docs/docs/user-guide/dataset-warnings.md
Due: frontend types, flake8, mypy

Deployed e8849f3 to main with MkDocs 1.4.2 and mike 1.1.2
  main/key-concepts/index.html
  main/key-concepts/smart-tags/index.html
  main/key-concepts/syntax-analysis/index.html
  main/reference/configuration/analyses/syntax/index.html
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
  main/user-guide/dataset-warnings/index.html
Due: none

Add Status tag to trigger start up task on config update
  webapp/src/services/api.ts
Due: prettier

Remove generic tokenizer and support multiple languages for the word cloud. (#388)
  azimuth/config.py
  azimuth/modules/base_classes/artifact_manager.py
  azimuth/modules/model_contracts/hf_text_classification.py
  azimuth/modules/model_contracts/text_classification.py
  azimuth/modules/model_contracts/text_classification_no_saliency.py
  azimuth/modules/utilities/validation.py
  azimuth/modules/word_analysis/top_words.py
  azimuth/startup.py
  azimuth/utils/ml/third_parties/stop_words.py
  azimuth/utils/utterance.py
  docs/docs/user-guide/exploration-space/prediction-overview.md
  tests/test_modules/test_model_contracts/test_custom_text_classification.py
  tests/test_modules/test_model_contracts/test_file_based_text_classification.py
  tests/test_modules/test_utilities/test_validation.py
  tests/test_modules/test_word_analysis/test_top_words.py
  tests/test_routers/test_dataset_warnings.py
  tests/test_routers/test_top_words.py
  tests/test_routers/test_utterances.py
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Deployed 1e0c33e to main with MkDocs 1.4.2 and mike 1.1.2
  main/search/search_index.json
  main/sitemap.xml.gz
  main/user-guide/exploration-space/prediction-overview/index.html
Due: none

Improve optimistic update of `datasetInfo`
  webapp/src/services/api.ts
Due: prettier

Changed the min value starts from 0 for integer config fields (#394)
  webapp/src/pages/Settings.tsx
Due: prettier

Deployed fb23e98 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Add isLoading and error validation check for default config endpoint
  webapp/src/pages/Settings.tsx
Due: prettier

Add a config scope for MetricsPerFilterModule
  azimuth/config.py
  azimuth/modules/model_performance/metrics.py
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Enable use_fast for tokenizer
  azimuth_shr/loading_resources.py
Due: frontend types, flake8, mypy

Modify the comment to remove inappropriate term
  webapp/src/pages/Settings.tsx
Due: prettier

Move model-contract in ModelContractConfig and remove from artifact_path
  azimuth/config.py
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Enable use_fast for tokenizer (#401)
  azimuth_shr/loading_resources.py
Due: frontend types, flake8, mypy

Deployed 30e4c6d to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Improve optimistic update of `datasetInfo` (#398)
  webapp/src/services/api.ts
Due: prettier

Deployed b569ca6 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Rename metric to metrics
  azimuth/config.py
  azimuth/modules/model_performance/metrics.py
Due: frontend types, flake8, mypy

Adapt based on comments
  azimuth/modules/dataset_analysis/dataset_warnings.py
  tests/test_modules/test_dataset_analysis/test_dataset_warnings.py
  webapp/src/pages/Dashboard.tsx
Due: prettier, frontend types, flake8, mypy

Path conditions:
  prettier: any of: webapp
  frontend types: any of: azimuth
  flake8: any of: \.py$
  mypy: any of: azimuth
