Repository ServiceNow/azimuth: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, frontend types, flake8, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
        - id: check-yaml
          exclude: docs
        - id: end-of-file-fixer
          types: [ python ]
        - id: trailing-whitespace
        - id: pretty-format-json
          args: [--autofix, --no-sort-keys]
          exclude: webapp
  - repo: local
    hooks:
      - id: black
        name: black
        language: system
        entry: poetry run black
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types_or: [ python, pyi ]
  - repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
        - id: autoflake
          args:
            - --expand-star-imports
            - --ignore-init-module-imports
            - --in-place
            - --remove-all-unused-imports
            - --remove-duplicate-keys
            - --remove-unused-variables
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: bash -c 'cd webapp && yarn prettier --write .'
        files: webapp
  - repo: local
    hooks:
      - id: frontend types
        name: Regenerate frontend types
        language: system
        entry: bash -c 'cd webapp && yarn types'
        files: azimuth
  - repo: local
    hooks:
      - id: flake8
        name: flake8
        language: system
        entry: poetry run flake8
        types: [ python ]
  - repo: https://github.com/pycqa/isort
    rev: 5.8.0
    hooks:
      - id: isort
        name: isort
        args: [ "--profile", "black", "--skip", "__init__.py", "--filter-files" ]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        language: system
        verbose: true
        entry: bash -c 'poetry run mypy "azimuth" || true' --
        files: azimuth
        pass_filenames: false

Deployed 27d8bff to main with MkDocs 1.4.2 and mike 1.1.2
  main/reference/configuration/project/index.html
  main/search/search_index.json
  main/sitemap.xml.gz
Due: none

Fix generated types for `Union`s in `Dict`s
  azimuth/utils/openapi.py
Due: frontend types, flake8, mypy

Add Outcome option to dropdown in Smart Tag Analysis
  CHANGELOG.md
  webapp/src/components/SmartTagsTable.tsx
Due: prettier

Raise exception in module is no postprocessing
  azimuth/modules/model_performance/outcome_count.py
  azimuth/routers/v1/model_performance/outcome_count.py
  tests/test_routers/test_model_performance/test_outcome_count.py
Due: frontend types, flake8, mypy

Fix generated types for `Union`s in `Dict`s (#455)
  azimuth/utils/openapi.py
Due: frontend types, flake8, mypy

Deployed 4f013f6 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Fix `patch_utterances` being a `POST`
  azimuth/routers/v1/utterances.py
  tests/test_routers/test_export.py
  tests/test_routers/test_utterances.py
  webapp/src/services/api.ts
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Change the outcome per threshold bar chart to area chart (#444)
  CHANGELOG.md
  azimuth/modules/base_classes/indexable_module.py
  azimuth/modules/base_classes/module.py
  azimuth/modules/model_performance/outcome_count.py
  azimuth/routers/v1/model_performance/outcome_count.py
  azimuth/types/general/module_arguments.py
  azimuth/types/model_performance.py
  azimuth/types/utterance.py
  tests/test_modules/test_model_performance/test_metrics.py
  tests/test_routers/test_model_performance/test_outcome_count.py
  webapp/src/components/ConfidenceHistogram/ConfidenceHistogram.tsx
  webapp/src/components/Controls/Controls.tsx
  webapp/src/components/ThresholdPlot.tsx
  webapp/src/components/Utterance/UtteranceDataAction.tsx
  webapp/src/hooks/useWindowResize.ts
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Deployed 76a5438 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Fix `patch_utterances` being a `POST` (#457)
  azimuth/routers/v1/utterances.py
  tests/test_routers/test_export.py
  tests/test_routers/test_utterances.py
  webapp/src/services/api.ts
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Deployed 5d413fd to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Bump isort in pre-commit
  .pre-commit-config.yaml
Due: none

Save task results when loading module cache
  azimuth/startup.py
Due: frontend types, flake8, mypy

Bump isort in pre-commit (#458)
  .pre-commit-config.yaml
Due: none

Save task results when loading module cache (#459)
  azimuth/startup.py
Due: frontend types, flake8, mypy

Deployed d83701b to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Support ignoring missing persistent-ids in patch utterances route
  azimuth/dataset_split_manager.py
  azimuth/routers/v1/utterances.py
  tests/test_dataset_manager.py
  tests/test_routers/test_utterances.py
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Move check for missing persistent ids before `get_row_indices_from_persistent_id()`
  azimuth/dataset_split_manager.py
  azimuth/routers/v1/utterances.py
  tests/test_dataset_manager.py
Due: frontend types, flake8, mypy

Get config from directly from `patch_utterances()`
  azimuth/routers/v1/utterances.py
Due: frontend types, flake8, mypy

Support ignoring missing persistent ids when importing proposed actions (#461)
  azimuth/routers/v1/utterances.py
  tests/test_routers/test_utterances.py
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Deployed 5c6a04f to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Refactor get_utterances
  azimuth/routers/v1/utterances.py
Due: frontend types, flake8, mypy

Refactor filtering
  azimuth/utils/dataset_operations.py
Due: frontend types, flake8, mypy

Remove unecessary query param in proposed-actions, removed event type for button
  webapp/src/components/Analysis/UtterancesTable.tsx
Due: prettier

Add aria-controls and id to the button and menu
  webapp/src/components/Analysis/UtterancesTable.tsx
Due: prettier

Add export utterances, export proposed actions to utterance table
  webapp/src/components/Analysis/UtterancesTable.tsx
  webapp/src/utils/api.ts
Due: prettier

Add export utterances, export proposed actions to utterance table (#445)
  webapp/src/components/Analysis/UtterancesTable.tsx
  webapp/src/utils/api.ts
Due: prettier

Deployed c668bd4 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Remove unnecessary checks
  azimuth/utils/dataset_operations.py
  tests/test_utils/test_dataset_filtering.py
Due: frontend types, flake8, mypy

Stop raising if indices not compatible with filters
  azimuth/routers/v1/utterances.py
Due: frontend types, flake8, mypy

Add test
  tests/test_routers/test_utterances.py
Due: flake8

Update poetry.lock
  poetry.lock
Due: none

Refactor get_utterances (#452)
  azimuth/routers/v1/utterances.py
  azimuth/utils/dataset_operations.py
  tests/test_routers/test_utterances.py
  tests/test_utils/test_dataset_filtering.py
Due: frontend types, flake8, mypy

Deployed 26cf81e to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Update poetry.lock (#463)
  poetry.lock
Due: none

Deployed b6c5f1d to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Migrate dev dependencies to new poetry group
  pyproject.toml
Due: none

Lock poetry
  poetry.lock
Due: none

Migrate dev dependencies to new poetry group (#462)
  poetry.lock
  pyproject.toml
Due: none
