Repository ServiceNow/azimuth: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, frontend types, flake8, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
        - id: check-yaml
          exclude: docs
        - id: end-of-file-fixer
          types: [ python ]
        - id: trailing-whitespace
        - id: pretty-format-json
          args: [--autofix, --no-sort-keys]
          exclude: webapp
  - repo: local
    hooks:
      - id: black
        name: black
        language: system
        entry: poetry run black
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types_or: [ python, pyi ]
  - repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
        - id: autoflake
          args:
            - --expand-star-imports
            - --ignore-init-module-imports
            - --in-place
            - --remove-all-unused-imports
            - --remove-duplicate-keys
            - --remove-unused-variables
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: bash -c 'cd webapp && yarn prettier --write .'
        files: webapp
  - repo: local
    hooks:
      - id: frontend types
        name: Regenerate frontend types
        language: system
        entry: bash -c 'cd webapp && yarn types'
        files: azimuth
  - repo: local
    hooks:
      - id: flake8
        name: flake8
        language: system
        entry: poetry run flake8
        types: [ python ]
  - repo: https://github.com/pycqa/isort
    rev: 5.8.0
    hooks:
      - id: isort
        name: isort
        args: [ "--profile", "black", "--skip", "__init__.py", "--filter-files" ]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        language: system
        verbose: true
        entry: bash -c 'poetry run mypy "azimuth" || true' --
        files: azimuth
        pass_filenames: false

Misc fixes and cleanups (#302)
  azimuth/config.py
  webapp/src/components/Analysis/WarningsPreview.tsx
  webapp/src/components/Controls/Controls.tsx
  webapp/src/components/Controls/FilterSelector.tsx
  webapp/src/components/Controls/FilterSlider.tsx
  webapp/src/components/Controls/FilterTextField.tsx
  webapp/src/components/Metrics/Metric.tsx
  webapp/src/components/Metrics/Metrics.tsx
  webapp/src/components/Metrics/MetricsCard.tsx
  webapp/src/components/Table.tsx
  webapp/src/components/TopWords/TopWords.tsx
  webapp/src/components/TopWords/TopWordsSkeleton.tsx
  webapp/src/components/Utterance/PerturbedUtterances.tsx
  webapp/src/components/Utterance/SimilarUtterances.tsx
  webapp/src/styles/theme.tsx
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Deployed b352ae0 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

changes from code review
  azimuth/config.py
  azimuth/utils/ml/perturbation_functions.py
  tests/conftest.py
  tests/test_load_config.py
  tests/test_modules/test_dataset_analysis/test_syntax_tagging.py
Due: frontend types, flake8, mypy

docs changes from code review
  docs/docs/key-concepts/syntax-analysis.md
  docs/docs/reference/configuration/analyses/behavioral_testing.md
  docs/docs/reference/configuration/analyses/similarity.md
  docs/docs/reference/configuration/analyses/syntax.md
  docs/docs/reference/configuration/language.md
  docs/docs/reference/configuration/project.md
Due: none

Add persistent_id in the config instead of idx
  azimuth/config.py
  azimuth/dataset_split_manager.py
  azimuth/types/general/dataset.py
  azimuth_shr/data/CLINC150.py
  docs/docs/reference/configuration/project.md
  tests/test_dataset_manager.py
  tests/test_modules/test_dataset_analysis/test_syntax_tagging.py
  tests/test_performance.py
  tests/test_routers/admin/test_admin.py
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

* cleanup from code review
  tests/test_load_config.py
Due: flake8

Add persistent_id if not present in the dataset
  azimuth/config.py
  azimuth/dataset_split_manager.py
  tests/conftest.py
  tests/test_dataset_manager.py
Due: frontend types, flake8, mypy

Add filtering on row_idx and persistent_id
  azimuth/utils/dataset_operations.py
  tests/test_utils/test_dataset_filtering.py
Due: frontend types, flake8, mypy

Always call `setOverlapThreshold()` directly
  webapp/src/pages/ClassAnalysis.tsx
Due: prettier

Control overlap threshold with a `string` instead of with a `number`
  webapp/src/pages/ClassAnalysis.tsx
Due: prettier

Debounce number picker
  webapp/src/components/Controls/FilterTextField.tsx
  webapp/src/hooks/useDebounced.ts
  webapp/src/pages/ClassAnalysis.tsx
Due: prettier

Fix missing `key`
  webapp/src/components/Metrics/Metric.tsx
Due: prettier

Memoize plotly wrappers
  webapp/src/components/PlotWrapper.tsx
Due: prettier

Clean up unused imports
  webapp/src/components/Controls/FilterTextField.tsx
  webapp/src/pages/ClassAnalysis.tsx
Due: prettier

Apply suggestions from code review
  azimuth/config.py
Due: frontend types, flake8, mypy

Shorten comment by >=4 chars to make flake8 happy
  azimuth/config.py
Due: frontend types, flake8, mypy

Azimuth for French with language selection in config (#239)
  CHANGELOG.md
  azimuth/config.py
  azimuth/modules/dataset_analysis/syntax_tagging.py
  azimuth/utils/dataset_operations.py
  azimuth/utils/ml/perturbation_functions.py
  azimuth/utils/utterance.py
  docs/docs/key-concepts/behavioral-testing.md
  docs/docs/key-concepts/similarity.md
  docs/docs/key-concepts/syntax-analysis.md
  docs/docs/reference/configuration/analyses/behavioral_testing.md
  docs/docs/reference/configuration/analyses/similarity.md
  docs/docs/reference/configuration/analyses/syntax.md
  docs/docs/reference/configuration/index.md
  docs/docs/reference/configuration/language.md
  docs/docs/reference/configuration/project.md
  docs/mkdocs.yml
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/test_documentation.py
  tests/test_load_config.py
  tests/test_modules/test_dataset_analysis/test_syntax_tagging.py
  tests/test_modules/test_perturbation_testing/test_perturbation_testing.py
  tests/test_routers/admin/test_admin.py
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Add precision in comment
  azimuth/config.py
Due: frontend types, flake8, mypy

Change based on review
  azimuth/dataset_split_manager.py
Due: frontend types, flake8, mypy

Apply suggestions from code review
  azimuth/dataset_split_manager.py
Due: frontend types, flake8, mypy

Fix merge
  docs/docs/development/launching.md
  tests/test_modules/test_dataset_analysis/test_syntax_tagging.py
Due: flake8

Test 100% in confidence histogram
  tests/test_modules/test_model_performance/test_confidence_binning.py
Due: flake8

Fix 100% in confidence histogram
  azimuth/modules/model_performance/confidence_binning.py
Due: frontend types, flake8, mypy

docs tidying and iterating; class analysis -> class overlap
  docs/docs/key-concepts/class-similarity.md
  docs/docs/key-concepts/similarity.md
  docs/docs/user-guide/class-overlap.md
  docs/docs/user-guide/index.md
  docs/mkdocs.yml
Due: none

communicate more better; class analysis -> class overlap
  webapp/src/components/ClassAnalysisTable.tsx
  webapp/src/components/Description.tsx
  webapp/src/pages/ClassAnalysis.tsx
  webapp/src/pages/Dashboard.tsx
Due: prettier

Add precision in comment (#310)
  azimuth/config.py
Due: frontend types, flake8, mypy

Clean up unnecessary set manipulation
  azimuth/routers/v1/model_performance/utterance_count.py
Due: frontend types, flake8, mypy

Add TODO
  azimuth/routers/v1/utterances.py
Due: frontend types, flake8, mypy

clean up second par of description
  webapp/src/pages/ClassAnalysis.tsx
Due: prettier

Take care of `clear`ing debounced actions inside `useDebounced`
  webapp/src/components/Controls/FilterTextField.tsx
  webapp/src/hooks/useDebounced.ts
  webapp/src/pages/ClassAnalysis.tsx
Due: prettier

Forbid extra fields (#306)
  azimuth/modules/model_performance/metrics.py
  azimuth/routers/v1/model_performance/metrics.py
  azimuth/routers/v1/model_performance/utterance_count.py
  azimuth/routers/v1/tags.py
  azimuth/routers/v1/utterances.py
  azimuth/types/general/alias_model.py
  azimuth/types/model_performance.py
  azimuth/types/utterance.py
  azimuth/utils/logs.py
  pyproject.toml
  tests/test_dataset_manager.py
Due: frontend types, flake8, mypy

Deployed 42b9988 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Update datasets
  azimuth/__init__.py
  azimuth/routers/v1/utterances.py
  poetry.lock
  pyproject.toml
  tests/test_modules/test_dataset_analysis/test_dataset_warnings.py
Due: frontend types, flake8, mypy

Fix file-based tests
  tests/test_loading_resources.py
  tests/utils.py
Due: flake8

Fix test expirable module
  tests/test_task_manager.py
Due: flake8

Fix 100% in confidence histogram (#311)
  azimuth/modules/model_performance/confidence_binning.py
  tests/test_modules/test_model_performance/test_confidence_binning.py
Due: frontend types, flake8, mypy

Deployed 7671be1 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Fix 100% in confidence histogram
  CHANGELOG.md
Due: none
