Repository ServiceNow/azimuth: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, frontend types, flake8, mypy

prettier:
  name: prettier
  language: system
  entry: bash -c 'cd webapp && yarn prettier --write .'

frontend types:
  name: Regenerate frontend types
  language: system
  entry: bash -c 'cd webapp && yarn types'

flake8:
  name: flake8
  language: system
  entry: poetry run flake8

mypy:
  name: mypy
  language: system
  verbose: true
  entry: bash -c 'poetry run mypy "azimuth" || true' --
  pass_filenames: false

Fix overlap threshold number picker (#322)
  webapp/src/pages/ClassOverlap.tsx
Due: prettier

Deployed 304a105 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Apply suggestions from code review
  docs/docs/user-guide/exploration-space/utterance-details.md
Due: none

Release v2.5.0 (#315)
  CHANGELOG.md
  CITATION.cff
  README.md
  azimuth/routers/README.md
  docs/docs/_static/images/exploration-space/utterance-details-behavioral-tests.png
  docs/docs/_static/images/exploration-space/utterance-details-similarity.png
  docs/docs/getting-started/b-basics.md
  docs/docs/getting-started/c-run.md
  docs/docs/getting-started/changelog.md
  docs/docs/user-guide/custom-utterances.md
  docs/docs/user-guide/exploration-space/utterance-details.md
  pyproject.toml
Due: frontend types, mypy

Deployed 82e1115 to main with MkDocs 1.4.2 and mike 1.1.2
  main/_static/images/exploration-space/utterance-details-behavioral-tests.png
  main/_static/images/exploration-space/utterance-details-similarity.png
  main/getting-started/b-basics/index.html
  main/getting-started/c-run/index.html
  main/getting-started/changelog/index.html
  main/search/search_index.json
  main/sitemap.xml.gz
  main/user-guide/custom-utterances/index.html
  main/user-guide/exploration-space/utterance-details/index.html
Due: none

Ignore `language` environment variable
  azimuth/config.py
Due: frontend types, flake8, mypy

Update webapp_ci.yml
  .github/workflows/webapp_ci.yml
Due: prettier

Update docs_cd.yml
  .github/workflows/docs_cd.yml
Due: none

Update docker_cd.yml
  .github/workflows/docker_cd.yml
Due: none

Comment
  azimuth/config.py
  docs/docs/getting-started/changelog.md
Due: frontend types, flake8, mypy

Ignore `language` environment variable (#325)
  azimuth/config.py
  docs/docs/getting-started/changelog.md
Due: frontend types, flake8, mypy

Deployed 36808f1 to main with MkDocs 1.4.2 and mike 1.1.2
  main/getting-started/changelog/index.html
  main/search/search_index.json
  main/sitemap.xml.gz
Due: none

Deployed 36808f1 to v2.5 with MkDocs 1.4.2 and mike 1.1.2
  v2.5/getting-started/changelog/index.html
  v2.5/search/search_index.json
  v2.5/sitemap.xml.gz
Due: none

Change according to reviews
  tests/test_task_manager.py
Due: flake8

Increase patch version
  pyproject.toml
Due: none

Deployed c7141c8 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Fix flaky tests for ExpirableModule and Metrics (#321)
  tests/conftest.py
  tests/test_task_manager.py
Due: flake8

Deployed a3a4a9d to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Improve-class-overlap-images
  docs/docs/_static/images/class-overlap/class-overlap-plot.png
  docs/docs/_static/images/class-overlap/class-overlap-table.png
  docs/docs/_static/images/key-concepts/class-overlap-plot.png
  docs/docs/_static/images/key-concepts/class-overlap-table.png
  docs/docs/user-guide/class-overlap.md
  docs/docs/user-guide/index.md
Due: none

Change based on review
  azimuth/utils/dataset_operations.py
Due: frontend types, flake8, mypy

Add support for persistent ID and filtering on ID in exploration space (#301)
  azimuth/config.py
  azimuth/dataset_split_manager.py
  azimuth/types/general/dataset.py
  azimuth/utils/dataset_operations.py
  azimuth_shr/data/CLINC150.py
  docs/docs/development/launching.md
  docs/docs/reference/configuration/project.md
  tests/conftest.py
  tests/test_dataset_manager.py
  tests/test_modules/test_dataset_analysis/test_syntax_tagging.py
  tests/test_routers/admin/test_admin.py
  tests/test_utils/test_dataset_filtering.py
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Deployed abad9ed to main with MkDocs 1.4.2 and mike 1.1.2
  main/development/launching/index.html
  main/reference/configuration/project/index.html
  main/search/search_index.json
  main/sitemap.xml.gz
Due: none

Deployed 8767a2d to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Fix similar and perturbed long utterances
  CHANGELOG.md
  webapp/src/components/Utterance/PerturbedUtterances.tsx
  webapp/src/components/Utterance/SimilarUtterances.tsx
Due: prettier

Fix similar and perturbed long utterances (#330)
  CHANGELOG.md
  webapp/src/components/Utterance/PerturbedUtterances.tsx
  webapp/src/components/Utterance/SimilarUtterances.tsx
Due: prettier

Deployed 79bdc07 to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Remove warnings from GitHub actions (#326)
  .github/workflows/docker_cd.yml
  .github/workflows/docs_cd.yml
  .github/workflows/webapp_ci.yml
Due: prettier

Deployed aca5dbd to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Improve-class-overlap-images (#329)
  docs/docs/_static/images/class-overlap/class-overlap-plot.png
  docs/docs/_static/images/class-overlap/class-overlap-table.png
  docs/docs/_static/images/key-concepts/class-overlap-plot.png
  docs/docs/_static/images/key-concepts/class-overlap-table.png
  docs/docs/user-guide/class-overlap.md
  docs/docs/user-guide/index.md
Due: none

Deployed 95150cf to main with MkDocs 1.4.2 and mike 1.1.2
  main/_static/images/class-overlap/class-overlap-plot.png
  main/_static/images/class-overlap/class-overlap-table.png
  main/_static/images/key-concepts/class-overlap-plot.png
  main/_static/images/key-concepts/class-overlap-table.png
  main/search/search_index.json
  main/sitemap.xml.gz
  main/user-guide/class-overlap/index.html
  main/user-guide/index.html
Due: none

Fix webapp crash when no pipeline
  CHANGELOG.md
  webapp/src/components/Metrics/PerformanceAnalysisTable.tsx
  webapp/src/components/PageHeader.tsx
Due: prettier

Show _No pipeline_ if there is no pipeline
  webapp/src/components/PageHeader.tsx
Due: prettier

Fix webapp crash when no pipeline (#333)
  CHANGELOG.md
  webapp/src/components/Metrics/PerformanceAnalysisTable.tsx
  webapp/src/components/PageHeader.tsx
Due: prettier

Deployed fc659ac to main with MkDocs 1.4.2 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

Config page with new fields
  webapp/src/components/AccordianLayout.tsx
  webapp/src/components/Analysis/UtterancesTable.tsx
  webapp/src/components/Controls/Controls.tsx
  webapp/src/components/DatasetWarnings/DatasetDistribution.tsx
  webapp/src/components/Description.tsx
  webapp/src/pages/ClassOverlap.tsx
  webapp/src/pages/Dashboard.tsx
  webapp/src/pages/Exploration.tsx
  webapp/src/pages/PerformanceAnalysis.tsx
  webapp/src/pages/PerturbationTestingSummary.tsx
  webapp/src/pages/Settings.tsx
  webapp/src/pages/SmartTags.tsx
  webapp/src/pages/Threshold.tsx
  webapp/src/pages/UtteranceDetail.tsx
  webapp/src/types/api.ts
Due: prettier

Config settings with extra fields
  webapp/src/pages/Settings.tsx
Due: prettier

design feedback added
  webapp/src/pages/Settings.tsx
Due: prettier

fixed merging custom metrics back on selecting again
  webapp/src/pages/Settings.tsx
Due: prettier

Added new fields in config page
  webapp/src/pages/Settings.tsx
Due: prettier

Path conditions:
  prettier: any of: webapp
  frontend types: any of: azimuth
  flake8: any of: \.py$
  mypy: any of: azimuth
