Repository ServiceNow/azimuth: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, frontend types, flake8, mypy

prettier:
  name: prettier
  language: system
  entry: bash -c 'cd webapp && yarn prettier --write .'

frontend types:
  name: Regenerate frontend types
  language: system
  entry: bash -c 'cd webapp && yarn types'

flake8:
  name: flake8
  language: system
  entry: poetry run flake8

mypy:
  name: mypy
  language: system
  verbose: true
  entry: bash -c 'poetry run mypy "azimuth" || true' --
  pass_filenames: false

Reorder confusion matrix so the rejection class is last (#230)
  CHANGELOG.md
  azimuth/modules/model_performance/confusion_matrix.py
  azimuth/types/model_performance.py
  tests/test_modules/test_model_performance/test_confusion_matrix.py
  webapp/src/components/ConfusionMatrix.tsx
  webapp/src/components/Loading.tsx
  webapp/src/pages/Dashboard.tsx
  webapp/src/pages/Exploration.tsx
  webapp/src/services/api.ts
  webapp/src/types/api.ts
  webapp/src/types/generated/generatedTypes.ts
  webapp/src/utils/const.ts
Due: prettier, frontend types, flake8, mypy

Deployed d3c1e6b to main with MkDocs 1.3.1 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Cleanup after #237
  azimuth/app.py
  webapp/package.json
Due: prettier, frontend types, flake8, mypy

Cleanup after #237 (#241)
  azimuth/app.py
  webapp/package.json
Due: prettier, frontend types, flake8, mypy

Deployed b913085 to main with MkDocs 1.3.1 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Reorder confusion matrix based on reverse cuthill mckee
  CHANGELOG.md
  azimuth/modules/model_performance/confusion_matrix.py
  azimuth/routers/v1/model_performance/confusion_matrix.py
  azimuth/types/general/module_options.py
  azimuth/types/model_performance.py
  tests/test_modules/test_model_performance/test_confusion_matrix.py
  tests/test_routers/test_model_performance/test_confusion_matrix.py
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Update pull_request_template.md
  .github/pull_request_template.md
Due: none

Deployed 4194097 to main with MkDocs 1.3.1 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Refactor code
  azimuth/modules/model_performance/confusion_matrix.py
Due: frontend types, flake8, mypy

Apply suggestions from code review
  CHANGELOG.md
  azimuth/modules/model_performance/confusion_matrix.py
Due: frontend types, flake8, mypy

Remove unnecessary code
  azimuth/modules/model_performance/confusion_matrix.py
Due: frontend types, flake8, mypy

Apply suggestions from code review
  azimuth/types/general/module_options.py
  tests/test_modules/test_model_performance/test_confusion_matrix.py
Due: frontend types, flake8, mypy

Rename module options
  azimuth/modules/model_performance/confusion_matrix.py
  azimuth/routers/v1/model_performance/confusion_matrix.py
  azimuth/types/general/module_options.py
  azimuth/types/model_performance.py
  tests/test_modules/test_model_performance/test_confusion_matrix.py
  tests/test_routers/test_model_performance/test_confusion_matrix.py
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Add switch
  webapp/src/components/ConfusionMatrix.tsx
  webapp/src/types/models.ts
  webapp/src/utils/helpers.ts
Due: prettier

Update poetry command and lock
  Dockerfile
  poetry.lock
Due: none

Fix version of new deps
  poetry.lock
Due: none

Update poetry command and lock (#244)
  Dockerfile
  poetry.lock
Due: none

Replace rejection class position by rejection class name
  azimuth/modules/model_performance/confusion_matrix.py
  azimuth/types/model_performance.py
  tests/test_modules/test_model_performance/test_confusion_matrix.py
  webapp/src/components/ConfusionMatrix.tsx
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Adapt front end
  webapp/src/components/ConfusionMatrix.tsx
Due: prettier

Add documentation
  docs/docs/_static/images/exploration-space/confusion-matrix.png
  docs/docs/user-guide/exploration-space/confusion-matrix.md
Due: none

Fix config
  config/development/clinc/conf_light.json
Due: none

Fix value in doc
  docs/docs/user-guide/exploration-space/confusion-matrix.md
Due: none

Reverse the switch logic
  azimuth/modules/model_performance/confusion_matrix.py
  azimuth/routers/v1/model_performance/confusion_matrix.py
  azimuth/types/general/module_options.py
  azimuth/types/model_performance.py
  docs/docs/user-guide/exploration-space/confusion-matrix.md
  tests/test_modules/test_model_performance/test_confusion_matrix.py
  tests/test_routers/test_model_performance/test_confusion_matrix.py
  webapp/src/types/generated/generatedTypes.ts
Due: prettier, frontend types, flake8, mypy

Deployed 745360e to main with MkDocs 1.3.1 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Adapt front end
  webapp/src/components/ConfusionMatrix.tsx
  webapp/src/types/models.ts
  webapp/src/utils/helpers.ts
Due: prettier

Move tooltip
  webapp/src/components/ConfusionMatrix.tsx
Due: prettier

Include `docs/Makefile` in `Makefile`
  Makefile
  docs/Makefile
  docs/README.md
Due: none

Reorder confusion matrix based on reverse cuthill mckee (#242)
  CHANGELOG.md
  azimuth/modules/model_performance/confusion_matrix.py
  azimuth/routers/v1/model_performance/confusion_matrix.py
  azimuth/types/general/module_options.py
  azimuth/types/model_performance.py
  config/development/clinc/conf_light.json
  docs/docs/_static/images/exploration-space/confusion-matrix.png
  docs/docs/user-guide/exploration-space/confusion-matrix.md
  tests/test_modules/test_model_performance/test_confusion_matrix.py
  tests/test_routers/test_model_performance/test_confusion_matrix.py
  webapp/src/components/ConfusionMatrix.tsx
  webapp/src/types/generated/generatedTypes.ts
  webapp/src/types/models.ts
  webapp/src/utils/helpers.ts
Due: prettier, frontend types, flake8, mypy

Deployed 2b98fc8 to main with MkDocs 1.3.1 and mike 1.1.2
  main/_static/images/exploration-space/confusion-matrix.png
  main/search/search_index.json
  main/sitemap.xml.gz
  main/user-guide/exploration-space/confusion-matrix/index.html
Due: none

Rename and move makefile
  Makefile
  makefiles/Makefile.docs
Due: none

Include `docs/Makefile` in `Makefile` and clean it up (#246)
  Makefile
  docs/Makefile
  docs/README.md
  makefiles/Makefile.docs
Due: none

Deployed bcc2f3a to main with MkDocs 1.3.1 and mike 1.1.2
  main/sitemap.xml.gz
Due: none

Fix env var conflict in makefiles
  makefiles/Makefile.docs
Due: none

Deployed 1f7bf74 to main with MkDocs 1.3.1 and mike 1.1.2
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

french pos tagging model and tags
  azimuth/modules/dataset_analysis/syntax_tagging.py
  pyproject.toml
  tests/test_modules/test_dataset_analysis/test_syntax_tagging.py
Due: frontend types, flake8, mypy

update variable name to avoid reassignment
  azimuth/modules/dataset_analysis/syntax_tagging.py
Due: frontend types, flake8, mypy

clean quote in spaCy POS-tagging
  azimuth/modules/dataset_analysis/syntax_tagging.py
  tests/test_modules/test_dataset_analysis/test_syntax_tagging.py
Due: frontend types, flake8, mypy

add medium french model fr_core_news_md and test utterances
  azimuth/modules/dataset_analysis/syntax_tagging.py
  pyproject.toml
  tests/test_modules/test_dataset_analysis/test_syntax_tagging.py
Due: frontend types, flake8, mypy

Path conditions:
  prettier: any of: webapp
  frontend types: any of: azimuth
  flake8: any of: \.py$
  mypy: any of: azimuth
